<div class="header">
    <h1 class="header-title">
        ข้อมูลสนับสนุน
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="['/main']">หน้าหลัก</a></li>
        <li class="breadcrumb-item active">ข้อมูลสนับสนุน</li>
        <!-- <li class="breadcrumb-item active" aria-current="page">DataTables</li> -->
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header" style="margin-bottom: -25px;">
          <h5 class="card-title">ข้อมูลสนับสนุน</h5>
        </div>
        <div class="card-body">
          <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>No.</th>
                <th>หัวข้อ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td><p>ข้อมูลผลการดำเนินโครงการที่ได้รับจัดสรรงบประมาณจากเงินอุดหนุนทั่วไปโครงการเพิ่มขีดสมรรถนะในการกำกับและติดตามการปฏิบัติราชการในภูมิภาค </td>
              </tr>
              <tr>
                <td>2.</td>
                <td> ข้อมูลเรื่องร้องเรียนจากระบบศูนย์รับเรื่องราวร้องทุกข์ของรัฐบาล </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/multimedia/suphatdo/inpection%20information/nation_strategies_60-72.pdf">
                        ยุทธศาสตร์ชาติ (pdf)
                    </a>
                </td>
              </tr>
              <tr>
                <td>4.</td>
                <td>
                    <a target="_blank" href="http://nscr.nesdb.go.th/%E0%B9%81%E0%B8%9C%E0%B8%99%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8/">
                        แผนการปฏิรูปประเทศ (website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>5.</td>
                <td>
                    <a>
                        แผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ (website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>6.</td>
                <td>
                    <a target="_blank" href="http://nscr.nesdb.go.th/%E0%B9%81%E0%B8%9C%E0%B8%99%E0%B9%81%E0%B8%A1%E0%B9%88%E0%B8%9A%E0%B8%97%E0%B8%A0%E0%B8%B2%E0%B8%A2%E0%B9%83%E0%B8%95%E0%B9%89%E0%B8%A2%E0%B8%B8%E0%B8%97%E0%B8%98%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95/">
                        แผนแม่บทต่าง ๆ (website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>7.</td>
                <td>
                    <a target="_blank" href="http://www.soc.go.th/bb_main01.htm">
                        นโยบายรัฐบาล (website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>8.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/index.asp?pageid=1427&parent=1232&directory=12796&pagename=content1">
                        <p>กฎหมาย ระเบียบ หนังสือเวียนต่าง ๆ อาทิ ระเบียบสำนักนายกรัฐมนตรีว่าด้วยการตรวจราชการ พ.ศ.2551 ระเบียบสำนักนายกรัฐมนตรีว่าด้วยคณะกรรมการ</p>ธรรมาภิบาลจังหวัด พ.ศ. 2552 และที่แก้ไขเพิ่มเติม ระเบียบสำนักนายกรัฐมนตรีว่าด้วยการกำกับติดตามการปฏิบัติราชการในภูมิภาค (opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>9.</td>
                <td>
                    <a [routerLink]="['/govermentinpectionplan']">
                        แผนการตรวจราชการประจำปี
                    </a>
                </td>
              </tr>
              <tr>
                <td>10.</td>
                <td>
                    <a>
                        ข้อมูลประกอบการตรวจราชการ(opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>11.</td>
                <td>
                    <a target="_blank" href="http://www.moi.go.th/portal/page?_pageid=814,1100622&_dad=portal&_schema=PORTAL">
                        ข้อมูลพื้นฐานรายจังหวัด(website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>12.</td>
                <td>
                    <a target="_blank"  [routerLink]="['/instructi-onorder']">
                        คำสั่งรับผิดชอบเขตตรวจราชการ (opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>13.</td>
                <td>
                    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=8EAF7F9F94B80BB1!5828&ithint=file%2cxlsx&authkey=!AOmiHdFGs3R-itk">
                        คำสั่งรับผิดชอบเขตตรวจราชการ (onedrive)
                    </a>
                </td>
              </tr>
              <tr>
                <td>14.</td>
                <td>
                    <a target="_blank"  [routerLink]="['/inspectionorder']">
                        คำสั่งการตรวจราชการประจำปี (opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>15.</td>
                <td>
                    <a>
                        ข้อมูลเกี่ยวกับการประชุมต่าง ๆ อาทิ หนังสือเชิญประชุม ระเบียบวาระการประชุม รายงานการประชุม เอกสารประกอบการประชุม
                    </a>
                </td>
              </tr>
              <tr>
                <td>16.</td>
                <td>
                    <a>
                        ข้อมูลสำหรับการปฏิบัติงานของเจ้าหน้าที่ประจำเขตตรวจราชการ อาทิ ข้อมูลการติดต่อที่พัก ยานพาหนะ และร้านอาหาร เที่ยวบิน
                    </a>
                </td>
              </tr>
              <tr>
                <td>17.</td>
                <td>
                    <a>
                        Document Template ของแบบขออนุมัติเดินทางไปราชการ แบบขอยืมเงินทดรองราชการ สัญญาขอยืมเงิน และแบบรายงานการเดินทางไปราชการ ฯลฯ
                    </a>
                </td>
              </tr>
              <tr>
                <td>18.</td>
                <td>
                    <a target="_blank" href="http://www.soc.go.th/bb_main01.htm">
                        รายชื่อคณะรัฐมนตรี (website)
                    </a>
                </td>
              </tr>
              <tr>
                <td>19.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/index.asp?pageid=1558&parent=1232&directory=13214&pagename=content1">
                        รายชื่อรองนายกรัฐมนตรี และรัฐมนตรีประจำสำนักนายกรัฐมนตรีที่กำกับและติดตามการปฏิบัติราชการในภูมิภาค(opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>20.</td>
                <td>
                    <a>
                        รายชื่อส่วนราชการส่วนกลาง ได้แก่ กระทรวง กรม หน่วยงานอิสระ ฯลฯ
                    </a>
                </td>
              </tr>
              <tr>
                <td>21.</td>
                <td>
                    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=8EAF7F9F94B80BB1!4614&ithint=file%2cxlsx&authkey=!ABMEuku7rYKck2E">
                        รายชื่อส่วนราชการส่วนภูมิภาค ได้แก่ กลุ่มจังหวัด จังหวัด อำเภอ ตำบล หมู่บ้าน (onedrive)
                    </a>
                </td>
              </tr>
              <tr>
                <td>22.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/index.asp?pageid=1427&parent=1232&directory=14433&pagename=content1">
                        ข้อมูลการแบ่งเขตตรวจราชการ (opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>23.</td>
                <td>
                    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=8EAF7F9F94B80BB1!4569&ithint=file%2cxlsx&authkey=!AF_VQP13r-YjYI0">
                        ข้อมูลการแบ่งเขตตรวจราชการ (onedrive)
                    </a>
                </td>
              </tr>
              <tr>
                <td>24.</td>
                <td>
                    <a>
                        รายชื่อโครงการที่ได้รับจัดสรรงบประมาณจากเงินอุดหนุนทั่วไปโครงการเพิ่มขีดสมรรถนะในการกำกับและติดตามการปฏิบัติราชการในภูมิภาค
                    </a>
                </td>
              </tr>
              <tr>
                <td>25.</td>
                <td>
                    <a>
                        รายชื่อเรื่องร้องเรียนจากระบบศูนย์รับเรื่องราวร้องทุกข์ของรัฐบาล (link กับ 1111 ศบช.)
                    </a>
                </td>
              </tr>
              <tr>
                <td>26.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/index.asp?pageid=1558&parent=1232&directory=13214&pagename=content1">
                        ข้อมูลการติดต่อคณะรัฐมนตรี รองนายกรัฐมนตรี และรัฐมนตรีประจำสำนักนายกรัฐมนตรีที่กำกับและติดตามการปฏิบัติราชการในภูมิภาค (opm)
                    </a>
                </td>
              </tr>
              <tr>
                <td>27.</td>
                <td>
                    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=8EAF7F9F94B80BB1!5749&ithint=file%2cxlsx&authkey=!AFvIa097L3fAX68">
                        ข้อมูลการติดต่อผู้ตรวจราชการ(onedrive)
                    </a>
                </td>
              </tr>
              <tr>
                <td>28.</td>
                <td>
                    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=8EAF7F9F94B80BB1!5749&ithint=file%2cxlsx&authkey=!AFvIa097L3fAX68">
                        ข้อมูลการติดต่อเจ้าหน้าที่ประจำเขตตรวจราชการ(onedrive)
                    </a>
                </td>
              </tr>
              <tr>
                <td>29.</td>
                <td>
                    <a>
                        ข้อมูลการติดต่อหน่วยงานในส่วนภูมิภาค
                    </a>
                </td>
              </tr>
              <tr>
                <td>30.</td>
                <td>
                    <a target="_blank" href="http://www.ggc.opm.go.th/index.php?page=index&language=th">
                        ข้อมูลการติดต่อคณะกรรมการธรรมาภิบาลจังหวัด (link กับ ฐานข้อมูล สกธจ.)
                    </a>
                </td>
              </tr>
              <tr>
                <td>31.</td>
                <td>
                    <a>
                        ข้อมูลการติดต่อเครือข่ายคณะกรรมการธรรมาภิบาลจังหวัด (ถ้ามี)
                    </a>
                </td>
              </tr>
              <tr>
                <td>31.</td>
                <td>
                    <a target="_blank" href="http://www.opm.go.th/opmportal/index.asp?pageid=1427&parent=1232&directory=14727&pagename=content1">
                        ข้อมูลการติดต่อที่ปรึกษาผู้ตรวจราชการภาคประชาชน(opm)
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

