<div class="header">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/answersubject">แผนตรวจราชการ</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">ประเด็นนโยบายย่อย</a></li>
            <li class="breadcrumb-item active" aria-current="page">รายละเอียดประเด็นนโยบายย่อย</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header">
                <h5 class="card-title mb-0">รายละเอียด</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="Formstatus" (ngSubmit)="editstatus(Formstatus.value)">
                    <div id='testprint'>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                เรื่อง : {{resultsubjectdetail.name}}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                จังหวัด : {{province}}
                            </div>
                        </div>

                        <!-- <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <u>ระยะเวลา</u><br>
                                <span
                                    *ngFor="let item of resultsubjectdetail.subjectDateCentralPolicyProvinces; let i = index">ช่วงที่
                                    {{i+1}})
                                    {{ item.centralPolicyDateProvince.startDate | thaidate: 'year' }} -
                                    {{ item.centralPolicyDateProvince.endDate | thaidate: 'year' }}<br></span>
                            </div>
                        </div> -->
                        <div *ngIf="resultansweroutsider.length != 0" class="row" style="margin-top: 10px;">
                            <div class="col-12">
                                <u>ผู้ตอบคำถามจากหน่วยงานภายนอก
                                    <i class="fas fa-chevron-down pointer" style="margin-left: 5px; font-size: large;"
                                        id="outsider" data-toggle="collapse" [attr.data-target]="'#outsiders'"
                                        aria-expanded="false" aria-controls="outsiders"></i>
                                </u>
                                <br>
                                <br>
                                <div class="col-12 collapse" id="outsiders"
                                    *ngFor="let item of resultsubquestioncount; let i = index">
                                    <div>
                                        <div class="row">
                                            <b>คำถามที่{{i + 1}} : </b>
                                            {{item.subquestionCentralPolicyProvince.name}}
                                        </div>
                                        <div *ngFor="let items of resultansweroutsider; let ii = index">
                                            <div class="row"
                                                *ngIf="items.subquestionCentralPolicyProvinceId == item.subquestionCentralPolicyProvinceId">
                                                <div class="col-3">ตอบ : {{items.answer}}</div>
                                                <div class="col-5">คำอธิบาย : {{items.description}}</div>
                                                <div class="col-4">โดย : {{items.name}} ({{items.position}}) </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-default table-responsive-sm tableborder">
                                <tbody>
                                    <tr *ngFor="let item of resultanswer; let i = index">
                                        <div class="row col-12" style="margin-top: 10px; width: 100%;">
                                            <td style="border-top: none; width: 50%;">
                                                <u>คำถามที่ {{i + 1}}</u>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-12" style="margin-top: 6px;">
                                                            <!-- <input type="text"
                                                            value="{{item.subquestionCentralPolicyProvince.name}}"
                                                            class="form-control" placeholder="กรุณากรอกเรื่อง" readonly> -->
                                                            <textarea cols="30" rows="2" type="text"
                                                                value="{{item.subquestionCentralPolicyProvince.name}}"
                                                                class="form-control" placeholder="กรุณากรอกคำถาม"
                                                                readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="border-top: none; width: 50%;">
                                                <u>คำตอบ</u>
                                                <div>
                                                    <div>
                                                        <div class="col-12">
                                                            <div class="test-test">
                                                                <input type="text" value="{{item.answer}}"
                                                                    class="form-control" readonly>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </div>
                                        <div class="row col-12" style="margin-top: 10px; width: 100%;">
                                            <td style="border-top: none; width: 100%;">
                                                <u>คำอธิบายคำตอบ</u>
                                                <div>
                                                    <textarea cols="100%" rows="2" class="form-control"
                                                        placeholder="กรุณากรอกคำอธิบาย"
                                                        readonly>{{item.description}}</textarea>
                                                </div>
                                            </td>
                                        </div>
                                        <div *ngIf="status == 'ร่างกำหนดการ'">
                                            <td style="border-top: none;">
                                                <button class="btn btn-info" type="button"
                                                    (click)="openModalEdit(modaleditAnswer, item.id)">เลือกคำตอบและคำอธิบายใหม่ใหม่</button>
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <form [formGroup]="Formstatus"> -->
                        <div *ngIf="status == 'ร่างกำหนดการ'" class="col-12 col-xl-12" style="margin-top: 20px;">
                            <div class="form-group">
                                <div class="form-group col-md-6">
                                    <input type="radio" name="Status" value="ร่างกำหนดการ" checked
                                        formControlName="Status">
                                    <label style="margin-left: 10px;">ร่าง</label>
                                    <input style="margin-left: 10px;" type="radio" name="Status" value="ใช้งานจริง"
                                        formControlName="Status">
                                    <label style="margin-left: 10px;">ใช้งาน</label>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                        <!-- <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์</label>
                    <input type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;"> -->
                        <!-- <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="colum">
                                <u>ไฟล์แนบ</u>
                                &nbsp;&nbsp;
                                <button *ngIf="status == 'ร่างกำหนดการ'" class="btn btn-info" type="button"
                                    (click)="openAddFile(modaladdfile)">เพิ่มไฟล์แนบนโยบาย</button>
                            </div>
                            <div class="row" *ngFor="let item of resultanswerfiles; let i = index"
                                style="margin-top: 10px;">
                                <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                                    <span>ไฟล์ที่
                                        {{i+1}})
                                        {{ item.name }}<br>
                                    </span>
                                </a>
                                <i *ngIf="status == 'ร่างกำหนดการ'"
                                    class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                                    (click)="openModalDelete(modaldeleteFile, item.id)"></i>
                            </div>
                        </div>
                    </div> -->
                        <div *ngIf="status == 'ร่างกำหนดการ'" class="col-12 col-xl-12">
                            <div class="form-group">
                                <label class="form-label w-100">แนบไฟล์</label>
                                <input type="file" multiple (change)="uploadFile2($event)">
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let itemTest of s.controls; let i = index">
                            <form class="form-group row col-12" [formGroup]="itemTest">
                                <div class="col-4">
                                    <label class="textellipsis" formControlName="AnswerSubjectFile">ไฟล์ที่ {{i + 1}})
                                        {{itemTest.controls.AnswerSubjectFile.value.name}}</label>
                                </div>
                                <div class="col-8">
                                    <input formControlName="fileDescription" class="form-control" type="text"
                                        placeholder="ใส่คำอธิบาย">
                                </div>
                            </form>
                        </div>
                        <!-- formControlName="files" -->
                        <!-- <small *ngIf="fileStatus == false" class="form-text text-muted">{{resultdetailcentralpolicy?.centralPolicyFiles[0]?.name}}</small> -->
                        <div class="col-12">
                            <div class="form-group">
                                <u>ไฟล์แนบ</u><br>
                                <div class="row" *ngFor="let item of resultanswerfiles; let i = index"
                                    style="margin-top: 10px;">
                                    <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                                        <span>ไฟล์ที่
                                            {{i+1}})
                                            {{ item.name }}<br>
                                        </span>
                                    </a>
                                    <input *ngIf="status == 'ใช้งานจริง'" type="text" class="form-control ml-4" style="width: 80%;"
                                        value="{{item.description}}" readonly>
                                    <i *ngIf="status == 'ร่างกำหนดการ'"
                                        class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                                        (click)="openModalDelete(modaldeleteFile, item.id)"></i>
                                </div>
                            </div>
                        </div>
                        <!-- <label class="form-label w-100" style="margin-top: 30px;">ลายเซ็น</label>
                    <input type="file" multiple (change)="uploadSignatureFile($event)" style="margin-bottom: 10px;"> -->

                        <!-- <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <u>ไฟล์แนบกำหนดการตรวจ</u><br>
                            <div class="row" *ngFor="let item of carlendarFile; let i = index"
                                style="margin-top: 10px;">
                                <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                                    <span>ไฟล์ที่
                                        {{i+1}})
                                        {{ item.name }}<br>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    </div>
                    <div *ngIf="status == 'ร่างกำหนดการ';else elseBlock" class="form-group col col-lg-12"
                        style="margin-top: 20px; text-align: center;">
                        <button style="align-self: center;" type="submit" class="btn btn-primary"
                            style="margin-right: 45px;">บันทึก</button>
                        <!-- <button style="align-self: center;" type="submit" class="btn btn-danger">ยกเลิก</button> -->
                        <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
                    </div>
                    <ng-template #elseBlock>
                        <!-- <div class="form-group col col-lg-12" style="margin-top: 20px; text-align: center;">
                            <button style="align-self: center;" type="button" class="btn btn-primary"
                                style="margin-right: 45px;" printSectionId="testprint" ngxPrint
                                [useExistingCss]="true">ปิ้นคำถาม</button>
                            <button type="button" class="btn btn-danger" (click)="back()">ย้อนกลับ</button>
                        </div> -->
                        <div *ngIf="printstatus == 0" class="form-group col col-lg-12"
                            style="margin-top: 20px; text-align: center;">
                            <button style="align-self: center;" type="button" class="btn btn-primary"
                                style="margin-right: 45px;" (click)="printPage()">พิมพ์</button>
                            <button type="button" class="btn btn-danger" (click)="back()">ย้อนกลับ</button>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modaleditAnswer class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editAnswer(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">จัดการคำตอบ</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-lg-12">
                <table class="table table-default table-responsive-sm tableborder">
                    <tbody>
                        <tr *ngFor="let item of t.controls; let i = index">
                            <div class="row col-12" style="margin-top: 10px; width: 100%;">
                                <td style="border-top: none; width: 480px;">
                                    <u>คำถามที่ {{i + 1}}</u>
                                    <div [formGroup]="item">
                                        <div class="row">
                                            <div class="col-12" style="margin-top: 6px;">
                                                <!-- <input type="text" value="{{item.value.Question}}" class="form-control"
                                                    placeholder="กรุณากรอกเรื่อง" readonly> -->
                                                <textarea cols="30" rows="2" type="text" value="{{item.value.Question}}"
                                                    class="form-control" placeholder="กรุณากรอกคำถาม"
                                                    readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border-top: none; width: 490px;"
                                    *ngIf="item.value.Type == 'คำถามปลายปิด'else elseBlock">
                                    <u>คำตอบ</u>
                                    <div [formGroup]="item">
                                        <div>
                                            <div class="col-12 " *ngFor="let items of item.value.Choice">
                                                <div class="test-test">
                                                    <input style="margin: 5px;" type="checkbox"
                                                        [checked]="items.name == item.value.Answer ? true:false "
                                                        value="{{items.name}}" (change)="Test(i,$event.target.value)"
                                                        readonly>

                                                    <input
                                                        [ngStyle]="{'color':items.name == item.value.Answer ? 'red':''  }"
                                                        type="text" value="{{items.name}}" (click)="Test(i,items.name)"
                                                        class="form-control" readonly>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <ng-template #elseBlock>
                                    <td style="border-top: none; width: 400px;">
                                        <u>คำตอบ</u>
                                        <div [formGroup]="item">
                                            <div>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" formControlName="Answer"
                                                        placeholder="กรุณาตอบคำถาม">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-template>
                            </div>
                            <div>
                                <td style="border-top: none;">
                                    <u>คำอธิบายคำตอบ</u>
                                    <div [formGroup]="item">
                                        <textarea cols="100%" rows="2" class="form-control"
                                            placeholder="กรุณากรอกคำอธิบาย" formControlName="Description"
                                            name="Description"></textarea>
                                    </div>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </form>
    <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaladdfile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <form [formGroup]="Formfile" (ngSubmit)="AddQuestionsopen(Formfile.value)"> -->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">เพิ่มไฟล์แนบนโยบาย</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <div class="col-12 col-xl-12" style="margin-top: 10px;">
            <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple (change)="uploadFile($event)" accept="image/png, image/jpeg">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
        </div> -->
        <div class="col-12 col-xl-12">
            <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple (change)="uploadFile2($event)">
            </div>
        </div>
        <div class="form-group row" *ngFor="let itemTest of s.controls; let i = index">
            <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                    <label formControlName="AnswerSubjectFile">ไฟล์ที่ {{i + 1}})
                        {{itemTest.controls.AnswerSubjectFile.value.name}}</label>
                </div>
                <div class="col-8">
                    <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="storefile()">บันทึก</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
    </div>
    <!-- </form> -->
    <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldeleteFile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
        <i class="fa fa-info-circle delete-icon"></i>
        <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
            ลบข้อมูล
        </p>
        <p style="font-size: medium; color: #545454;">
            คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
        </p>
        <button type="button" class="btn btn-primary btnMargin" (click)="DeleteFile(delid)">
            ใช่
        </button>
        <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
            ไม่ใช่
        </button>
    </div>
</ng-template>
<!-- END primary modal -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>