<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/main">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="goBack()">สมุดตรวจอิเล็กทรอนิกส์</a></li>
      <li class="breadcrumb-item active" aria-current="page">สร้างสมุดตรวจอิเล็กทรอนิกส์</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">สร้างสมุดตรวจอิเล็กทรอนิกส์</h5>
      </div>
      <div class="card-body" style="margin-top: 45px;">
        <div class="form-group ml-2">
          <input type="radio" name="ebookType" (change)="createFromCentralpolicy()"
            value="สร้างจากแผนการตรวจราชการ">
          <label style="margin-left: 10px;">สร้างจากแผนการตรวจราชการ</label>
          <input style="margin-left: 10px;" type="radio" name="ebookType" (change)="createOwn()" value="สร้างเอง">
          <label style="margin-left: 10px;">สร้างเอง</label>
        </div>


        <!-- ==================== สร้างจากแผนการตรวจราชการ ==================== -->
        <form *ngIf="checkTypeCreate == true" [formGroup]="EbookForm" (ngSubmit)="storeElectronicBook(EbookForm.value)">
          <div>

            <div class="col-12 col-xl-12">
              <label>เลือกกำหนดการ</label>
              <label style="color: red;">*</label>
            </div>
            <div class="col-12">
              <div class="form-group row" *ngFor="let item of d.controls; let i = index">
                <form class="form-group row col-12 d-flex justify-content-between" [formGroup]="item">
                  <div class="col-12 col-xl-6">
                    <div class="form-group">
                      <my-date-picker-th formControlName="start_date" [(ngModel)]="item.start_date"
                        [options]="myDatePickerOptions" onchange="" required (dateChanged)="onStartDateChanged($event)">
                      </my-date-picker-th>
                      <div class="form-group" *ngIf="submitted && d.at(i).invalid"
                        [ngStyle]="submitted && d.at(i).invalid ? {color: '#dc3545'}:{color: ''} ">
                        <!-- <div *ngIf="submitted && d.at(i).invalid" class="invalid-feedback"> -->
                        <div style="font-size: 80%;">กรุณาเลือกกำหนดการ</div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-xl-1">
                    <div class="form-group" align="center">
                      ถึง
                    </div>
                  </div>
                  <div class="col-12 col-xl-3">
                    <div class="form-group">
                      <my-date-picker-th formControlName="end_date" [(ngModel)]="item.end_date"
                        [options]="myDatePickerOptions" required>
                      </my-date-picker-th>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label">แผนการตรวจราชการ</label>
                  <label style="color: red;">*</label>
                  <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกแผนการตรวจราชการ"
                    [multiple]="true" [items]="centralPolicyEbook" name="centralPolicyEventId"
                    formControlName="centralPolicyEventId"
                    [ngClass]="{ 'is-invalid': submitted && f.centralPolicyEventId.errors }">
                  </ng-select>
                  <div *ngIf="submitted && f.centralPolicyEventId.errors" class="invalid-feedback">
                    <div *ngIf="f.centralPolicyEventId.errors.required">ไม่มีแผนการตรวจราชการ</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ผลการตรวจ</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="checkDetail" class="form-control"
                  placeholder="กรุณากรอกผลการตรวจ">
                </textarea>
                <!-- <div *ngIf="submitted && f.checkDetail.errors" class="invalid-feedback">
                  <div *ngIf="f.checkDetail.errors.required">กรุณกรอกผลการตรวจ</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ปัญหาและอุปสรรค</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="Problem" class="form-control"
                  placeholder="กรุณากรอกปัญหาและอุปสรรค">
                </textarea>
                <!-- <div *ngIf="submitted && f.Problem.errors" class="invalid-feedback">
                  <div *ngIf="f.Problem.errors.required">กรุณกรอกปัญหาและอุปสรรค</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ข้อเสนอแนะ</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="Suggestion" class="form-control"
                  placeholder="กรุณากรอกข้อเสนอแนะ">
                </textarea>
                <!-- <div *ngIf="submitted && f.Suggestion.errors" class="invalid-feedback">
                  <div *ngIf="f.Suggestion.errors.required">กรุณกรอกข้อเสนอแนะ</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12" style="margin-top: 20px;">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="checkbox" formControlName="SendToProvince"> ส่งให้หัวหน้าส่วนจังหวัดยืนยัน
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-12 col-xl-12" style="margin-top: 20px;">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="radio" name="Status" value="ร่างกำหนดการ" checked formControlName="Status">
                    <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                    <input style="margin-left: 10px;" type="radio" name="Status" value="ใช้งานจริง"
                      formControlName="Status">
                    <label style="margin-left: 10px;">ใช้งานจริง</label>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-12">
              <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์สมุดตรวจอิเล็กทรอนิกส์</label>
              <input type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;">
              <div class="col-4">
                <select class="selectpicker form-control" data-live-search="true"
                  (change)="checkType($event.target.value)" formControlName="fileType">
                  <option value="เลือกประเภทเอกสารแนบ" selected>เลือกประเภทเอกสารแนบ</option>
                  <option value="ElectronicBook Image File">รูปภาพ</option>
                  <option value="ElectronicBook File">ไฟล์เอกสาร</option>
                </select>
              </div>
              <div class="col-8">
                <textarea *ngIf="fileType == 'ElectronicBook Image File'" cols="30" rows="5" class="form-control"
                  placeholder="กรุณาใส่คำอธิบายรูปภาพ" style="margin-top: 10px;"
                  formControlName="description"></textarea>
              </div>
            </div> -->

            <div class="col-12 mb-3">
              <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์เอกสารสมุดตรวจอิเล็กทรอนิกส์</label>
              <input type="file" multiple (change)="uploadFile2($event)" style="margin-bottom: 10px;"
                accept="application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/msword, application/docx, application/xlsx, application/doc">
            </div>

            <div class="form-group row" *ngFor="let itemTest of s.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                  <label style="text-overflow: ellipsis;">ไฟล์ที่ {{i + 1}})
                    {{itemTest.controls.ebookFile.value.name}}</label>
                </div>
                <div class="col-8">
                  <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
              </form>
            </div>

            <div class="col-12 mb-3">
              <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์รูปสมุดตรวจอิเล็กทรอนิกส์</label>
              <input type="file" multiple (change)="uploadFile3($event)" style="margin-bottom: 10px;"
                accept="image/png, image/jpeg, image/jpg">
            </div>

            <div class="form-group row" *ngFor="let itemTest of g.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                  <label style="text-overflow: ellipsis;">ไฟล์ที่ {{i + 1}})
                    {{itemTest.controls.ebookFile.value.name}}</label>
                </div>
                <div class="col-8">
                  <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
              </form>
            </div>

            <div class="form-group col col-lg-12" style="margin-top: 20px; text-align: center;">
              <button style="align-self: center;" type="submit" class="btn btn-primary"
                style="margin-right: 45px;">บันทึก</button>
              <!-- <button style="align-self: center;" type="submit" class="btn btn-danger">ยกเลิก</button> -->
              <button type="submit" class="btn btn-danger" (click)="back()">ยกเลิก</button>
            </div>
          </div>
        </form>


        <!-- ==================== สร้างเอง ==================== -->
        <form *ngIf="checkTypeCreate == false" [formGroup]="EbookForm2"
          (ngSubmit)="storeElectronicBook2(EbookForm2.value)">
          <div>
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label">ประเด็นนโยบาย</label>
                <label style="color: red;">*</label>
                <input class="form-control" type="text" formControlName="centralPolicy"
                  placeholder="กรุณากรอกประเด็นนโยบาย"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.centralPolicy.errors }">
                <div *ngIf="submitted2 && f2.centralPolicy.errors" class="invalid-feedback">
                  <div *ngIf="f2.centralPolicy.errors.required">กรุณกรอกประเด็นนโยบาย</div>
                </div>
              </div>

            </div>

            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label">จังหวัด</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
                  [items]="provinceData" name="ProvinceId" formControlName="ProvinceId">
                </ng-select>
              </div>
            </div> -->

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>พื้นที่การตรวจติดตาม {{selectedProvince.length}} จังหวัด</label>
                <label style="color: red;">*</label>
                <ng-select [items]="province" [multiple]="true" bindLabel="label" groupBy="region"
                  [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value"
                  [(ngModel)]="selectedProvince" formControlName="ProvinceId"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.ProvinceId.errors }">
                  <ng-template ng-header-tmp>
                    <div>
                      <button type="button" class="btn btn-link" (click)="onSelectAll()">เลือกทุกจังหวัด</button>
                      <button type="button" class="btn btn-link" (click)="onClearAll()">ล้าง</button>
                    </div>

                  </ng-template>
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                      [ngModel]="item$.selected" /> {{item.region }}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                      [ngModel]="item$.selected" /> {{item.name}}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted2 && f2.ProvinceId.errors" class="invalid-feedback">
                  <div *ngIf="f2.ProvinceId.errors.required">กรุณาเลือกพื้นที่การตรวจติดตาม</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label">หน่วยรับตรวจ</label>
                <label style="color: red;">*</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยรับตรวจ" [multiple]="true"
                  [items]="provincialDepartmentData" name="province" formControlName="provincialDepartment"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.provincialDepartment.errors }">
                </ng-select>
                <div *ngIf="submitted2 && f2.provincialDepartment.errors" class="invalid-feedback">
                  <div *ngIf="f2.provincialDepartment.errors.required">กรุณาเลือกพื้นที่การตรวจติดตาม</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <label>กำหนดการ</label>
              <label style="color: red;">*</label>
            </div>

            <div class="col-12">
              <div class="form-group row" *ngFor="let item of d2.controls; let i = index">
                <form class="form-group row col-12" [formGroup]="item">
                  <div class="col-12 col-xl-6">
                    <div class="form-group">

                      <my-date-picker-th formControlName="start_date" [(ngModel)]="item.start_date"
                        [options]="myDatePickerOptions" required>
                      </my-date-picker-th>

                      <!-- <my-date-picker-th formControlName="start_date" [(ngModel)]="item.start_date"
                        [options]="myDatePickerOptions" onchange="" required (dateChanged)="onStartDateChanged($event)">
                      </my-date-picker-th> -->
                      <div class="form-group" *ngIf="submitted2 && d2.at(i).invalid"
                        [ngStyle]="submitted2 && d2.at(i).invalid ? {color: '#dc3545'}:{color: ''} ">
                        <!-- <div *ngIf="submitted && d.at(i).invalid" class="invalid-feedback"> -->
                        <div style="font-size: 80%;">กรุณาเลือกกำหนดการ</div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-xl-1">
                    <div class="form-group" align="center">
                      ถึง
                    </div>
                  </div>
                  <div class="col-12 col-xl-3">
                    <div class="form-group">
                      <my-date-picker-th formControlName="end_date" [(ngModel)]="item.end_date"
                        [options]="myDatePickerOptions" required>
                      </my-date-picker-th>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ผลการตรวจ</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="checkDetail" class="form-control"
                  placeholder="กรุณากรอกผลการตรวจ">
                </textarea>
                <!-- <div *ngIf="submitted2 && f2.checkDetail.errors" class="invalid-feedback">
                  <div *ngIf="f2.checkDetail.errors.required">กรุณากรอกผลการตรวจ</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ปัญหาและอุปสรรค</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="Problem" class="form-control"
                  placeholder="กรุณากรอกปัญหาและอุปสรรค">
                </textarea>
                <!-- <div *ngIf="submitted2 && f2.Problem.errors" class="invalid-feedback">
                  <div *ngIf="f2.Problem.errors.required">กรุณากรอกปัญหาและอุปสรรค</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ข้อเสนอแนะ</label>
                <!-- <label style="color: red;">*</label> -->
                <textarea cols="30" rows="5" formControlName="Suggestion" class="form-control"
                  placeholder="กรุณากรอกข้อเสนอแนะ">
                </textarea>
                <!-- <div *ngIf="submitted2 && f2.Suggestion.errors" class="invalid-feedback">
                  <div *ngIf="f2.Suggestion.errors.required">กรุณากรอกข้อเสนอแนะ</div>
                </div> -->
              </div>
            </div>

            <div class="col-12 col-xl-12" style="margin-top: 20px;">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="checkbox" formControlName="SendToProvince"> ส่งให้หัวหน้าส่วนจังหวัดยืนยัน
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-12 col-xl-12" style="margin-top: 20px;">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="radio" name="Status" value="ร่างกำหนดการ" checked formControlName="Status">
                    <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                    <input style="margin-left: 10px;" type="radio" name="Status" value="ใช้งานจริง"
                      formControlName="Status">
                    <label style="margin-left: 10px;">ใช้งานจริง</label>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-12">
              <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์เอกสารสมุดตรวจอิเล็กทรอนิกส์</label>
              <input type="file" multiple (change)="uploadFile5($event)" style="margin-bottom: 10px;"
                accept="application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
              application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/msword, application/docx, application/xlsx, application/doc">
            </div>

            <div class="form-group row" *ngFor="let itemTest of s2.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                  <label style="text-overflow: ellipsis;">ไฟล์ที่ {{i + 1}})
                    {{itemTest.controls.ebookFile.value.name}}</label>
                </div>
                <div class="col-8">
                  <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
              </form>
            </div>

            <div class="col-12 mb-3">
              <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์รูปสมุดตรวจอิเล็กทรอนิกส์</label>
              <input type="file" multiple (change)="uploadFile4($event)" style="margin-bottom: 10px;"
                accept="image/png, image/jpeg, image/jpg">
            </div>

            <div class="form-group row" *ngFor="let itemTest of g2.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                  <label style="text-overflow: ellipsis;">ไฟล์ที่ {{i + 1}})
                    {{itemTest.controls.ebookFile.value.name}}</label>
                </div>
                <div class="col-8">
                  <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
              </form>
            </div>

            <div class="form-group col col-lg-12" style="margin-top: 20px; text-align: center;">
              <button style="align-self: center;" type="submit" class="btn btn-primary"
                style="margin-right: 45px;">บันทึก</button>
              <!-- <button style="align-self: center;" type="submit" class="btn btn-danger">ยกเลิก</button> -->
              <button type="submit" class="btn btn-danger" (click)="back()">ยกเลิก</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
