<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="#">ปีงบประมาณ</a></li>
      <li class="breadcrumb-item"><a href="#">จัดการความสัมพันธ์</a></li>
    </ol>
  </nav>
</div>
<div class="row">


  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">จัดการความสัมพันธ์</h5>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
