<div class="header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">ข้อมูลการติดต่อบุคลากร</li>
      <li class="breadcrumb-item active">รายชื่อคณะรัฐมนตรี</li>
    </ol>
  </nav>
</div>
<form class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -30px;">
        <h5 class="card-title">รายชื่อคณะรัฐมนตรี</h5>
        <div class="float-right" *ngIf="role_id == 1">
          <button class="btn btn-primary" (click)="openModal(modalCabine)"
            style="margin-top: -60px;">เพิ่มรายชื่อคณะรัฐมนตรี</button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>รูปภาพ</th>
              <th>ชื่อ-นามสกุล</th>
              <th>กระทรวง</th>
              <th>ตำแหน่ง</th>
              <th>ที่อยู่</th>
              <th>คำสั่ง</th>
              <th>ครม.</th>
              <th>เบอร์โทร</th>
              <th *ngIf="role_id == 1"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultcabine; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <div *ngIf="item.image != null">
                  <img *ngIf="item.image != 'null'" src="assets/CabineFile/{{item.image}}"
                      class="img-fluid  mb-2" width="90px" alt="รูป">
              </div>
              <img *ngIf="item.image == null || item.image == 'null'" src="imgprofile/user.png"
                  class="img-fluid  mb-2" width="90px" alt="รูป">              
              </td>      
              <td>{{ item.prefix }} {{ item.name }}</td>
              <td><label class="badge badge-secondary mr-1">{{ item.ministries.name}}</label></td>
              <td>{{ item.position }}</td>
              <td>{{ item.detail }}</td> 
              <td>{{ item.commandnumber}}</td>
              <td>{{ item.cabinet }}</td>
              <td>{{ item.tel}} </td>                       
              <td *ngIf="role_id == 1">
                <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล"
                  (click)="openModal(modaleditCabine, item.id, item.name, item.position, item.prefix, item.detail,item.commandnumber,
                  item.cabinet,item.tel,item.image,item.ministries.id)">
                  <i class="align-middle fas fa-fw fa-pen"></i>
                </button>
                <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล"
                  (click)="openModal(modaldeleteCabine, item.id, item.name)">
                    <i class="align-middle fas fa-fw fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- BEGIN primary modal -->
  <ng-template #modalCabine class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="storeCabine(Form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">เพิ่มรายชื่อคณะรัฐมนตรี</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body m-3">

          <div class="form-group">
            <label class="form-label">เลขที่คำสั่ง* </label>
            <input type="text" formControlName="Commandnumber" class="form-control" placeholder="กรุณากรอกเลขที่คำสั่ง"
            [ngClass]="{ 'is-invalid': submitted && f.Commandnumber.errors }">
            <div *ngIf="submitted && f.Commandnumber.errors" class="invalid-feedback">
              <div *ngIf="f.Commandnumber.errors.required">กรุณากรอกเลขที่คำสั่ง</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">ครม.* </label>
            <input type="text" formControlName="cabinet" class="form-control" placeholder="กรุณากรอกครม."
            [ngClass]="{ 'is-invalid': submitted && f.cabinet.errors }">
            <div *ngIf="submitted && f.cabinet.errors" class="invalid-feedback">
              <div *ngIf="f.cabinet.errors.required">กรุณากรอกครม.</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">กระทรวง* </label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกกระทรวง"
                formControlName="MinistryId" [items]="selectdataministry"              
                [ngClass]="{ 'is-invalid': submitted && f.MinistryId.errors }">
            </ng-select>
            <div *ngIf="submitted && f.MinistryId.errors" class="invalid-feedback">
                <div *ngIf="f.MinistryId.errors.required">กรุณาเลือกกระทรวง</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">คำนำหน้า* </label>
            <input type="text" formControlName="prefix" class="form-control" placeholder="กรุณากรอกคำนำหน้า"
            [ngClass]="{ 'is-invalid': submitted && f.prefix.errors }">
            <div *ngIf="submitted && f.prefix.errors" class="invalid-feedback">
              <div *ngIf="f.prefix.errors.required">กรุณากรอกคำนำหน้า</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">ชื่อ-นามสกุล* </label>
            <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อ-นามสกุล"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">กรุณากรอกชื่อ-นามสกุล</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">ตำแหน่ง* </label>
            <input type="text" formControlName="position" class="form-control" placeholder="กรุณากรอกตำแหน่ง"
            [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
            <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
              <div *ngIf="f.position.errors.required">กรุณากรอกตำแหน่ง</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">ที่อยู่* </label>
            <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกที่อยู่"
            [ngClass]="{ 'is-invalid': submitted && f.detail.errors }">
            <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
              <div *ngIf="f.detail.errors.required">กรุณากรอกที่อยู่</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">เบอร์โทร* </label>
            <input type="text" formControlName="tel" class="form-control" placeholder="กรุณากรอกเบอร์โทร"
            [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
            <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
              <div *ngIf="f.tel.errors.required">กรุณากรอกเบอร์โทร</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">รูปภาพ* </label>
            <input type="file" (change)="uploadFile($event)" accept="image/gif, image/jpeg, image/png">
            <small class="form-text text-muted">สำหรับแนบรูปภาพ </small>
          </div>
          

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->


  <!-- BEGIN primary modal -->
  <ng-template #modaldeleteCabine class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteCabine(delid)">
        ใช่
      </button>
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->

  <!-- BEGIN primary modal -->
  <ng-template #modaleditCabine class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editCabine(Form.value,delid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แก้ไขรายชื่อคณะรัฐมนตรี</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">

      <div class="form-group">
        <label class="form-label">เลขที่คำสั่ง* </label>
        <input type="text" formControlName="Commandnumber" class="form-control" placeholder="กรุณากรอกเลขที่คำสั่ง"
        [ngClass]="{ 'is-invalid': submitted && f.Commandnumber.errors }">
        <div *ngIf="submitted && f.Commandnumber.errors" class="invalid-feedback">
          <div *ngIf="f.Commandnumber.errors.required">กรุณากรอกเลขที่คำสั่ง</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">ครม.* </label>
        <input type="text" formControlName="cabinet" class="form-control" placeholder="กรุณากรอกครม."
        [ngClass]="{ 'is-invalid': submitted && f.cabinet.errors }">
        <div *ngIf="submitted && f.cabinet.errors" class="invalid-feedback">
          <div *ngIf="f.cabinet.errors.required">กรุณากรอกครม.</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">กระทรวง* </label>
        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกกระทรวง"
            formControlName="MinistryId" [items]="selectdataministry"              
            [ngClass]="{ 'is-invalid': submitted && f.MinistryId.errors }">
        </ng-select>
        <div *ngIf="submitted && f.MinistryId.errors" class="invalid-feedback">
            <div *ngIf="f.MinistryId.errors.required">กรุณาเลือกกระทรวง</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">คำนำหน้า* </label>
        <input type="text" formControlName="prefix" class="form-control" placeholder="กรุณากรอกคำนำหน้า"
        [ngClass]="{ 'is-invalid': submitted && f.prefix.errors }">
        <div *ngIf="submitted && f.prefix.errors" class="invalid-feedback">
          <div *ngIf="f.prefix.errors.required">กรุณากรอกคำนำหน้า</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">ชื่อ-นามสกุล* </label>
        <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อ-นามสกุล"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">กรุณากรอกชื่อ-นามสกุล</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">ตำแหน่ง* </label>
        <input type="text" formControlName="position" class="form-control" placeholder="กรุณากรอกตำแหน่ง"
        [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
        <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
          <div *ngIf="f.position.errors.required">กรุณากรอกตำแหน่ง</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">ที่อยู่* </label>
        <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกที่อยู่"
        [ngClass]="{ 'is-invalid': submitted && f.detail.errors }">
        <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
          <div *ngIf="f.detail.errors.required">กรุณากรอกที่อยู่</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">เบอร์โทร* </label>
        <input type="text" formControlName="tel" class="form-control" placeholder="กรุณากรอกเบอร์โทร"
        [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
          <div *ngIf="f.tel.errors.required">กรุณากรอกเบอร์โทร</div>
        </div> 
      </div>

      <div class="form-group">
        <label class="form-label">รูปภาพ* </label>
        <div *ngIf="filename != null">
          <img *ngIf="filename != 'null'" src="assets/CabineFile/{{filename}}"
              class="img-fluid  mb-2" width="90px" alt="รูป">
        </div>
        <img *ngIf="filename == null || filename == 'null'" src="imgprofile/user.png"
          class="img-fluid  mb-2" width="90px" alt="รูป">    
        <input type="file" (change)="uploadFile($event)" accept="image/jpeg, image/png">
        <small class="form-text text-muted">สำหรับแนบรูปภาพ </small>
      </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
<!-- </div> -->
</ng-template>
<!-- END primary modal -->
