<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">แผนการตรวจ</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มผู้ตรวจ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">รายละเอียด</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeFiles(Form.value)">
          <div class="row">
            <div class="col-md-6">
              ผู้สังการ : {{resultdetailcentralpolicy.createdBy}}
            </div>
            <div class="col-md-6">
              ตำแหน่ง : ผู้ตรวจการ
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              เรื่อง : {{resultdetailcentralpolicy.title}}
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              จังหวัด : ขอนแก่น
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>กำหนดลงพื่นที่</u><br><span *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyDates; let i = index">ช่วงที่ {{i+1}}) {{ item2.startDate | thaidate: 'year' }} - {{ item2.endDate | thaidate: 'year' }}<br></span>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>กระทรวง/กรม</u> &nbsp;&nbsp; <button (click)="openModal(modalInviteMinistryPeople)"
                class="btn btn-info">เชิญกระทรวง/กรม</button>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-12">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
                <div class="col-3">
                  {{i + 1}}. {{items.user.prefix}} {{items.user.name}}
                </div>
                <div class="col-2">
                  <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ตกลง'" class="btn btn-sm btn-success"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                    disabled>{{items.status}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>ภาคประชาชน</u> &nbsp;&nbsp; <button class="btn btn-info"
                (click)="openModal(modalInvitePeople)">เชิญภาคประชาชน</button>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">

            </div>
          </div>

          <div class="row" style="margin-top: 10px; ">
            <div class="col-md-6">
              <u>เรื่องประเด็น</u>
            </div>
            <div class="col-md-6">
              <u>คำถามย่อย</u>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <table class="table table-default table-responsive-sm tableborder">
                <tbody *ngFor="let items of resultdetailcentralpolicy.subjects;let i = index">
                  <tr>
                    <td style="border-top: none;">{{i +1}}. {{items.name}}</td>
                    <td style="border-top: none;" width="50%">
                      <div *ngFor="let item of items.subquestions;let i = index">
                        {{ i+1 }}. {{item.name}}
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>ไฟล์แนบ</u><br><span *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index">ไฟล์ที่ {{i+1}}) {{ item2.name }}<br></span>
            </div>
          </div>
          <br>
          <!-- <div class="col-12 col-xl-12">
            <div class="form-group">
              <label class="form-label w-100">แนบไฟล์เพิ่มเติม</label>
              <input type="file">
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div> -->

          <div class="form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">บันทึก</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-danger">ยกเลิก</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- BEGIN primary modal -->
<ng-template #modalInvitePeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storePeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectpeople" name="UserPeopleId"
          formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalInviteMinistryPeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storePeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectministrypeople"
          name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มผู้ตรวจ</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeUser(Form.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>

              <div class="form-group">
                <label>เรื่อง* </label>
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.title}}" readonly>
              </div>
            </div>
            <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา*</label>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.startDate | date: 'dd/MM/yyyy' }}" readonly>
              </div>
            </div>

            <div class="col-12 col-xl-1">
              <div class="form-group" align="center">
                ถึง
              </div>
            </div>

            <div class="col-12 col-xl-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.endDate | date: 'dd/MM/yyyy'}}" readonly>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <label>เชิญ กระทรวง/กรม*</label>
              <div class="form-row">
                <label class="form-group col-md-1 text-sm-center">
                  1.
                </label>
                <div class="form-group col-md-4">
                  <div class="mb-3">

                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 col-xl-12">
              <label>เชิญ ภาคประชาชน*</label>
              <div class="form-row">
                <label class="form-group col-md-1 text-sm-center">
                  1.
                </label>

                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectpeople"
                      name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
                    </ng-select>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเด็น*</label>
                <div *ngFor="let item of resultdetailcentralpolicy.subjects; let i = index" class="row">
                  <div class="col-1 text-center">
                    {{ i + 1 }}.
                  </div>
                  <div class="col-11">
                    <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง" value="{{item.name}}"
                      readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-danger">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
