<div class="header">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="test02.html">จัดการหลักสูตรการอบรม</a></li>
            <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">เพิ่มหลักสูตรการอบรม</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">แก้ไขหลักสูตรการอบรม</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="Form" (ngSubmit)="editTraining(Form.value)">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <br>
                            <div class="input-group">
                                <div class="form-group">
                                    <label>รหัสปี</label>
                                    <input type="text" maxlength="2" formControlName="year" class="form-control"
                                        placeholder="กรุณากรอกปี" [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                                        <div *ngIf="f.year.errors.required">กรุณากรอกปี</div>
                                         </div>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>รหัสหลักสูตร</label>
                                    <input type="text" maxlength="2" formControlName="coursecode" class="form-control"
                                        placeholder="กรุณากรอกรหัสหลักสูตร" [ngClass]="{ 'is-invalid': submitted && f.coursecode.errors }">
                                    <div *ngIf="submitted && f.coursecode.errors" class="invalid-feedback">
                                        <div *ngIf="f.coursecode.errors.required">กรุณากรอกรหัสหลักสูตร</div>
                                    </div>
                                </div>

                            </div>
                            <div class="input-group col-12" style="margin-left: -25px;">
                                <div class="form-group col-8">
                                    <label>ชื่อหลักสูตรการอบรม</label>
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="กรุณากรอกชื่อหลักสูตรการอบรม" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">กรุณากรอกรหัสหลักสูตร</div>
                                        </div>
                                    <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
                                </div>
                                
                                <div class="form-group col-4">
                                    <label>รุ่นที่</label>
                                    <input type="text" formControlName="generation" class="form-control"
                                        placeholder="กรุณากรอกรุ่นที่" [ngClass]="{ 'is-invalid': submitted && f.generation.errors }">
                                        <div *ngIf="submitted && f.generation.errors" class="invalid-feedback">
                                            <div *ngIf="f.generation.errors.required">กรุณากรอกรหัสหลักสูตร</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>คำอธิบายหลักสูตรการอบรม</label>
                                <textarea type="text" formControlName="detail" class="form-control"
                                    placeholder="กรุณากรอคำอธิบายหลักสูตรการอบรม"
                                    style="width: 100%; height:200px;" [ngClass]="{ 'is-invalid': submitted && f.detail.errors }"></textarea>
                                    <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
                                        <div *ngIf="f.detail.errors.required">กรุณากรอกรหัสหลักสูตร</div>
                                    </div>
                                <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
                            </div>
                            <!-- <div class="form-group">
                                <label>วิทยากร</label>
                                <input type="text" formControlName="lecturer_name" class="form-control" placeholder="กรุณากรอกชื่อวิทยากร" style="width: 50%;">
                            </div> -->
                        </div>


                        <div class="col-12 col-xl-12">
                            <label>กำหนดระยะรับสมัครเข้าอบรม</label>
                        </div>
                        <div class="col-12 col-xl-3">
                            <div class="form-group">
                                <my-date-picker-th [selDate]="fe.value.regis_start_date"
                                    (dateChanged)="onDateRegisChangedStart($event)" [options]="myDatePickerOptions" required>
                                </my-date-picker-th>
                                <!-- <my-date-picker-th formControlName="regis_start_date"    [options]="myDatePickerOptions"
                                    required>
                                </my-date-picker-th> -->

                            </div>
                        </div>

                        <div class="col-12 col-xl-1">
                            <div class="form-group" align="center">
                                ถึง
                            </div>
                        </div>

                        <div class="col-12 col-xl-3">
                            <div class="form-group">

                                <!-- <my-date-picker-th formControlName="regis_end_date"    [options]="myDatePickerOptions"
                                    required>
                                </my-date-picker-th> -->
                                <my-date-picker-th [selDate]="fe.value.regis_end_date"
                                    (dateChanged)="onDateRegisChangedEnd($event)" [options]="myDatePickerOptions" required>
                                </my-date-picker-th>

                            </div>
                        </div>

                        <div class="col-12 col-xl-12">
                            <label>กำหนดระยะเวลาอบรม</label>
                        </div>
                        <div class="col-12 col-xl-3">
                            <div class="form-group">
                                <!-- <my-date-picker-th formControlName="start_date"    [options]="myDatePickerOptions"
                                    required>
                                </my-date-picker-th> -->

                                <my-date-picker-th [selDate]="fe.value.start_date"
                                    (dateChanged)="onDateChangedstart($event)" [options]="myDatePickerOptions" required>
                                </my-date-picker-th>

                            </div>
                        </div>

                        <div class="col-12 col-xl-1">
                            <div class="form-group" align="center">
                                ถึง
                            </div>
                        </div>

                        <div class="col-12 col-xl-3">
                            <div class="form-group">

                                <!-- <my-date-picker-th formControlName="end_date"    [options]="myDatePickerOptions" required>
                                </my-date-picker-th> -->
                                <my-date-picker-th [selDate]="fe.value.end_date"
                                    (dateChanged)="onDateChangedend($event)" [options]="myDatePickerOptions" required>
                                </my-date-picker-th>

                            </div>
                        </div>

                        <div class="col-12 col-xl-12">
                            <div class="form-group">
                                <label class="form-label w-100">แนบไฟล์รูปปกหลักสูตร</label>
                                <br><br>
                                <img src="{{ this.downloadUrl }}{{ this.ImgProfile }}" width="150px" />
                               
                                <br><br>
                                <input type="file" (change)="uploadFile($event)" Accept=".jpg, .jpeg, .png">
                                <small class="form-text text-muted">สำหรับแนบไฟล์ .jpg .png เท่านั้น</small>
                            </div>
                        </div>

                    </div>
                    <br /><br />
                    <!-- <hr> -->
                    <div class="form-group" style="text-align: center; justify-content: center;">
                        <button style="margin-right: 15px;" type="submit" class="btn btn-primary">บันทึก</button>
                        <button style="margin-left: 15px;" type="button" class="btn btn-danger" (click)="gotoBack()">ยกเลิก</button>
                    </div>

                    <!-- <div class="row">
                        <div class="col-5 text-right">
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5 text-left">
                            <a href="training" class="btn btn-danger">ยกเลิก</a>
                        </div>
                    </div> -->

                </form>
            </div>
        </div>
    </div>
</div>