.margin-plus-icon {
  margin-top: 13px;
}
.btnMargin {
  margin: 10px;
  width: 90px;
  height: 45px;
}
.delete-icon {
  font-size: 80px;
  color: #f8bb86;
  border-color: #facea8;
}
.pointer {
  cursor:pointer;
}

.Xs, .Ys, .Zs, p{
  margin: 10px;
 }
 
 input{
   margin: 10px;
 }
 
 input[type="button"], p{
   margin-top: 0px;
 }
 
 
 .Xs{
   border: red solid 1px;
   background-color: #ff7f7f;
 }
 
 .Ys{
   border: green solid 1px;
     background-color: #7fbf7f;
 }
 
 .Zs{
   border: blue solid 1px;
     background-color: #7f7fff;
 }
 
 input[value="Add X"]{
   background-color: #ff7f7f;
 }
 
 input[value="Add Y"]{
     background-color: #7fbf7f;
 }
 
 input[value="Add Z"]{
      background-color: #7f7fff;
 }
 
 
