<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)">นโยบายกลาง</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">ประเด็นการตรวจติดตาม</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มประเด็นการตรวจติดตาม</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">จัดการประเด็นนโยบาย : {{resultcentralpolicy.title}}</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeSubject(Form.value)">
          <div class="">
            <div class="col-12 col-xl-12">
              <br>
            </div>
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ชื่อเรื่อง</label>
                <!-- <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อเรื่อง"> -->
                <textarea cols="30" rows="5" type="text" formControlName="name" class="form-control"
                  placeholder="กรุณากรอกชื่อเรื่อง"></textarea>
              </div>
              <div class="form-group">
                <label>คำชี้แจง</label>
                <!-- <input type="text" formControlName="explanation" class="form-control" placeholder="กรุณากรอกคำชี้แจง"> -->
                <textarea cols="30" rows="5" type="text" formControlName="explanation" class="form-control"
                  placeholder="กรุณากรอกคำชี้แจง"></textarea>
              </div>
              <div class="form-group">
                <label>กำหนดระยะเวลา</label>
                <ng-select bindLabel="label" bindValue="value" multiple="true" placeholder="กรุณาเลือกระยะเวลา"
                  [items]="times" name="ํTime" formControlName="centralpolicydateid">
                </ng-select>
              </div>
              <!-- <div class="form-group">
                <div class="mb-3">
                  <input type="radio" name="status" value="ร่างกำหนดการ" checked formControlName="status">
                  <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                  <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง"
                    formControlName="status">
                  <label style="margin-left: 10px;">ใช้งานจริง</label>
                </div>
              </div> -->
              <hr width="100%" color="black">
              <div class="form-group">
                <!-- <label>พื้นที่ดำเนินการ</label> -->
                <div formArrayName="inputsubjectdepartment">
                  <div *ngFor="let V of Form['controls'].inputsubjectdepartment['controls']; let iv=index">
                    <div formGroupName="{{iv}}">
                      <div class="form-group row">
                        <div class="col-2">
                          <label>ผู้ให้ข้อมูล</label>
                        </div>
                        <div class="col-1" *ngIf="iv == 0; else elseBlock">
                          <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addV()" value="Add V"></i>
                        </div>
                        <ng-template #elseBlock>
                          <div class="col-1">
                            <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeV(iv)"
                              value="Add V"></i>
                          </div>
                        </ng-template>
                      </div>
                      <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="true"
                        [items]="temp" formControlName="departmentId"
                        (ngModelChange)="addsubjectdepartment2($event,'add')"
                        (deselected)="addsubjectdepartment2($event,'remove')">
                      </ng-select>
                      <br>
                      <br>
                      <label>ประเด็นการตรวจติดตาม</label>
                      <br>
                      <!-- <label>คำถามปลายเปิด</label> -->
                      <!-- <div formArrayName="inputquestionopen">
                        <div *ngFor="let W of V['controls'].inputquestionopen['controls']; let iw=index">
                          <div formGroupName="{{iw}}">
                            <div class="row">
                              <div class="col-11 col-xl-11">
                                <input type="text" formControlName="questionopen" class="form-control"
                                  placeholder="กรุณากรอกคำถาม">
                              </div>
                              <div class="col-1">
                                <div class="col-1 margin-plus-icon" *ngIf="iw == 0; else elseBlock">
                                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addW(iv)"
                                    value="Add W"></i>
                                </div>
                                <ng-template #elseBlock>
                                  <div class="col-1 margin-plus-icon">
                                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeW(iv,iw)"
                                      value="Add X"></i>
                                  </div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- <label>คำถามปลายปิด</label> -->
                      <div formArrayName="inputquestionclose">
                        <div *ngFor="let X of V['controls'].inputquestionclose['controls']; let ix=index">
                          <div formGroupName="{{ix}}">
                            <div class="col-12 row">
                              <div style="margin-top: 15px;">
                                {{ix + 1}}
                              </div>
                              <div class="col-10 col-xl-10">
                                <!-- <input type="text" formControlName="questionclose" class="form-control"
                                  placeholder="กรุณากรอกคำถาม"> -->
                                <textarea cols="30" rows="5" type="text" formControlName="questionclose"
                                  class="form-control" placeholder="กรุณากรอกคำถาม"></textarea>
                              </div>
                              <div class="col-1">
                                <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addX(iv)"
                                    value="Add X"></i>
                                </div>
                                <ng-template #elseBlock>
                                  <div class="col-1 margin-plus-icon">
                                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeX(iv,ix)"
                                      value="Add X"></i>
                                  </div>
                                </ng-template>
                              </div>
                            </div>
                            <div formArrayName="inputanswerclose">
                              <div *ngFor="let Y of X['controls'].inputanswerclose['controls']; let iy=index">
                                <div formGroupName="{{iy}}">
                                  <div class="row" style="margin-left: 8px;">
                                    <div class="col-9 col-xl-9">
                                      <input type="text" formControlName="answerclose" class="form-control"
                                        placeholder="กรุณากรอกคำตอบให้เลือก">
                                    </div>
                                    <div class="col-1">
                                      <div class="col-1 margin-plus-icon" *ngIf="iy == 0; else elseBlock">
                                        <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addY(iv,ix)"
                                          value="Add Y"></i>
                                      </div>
                                      <ng-template #elseBlock>
                                        <div class="col-1 margin-plus-icon">
                                          <i class="align-middle mr-2 far fa-fw fa-minus-square"
                                            (click)="removeY(iv,ix,iy)" value="Add Y"></i>
                                        </div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr width="100%" color="black">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>

                <!-- <label>คำถามปลายปิด</label> -->
                <!-- <div formArrayName="inputquestionclose">
                  <div *ngFor="let X of Form['controls'].inputquestionclose['controls']; let ix=index">
                    <div formGroupName="{{ix}}">
                      <div class="row">
                        <div class="col-11 col-xl-11">
                          <input type="text" formControlName="questionclose" class="form-control"
                            placeholder="กรุณากรอกคำถาม">
                        </div>
                        <div class="col-1">
                          <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                            <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addX()" value="Add X"></i>
                          </div>
                          <ng-template #elseBlock>
                            <div class="col-1 margin-plus-icon">
                              <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeX(ix)"
                                value="Add X"></i>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div formArrayName="inputanswerclose">
                        <div *ngFor="let Y of X['controls'].inputanswerclose['controls']; let iy=index">
                          <div formGroupName="{{iy}}">
                            <div class="row">
                              <div class="col-9 col-xl-9">
                                <input type="text" formControlName="answerclose" class="form-control"
                                  placeholder="กรุณากรอกคำตอบให้เลือก">
                              </div>
                              <div class="col-1">
                                <div class="col-1 margin-plus-icon" *ngIf="iy == 0; else elseBlock">
                                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addY(ix)"
                                    value="Add Y"></i>
                                </div>
                                <ng-template #elseBlock>
                                  <div class="col-1 margin-plus-icon">
                                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeY(ix,iy)"
                                      value="Add Y"></i>
                                  </div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple (change)="uploadFile2($event)">
              </div>
            </div>
            <div class="form-group row" *ngFor="let itemTest of s.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="itemTest">
                <div class="col-4">
                  <label formControlName="SubjectFile">ไฟล์ที่ {{i + 1}})
                    {{itemTest.controls.SubjectFile.value.name}}</label>
                </div>
                <div class="col-8">
                  <input formControlName="fileDescription" class="form-control" type="text" placeholder="ใส่คำอธิบาย">
                </div>
              </form>
            </div>
             <!-- formControlName="files" -->
            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple (change)="uploadFile($event)" accept="image/png, image/jpeg">  
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
              <div class="row" *ngFor="let item of listfiles; let i = index"
                style="margin-top: 10px; margin-bottom: 10px;">
                <a class="col-12">
                  <span>ไฟล์ที่
                    {{i+1}}).{{ item.name }}
                    <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                      (click)="openModalDelete(modaldeleteFile, i)"></i>
                    <br>
                  </span>
                </a>
              </div>
            </div> -->
            <div class="form-group row" style="text-align: center; justify-content: center;">
              <div class="col-1">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN primary modal -->
<ng-template #modaldeleteFile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="DeleteFile(indexfiles)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>