<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)">นโยบายกลาง</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">ประเด็นนโยบาย</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มประเด็นนโยบาย</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">จัดการประเด็นนโยบาย</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeSubject(Form.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ชื่อประเด็นนโยบาย</label>
                <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อประเด็นนโยบาย">
              </div>

              <div class="form-group">
                <label>กำหนดระยะเวลา</label>
                <ng-select multiple="true" placeholder="กรุณาเลือกระยะเวลา" [options]="times" name="ํTime"
                  formControlName="centralpolicydateid" [allowClear]="true">
                </ng-select>
              </div>

              <div class="form-group">
                <label>พื้นที่ดำเนินการ</label>
                <div class="col-12 col-xl-12"
                  *ngFor="let item of resultcentralpolicy.centralPolicyProvinces; let i = index">
                  <span>{{ i + 1 }}. {{item.province.name}}</span>
                  <!-- <div>
                    <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="temp[i]"
                      (selected)="addsubjectdepartment2($event,'add')"  (deselected)="addsubjectdepartment2($event,'remove')" [allowClear]="true">
                    </ng-select>
                  </div> -->
                  <br>
                </div>
              </div>
              <div class="form-group">
                <label>คำถามย่อย</label>
                <br>
                <label>คำถามปลายเปิด</label>
                <!-- <div [formGroup]="Form" (ngSubmit)="storeSubject(Form.value)"> -->
                <div class="form-group row" *ngFor="let item of d.controls; let i = index">
                  <form class="form-group row col-12" [formGroup]="item">
                    <div class="col-11 col-xl-11">
                      <input type="text" formControlName="questionopen" class="form-control"
                        placeholder="กรุณากรอกคำถาม">
                    </div>
                    <div class="col-1 margin-plus-icon" *ngIf="i == 0; else elseBlock">
                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appendquestionopen()"></i>
                    </div>
                    <ng-template #elseBlock>
                      <div class="col-1 margin-plus-icon">
                        <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="remove(i)"></i>
                      </div>
                    </ng-template>
                    <!-- <div class="col-1">
                        <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appendquestionopen()"></i>
                      </div> -->
                  </form>
                </div>
                <!-- </div> -->
                <label>คำถามปลายปิด</label>
                <div formArrayName="inputquestionclose">
                  <div *ngFor="let X of Form['controls'].inputquestionclose['controls']; let ix=index">
                    <div formGroupName="{{ix}}">
                      <div class="row">
                        <div class="col-11 col-xl-11">
                          <input type="text" formControlName="questionclose" class="form-control"
                            placeholder="กรุณากรอกคำถาม">
                        </div>
                        <div class="col-1">
                          <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                            <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addX()" value="Add X"></i>
                          </div>
                          <ng-template #elseBlock>
                            <div class="col-1 margin-plus-icon">
                              <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeX(ix)"
                                value="Add X"></i>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div formArrayName="inputanswerclose">
                        <div *ngFor="let Y of X['controls'].inputanswerclose['controls']; let iy=index">
                          <div formGroupName="{{iy}}">
                            <div class="row">
                              <div class="col-9 col-xl-9">
                                <input type="text" formControlName="answerclose" class="form-control"
                                  placeholder="กรุณากรอกคำตอบให้เลือก">
                              </div>
                              <div class="col-1">
                                <div class="col-1 margin-plus-icon" *ngIf="iy == 0; else elseBlock">
                                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addY(ix)"
                                    value="Add Y"></i>
                                </div>
                                <ng-template #elseBlock>
                                  <div class="col-1 margin-plus-icon">
                                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeY(ix,iy)"
                                      value="Add Y"></i>
                                  </div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>