<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">รายชื่อผู้เข้าร่วมอบรม</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title"></h5>
      </div>

      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>ชื่อ</th>
              <th>ตำแหน่ง</th>
              <th>หน่วยงาน</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userLogInData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{item.name}}</td>
              <td>{{item.position}}</td>
              <td>{{item.department}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
