<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">ปฏิทินการตรวจราชการ</a></li>
    </ol>
  </nav>
</div>
<div class="card card-eiei">
  <div class="card-header" style="margin-bottom:-18px">
    <h5 class="card-title">ปฏิทินการตรวจ</h5>
  </div>
  <div class="card-body">
    <div id="calendar"></div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modaldeleteInspectionPlanEvent class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteInspectionPlanEvent(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
