################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
EmailService/obj/EmailService.csproj.nuget.cache
EmailService/obj/EmailService.csproj.nuget.cache~grapework
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.g.props
EmailService/obj/EmailService.csproj.nuget.g.props~grapework
EmailService/obj/EmailService.csproj.nuget.g.targets
EmailService/obj/project.assets.json~grapework
EmailService/obj/Debug/netcoreapp3.1/EmailService.AssemblyInfo.cs
EmailService/obj/Debug/netcoreapp3.1/EmailService.AssemblyInfoInputs.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/project.assets.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/bin/Debug/netcoreapp3.1/EmailService.deps.json
EmailService/bin/Debug/netcoreapp3.1/EmailService.dll
EmailService/bin/Debug/netcoreapp3.1/EmailService.pdb
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/Debug/netcoreapp3.1/EmailService.csproj.FileListAbsolute.txt
EmailService/obj/Debug/netcoreapp3.1/EmailService.dll
EmailService/obj/Debug/netcoreapp3.1/EmailService.pdb
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/Debug/netcoreapp3.1/EmailService.csproj.CoreCompileInputs.cache
EmailService/obj/project.nuget.cache
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/Release/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
