<div class="header">
    <h1 class="header-title">
        ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="#">แผนตรวจราชการประจำปี</a></li>
            <li class="breadcrumb-item"><a href="#">รายละเอียดแผนตรวจราชการประจำปี</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -20px;">
                <h5 class="card-title">รายละเอียด</h5>
            </div>
            <div class="card-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        เรื่อง : {{ resultdetailcentralpolicy.title }}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        จังหวัด : ขอนแก่น
                    </div>
                </div>
                <!-- <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    กระทรวง : ชื่อกระทรวง
                </div>
            </div> -->
                <!-- <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    กรม : ชื่อกรม
                </div>
            </div> -->
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        กำหนดลงพื่นที่ : <span
                            *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyDates; let i = index">
                            {{ item2.startDate | thaidate:'year'}} -
                            {{item2.endDate | thaidate:'year'}}
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <u>กระทรวง/กรม</u>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        1. นาย ธนพล ศรีม่วง<br>
                        2. นาย ธนกร รุ่งเรือง<br>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <u>ภายประชาชน</u>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        1. นาย มนตรี มนใจ<br>
                        2. นาย สมใจ สมจริง<br>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; ">
                    <div class="col-md-6">
                        <u>เรื่องประเด็น</u>
                    </div>
                    <div class="col-md-6">
                        <u>คำถามย่อย</u>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-default table-responsive-sm tableborder">
                            <tbody *ngFor="let items of resultdetailcentralpolicy.subjects;let i = index">
                                <tr>
                                    <td style="border-top: none;"><strong>{{i +1}}. {{items.name}}</strong></td>
                                    <td style="border-top: none;" width="50%">
                                        <div *ngFor="let item of items.subquestions;let i = index">
                                            {{ i+1 }}. {{item.name}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <!-- <div class="row" style="margin-top: 10px;"
                    *ngFor="let items of resultdetailcentralpolicy.subjects;let i = index">
                    <div class="col-md-6">{{i + 1}}. {{items.name}}</div>
                    <div class="col-md-6" *ngFor="let item of items.subquestions;let i = index">  
                        <div>{{i + 1}}. {{item.name}}</div>
                    </div>
                </div> -->

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <button class="btn btn-primary"
                            (click)="openModal(modalAddExecutiveorder)">เพิ่มข้อสั่งการ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalAddExecutiveorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="Form" (ngSubmit)="storeProvince(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่มข้อสั่งการ</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <div class="form-group">
                    <label for="test" class="form-label">คำสั่งการ</label>
                    <input type="text" formControlName="provincename" class="form-control"
                        placeholder="กรุณากรอกคำสั่งการ">
                    <br>
                    <div class="col-12 col-xl-12">
                        <div class="form-group">
                            <label class="form-label w-100">แนบไฟล์</label>
                            <input type="file" multiple="multiple" formControlName="files">
                            <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </form>
    <!-- </div> -->
</ng-template>
<!-- END primary modal -->