<div class="header">
    <h1 class="header-title">
        ผู้สมัครเข้าร่วมอบรม
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard-default.html">จัดการหลักสูตรการอบรม</a></li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-eiei">
          <div class="card-header text-center" style="margin-bottom: -40px;">
              <h3>(ตัวอย่างแบบประเมิน)</h3>
              <h1>หลักสูตรการอบรม</h1>
              
              <h2>{{ name }}</h2>
              
          </div>
          <br>
          <br>
          <div class="card-body">
              <table *ngIf="loading" class="table table-responsive-lg">
                  <thead>
                      <tr>
                          <th width="5%">#</th>
                          <th width="55%" class="text-center">หัวข้อวัดผลประเมิน</th>
                          <th width="10%" class="text-center">ดีเยี่ยม</th>
                          <th width="10%" class="text-center">ดีมาก</th>
                          <th width="10%" class="text-center">ดี</th>
                          <th width="10%" class="text-center">พอใช้</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of resulttraining; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td class="ellipsis">{{ item.name }}</td>
                          <td class="ellipsis text-center"><input type="checkbox" /></td>
                          <td class="ellipsis text-center"><input type="checkbox" /></td>
                          <td class="ellipsis text-center"><input type="checkbox" /></td>
                          <td class="ellipsis text-center"><input type="checkbox" /></td>
                          
                      </tr>
                  </tbody>
              </table>
              <br>
              <label>ข้อเสนอแนะ</label>
              <br>
              <textarea class="form-control"></textarea>
          </div>
      </div>
  </div>


  </div>

