<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">ปฏิทินการตรวจราชการ</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">กำหนดการตรวจราชการ</a></li> -->
    </ol>
  </nav>
</div>


<div class="card card-eiei">
  <div class="card-header">
    <div class="float-left">
      <div class="form-group">
        <div class="form-group col-md-12">
          <div class="mb-12"  *ngIf="resultuserregion.length != 0">
            <select [(ngModel)]="selectedProvince" (change)="selectprovince($event.target.value)" class="form-control select2" data-toggle="select2">
              <option value="allprovince">ทุกจังหวัด</option>
              <option *ngFor="let item of resultuserregion; let i = index" value="{{item.id}}">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  class="card-body">
    <div *ngIf="loading" id="calendar"></div>
  </div>
</div>
