<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">แผนตรวจราชการ</a></li>
      <li class="breadcrumb-item active" aria-current="page">รายละเอียดแผนตรวจราชการ</li>
    </ol>
  </nav>
</div>
<div class="">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">รายละเอียดแผนตรวจราชการ</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="EditForm">
          <div class="col-12 row">
            <div class="form-group col-6">
              <label>ปีงบประมาณ : {{resultdetailcentralpolicy.fiscalYear.year}}</label>
            </div>
            <div class="form-group col-6">
              <label>ประเภทแผนการตรวจ : {{resultdetailcentralpolicy.type}}</label>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>เรื่อง : {{resultdetailcentralpolicy.title}}</label>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>สถานะ : {{resultdetailcentralpolicy.status}}</label>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>ระยะเวลา</label>
              <br>
              <span *ngFor="let item of resultdetailcentralpolicy.centralPolicyDates; let i = index">ช่วงที่
                {{i+1}})
                {{ item.startDate | thaidate: 'year' }} -
                {{ item.endDate | thaidate: 'year' }}<br></span>
            </div>
          </div>

          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>จังหวัด</label>
              <ng-select  [items]="selectdataprovince" [multiple]="true" bindLabel="label" groupBy="region"
                [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value"
                [(ngModel)]="selected" formControlName="ProvinceId" >
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                    [ngModel]="item$.selected" /> {{item.region }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                    [ngModel]="item$.selected" /> {{item.name}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <u>ไฟล์แนบ</u><br>
                  <div class="row" *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index"
                    style="margin-top: 10px;">
                    <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6">
                      <span>ไฟล์ที่
                        {{i+1}})
                        {{ item2.name }}<br>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div>
          <div class="form-group row" style="text-align: center; justify-content: center;">
            <div class="col-3">
              <button type="button" class="btn btn-danger" (click)="back()">ย้อนกลับ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>