<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/supportgovernment']">ข้อมูลสนับสนุน</a></li>
      <li class="breadcrumb-item active">กฎหมาย ระเบียบ หนังสือเวียน ฯลฯ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">กฎหมาย ระเบียบ หนังสือเวียน ฯลฯ</h5>
        <div class="float-right" *ngIf="role_id == 1">
          <button class="btn btn-pill btn-warning btn-lg" title="เพิ่มข้อมูล" (click)="openModal(modalCreate)"
            style="margin-top: -60px;"><i class="align-middle fas fa-fw fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>หัวเรื่อง</th>
              <th>ไฟล์</th>
              <th>วันที่สร้าง</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{item.title}}</td>
              <td>
                <a  href="{{fileUrl}}/{{item.filename}}" download>
                    <p>
                      <button class="btn btn-primary">{{item.filename}}</button>
                    </p>
                </a>
              </td>
              <td *ngIf="item.createdAt != null; else elseBlock">{{ item.createdAt | thaidate:'year'}}</td>
              <ng-template #elseBlock>
                <td></td>
              </ng-template>
              <td>
                <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล">
                  <i class="align-middle fas fa-fw fa-pen"
                      (click)="openModal(modalEdit, item.id,item.title,item.filename)">
                  </i>
                </button>

                <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล">
                    <i class="align-middle fas fa-fw fa-trash-alt"
                        (click)="openModal(modaldelete, item.id)">
                    </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN เพิ่ม modal -->
<ng-template #modalCreate class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="store(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข้อมูล</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <div class="form-group">
            <label class="form-label">หัวเรื่อง*</label>
            <input type="text" formControlName="Title" class="form-control" placeholder="กรุณากรอกหัวเรือง">
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label w-100">แนบไฟล์</label>
            <input type="file" (change)="uploadFile($event)" [multiple]="false">
            <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END เพิ่ม modal -->

<!-- BEGIN แก้ไข modal -->
<ng-template #modalEdit class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="update(Form.value,id)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข้อมูล</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <div class="form-group">
            <label class="form-label">หัวเรื่อง*</label>
            <input type="text" formControlName="Title" class="form-control" placeholder="กรุณากรอกหัวเรือง">
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label w-100">แนบไฟล์</label>
            <p>{{filename}}</p>
            <input type="file" (change)="uploadFile($event)" [multiple]="false">
            <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END แก้ไข modal -->

<!-- BEGIN Delete modal -->
<ng-template #modaldelete class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="destroy(id)">
        ใช่
      </button>
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
  </div>
</ng-template>
<!-- END Delete modal -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


