<app-title-modal [title]="title"></app-title-modal>

<div class="modal-body">
    <div class="col-md-12 col-lg-12">
        <!-- <div plyr style="width:100%;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="videoSources"
            (plyrInit)="player = $event"></div> -->
        <div class="video" style="width: 100%;">
            <video autoplay style="width: 100%;" controls (click)="toggleVideo()" #videoPlayer>
                <source src="{{video.url}}" type="video/mp4" />
                Browser not supported
            </video>
        </div>
        <!-- <div class="video">
            <mat-video title="My Tutorial Title" [autoplay]="true" [preload]="true" [fullscreen]="true"
                [download]="false" color="accent" spinner="spin">
                <source matVideoSource [src]="videoSources" type="video/mp4">
                <source src="tutorial.webm" type="video/webm">
                <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
                <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
            </mat-video>
        </div> -->
    </div>
</div>