<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">สมุดตรวจอิเล็กทรอนิกส์</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header">
        <h5 class="card-title">สมุดตรวจอิเล็กทรอนิกส์</h5>
      </div>

      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>กำหนดการสมุดตรวจ</th>
              <!-- <th>รายละเอียดสมุดตรวจอิเล็กทรอนิกส์</th> -->
              <th>ประเด็นนโยบาย</th>
              <th>ผู้สร้าง</th>
              <th *ngIf="role_id == 6 || role_id == 10">สถานะ</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of electronicBookData; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="pointer" (click)="gotoDetail(item.electronicBookId, item.id)">
                วันที่ {{item.electronicBook.startDate | thaidate: 'short'}} ถึง
                {{item.electronicBook.endDate | thaidate: 'short'}}</td>
              <!-- <td>{{ item.electronicBook.detail }}</td> -->
              <td>
                <div *ngFor="let items of item.electronicBook.electronicBookGroups; let i = index">
                  {{i + 1}}. {{ items.centralPolicyEvent.centralPolicy.title }}
                </div>
              </td>
              <td>{{item.electronicBook.user.prefix}} {{item.electronicBook.user.name}}</td>
              <td *ngIf="role_id == 6 || role_id == 10">{{ item.status }}</td>
              <td>
                <i class="align-middle mr-2 fas fa-fw fa-search pointer" (click)="gotoDetail(item.electronicBookId, item.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
