<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">สมุดตรวจอิเล็กทรอนิกส์</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header">
        <h5 class="card-title">สมุดตรวจอิเล็กทรอนิกส์</h5>
      </div>

      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>ชื่อแผนตรวจราชการประจำปี</th>
              <!-- <th>รายละเอียดสมุดตรวจอิเล็กทรอนิกส์</th> -->
              <th>จังหวัด</th>
              <th>สถานะ</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of electronicBookData; let i = index">
              <td>{{ i + 1 }}</td>
              <td (click)="Subject(item.id,item.title)" class="pointer">
                {{ item.centralPolicy.title }}</td>
              <!-- <td>{{ item.electronicBook.detail }}</td> -->
              <td>{{ item.province.name }}</td>
              <td>{{ item.electronicBook.status }}</td>
              <td>
                <!-- <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                  (click)="gotoDetail(item.centralPolicyId,item.inspectionPlanEvent.province.id, item.electronicBookId)"></i> -->
                <i class="align-middle mr-2 fas fa-fw fa fa-book pointer"
                  (click)="gotoTheme(item.centralPolicyId,item.provinceId, item.electronicBookId)"></i>
                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                  (click)="gotoDetail(item.centralPolicyId,item.provinceId, item.electronicBookId)"></i>
                <!-- <i *ngIf="item.electronicBook.status != 'ใช้งานจริง'" class="align-middle mr-2 fas fa-fw fa-pen pointer"
                  (click)="gotoEdit2(item.centralPolicyProvinceId, item.electronicBookId)"></i> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
