.btnMargin {
    margin: 10px;
    width: 90px;
    height: 45px;
}
.delete-icon {
    font-size: 80px;
    color: #f8bb86;
    border-color: #facea8;
}
.pointer {
    cursor:pointer;
}
.textellipsis {
    white-space:nowrap; 
    width:100%; 
    overflow:hidden;
    text-overflow:ellipsis;
  }
.inputfiles{
    margin: 0px;
  }
/* input:read-only {
  background-color: #;
}
     */
     