<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)">นโยบายกลาง</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">ประเด็นนโยบาย</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มประเด็นนโยบาย</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">จัดการประเด็นนโยบาย</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="EditForm" (ngSubmit)="EditSubject(EditForm.value,resultsubjectdetail.id)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ชื่อประเด็นนโยบาย</label>
                <input type="text" value="{{resultsubjectdetail.name}}" formControlName="name" class="form-control"
                  placeholder="กรุณากรอกชื่อประเด็นนโยบาย">
              </div>

              <div class="form-group">
                <label>กำหนดระยะเวลา</label>
                <div class="row">
                  <div class="col-11">
                    <ng-select multiple="true" id="datetime" [(ngModel)]="datetime" placeholder="กรุณาเลือกระยะเวลา"
                      [options]="times" name="ํTime" formControlName="centralPolicyDateId" [allowClear]="true"
                      [disabled]=true>
                    </ng-select>
                  </div>
                  <div class="col-1">
                    <i class="align-middle mr-2 fas fa-fw fa-pen pointer" (click)="openAddModalDate(modaleditDate)"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-3">
                  <input type="radio" name="status" value="ร่างกำหนดการ" checked formControlName="status">
                  <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                  <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง"
                    formControlName="status">
                  <label style="margin-left: 10px;">ใช้งานจริง</label>
                </div>
              </div>
              <div class="card">
                <div class="form-group">
                  <div class="col-12 col-xl-12" *ngFor="let item of filterboxdepartments; let i2 = index">
                    <div class="row">
                      <h4>หน่วยงานที่เกี่ยวข้อง</h4>
                      &nbsp;&nbsp;
                      <button type="button" style="margin-top: -8px;"
                        (click)="openAddDepartmentModal(modalInviteDepartment,item.id,item.box)"
                        class="btn btn-primary">เชิญหน่วยงานเพิ่มเติม</button>
                    </div>
                    <div style="margin-top: 10px;"
                      *ngFor="let items of item.subjectCentralPolicyProvinceGroups; let i = index">
                      <span class="col-11">{{ i + 1 }}. {{items.provincialDepartment.name}}</span>
                      <!-- <i *ngIf="i != 0" class="align-middle mr-2 fas fa-fw fa-trash-alt pointer col-1"
                        (click)="DelModal(modaldeleteProvincial, itemss.id)"></i> -->
                    </div>
                    <br>
                    <label>คำถามย่อย</label>
                    <div class="colum">
                      <label>คำถามปลายเปิด</label>
                      &nbsp;&nbsp;
                      <button class="btn btn-info" type="button"
                        (click)="openAddModalQuestionsopen(modalQuestionsopen,item.box)">เพิ่มคำถามปลายเปิด</button>
                    </div>
                    <div class="row" *ngFor="let item of question; let i = index">
                      <div class="col-9 col-xl-9 form-group" *ngIf="item.box == i2 && item.type == 'คำถามปลายเปิด' ">
                        <input type="text" value="{{item.name }}" class="form-control" placeholder="กรุณากรอกคำถาม"
                          readonly>
                      </div>
                      <div class="col-3" *ngIf="item.box == i2 && item.type == 'คำถามปลายเปิด' ">
                        <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                          (click)="openEditmodalQuestions(modaleditQuestions,item.id,item.name)"></i>
                        <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                          (click)="openModalDelete(modaldeleteQuestionsclose, item.id)"></i>
                      </div>
                    </div>
                    <br>
                    <div class="colum">
                      <label>คำถามปลายปิด</label>
                      &nbsp;&nbsp;
                      <button class="btn btn-info" type="button"
                        (click)="openAddModalQuestionsclose(modalQuestionsclose,item.box)">เพิ่มคำถามปลายปิด</button>
                    </div>
                    <div class="row" *ngFor="let item of question; let i = index">
                      <div class="col-11 col-xl-11" *ngIf="item.box == i2 && item.type == 'คำถามปลายปิด' ">
                        <div class="row">
                          <div class="col-9 col-xl-9">
                            <input type="text" value="{{item.name}}" class="form-control" placeholder="กรุณากรอกคำถาม"
                              readonly>
                          </div>
                          <div class="col-3" *ngIf="item.box == i2 && item.type == 'คำถามปลายปิด' ">
                            <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                              (click)="openEditmodalQuestions(modaleditQuestions,item.id,item.name)"></i>
                            <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                              (click)="openModalDelete(modaldeleteQuestionsclose, item.id)"></i>
                            <button class="btn btn-info" type="button"
                              (click)="openAddModalChoices(modaladdChoices,item.id)">เพิ่มตอบปลายปิด</button>
                          </div>
                        </div>
                        <div class="col-11 col-xl-11"
                          *ngFor="let items of item.subquestionChoiceCentralPolicyProvinces; let i = index">
                          <div class="row">
                            <div class="col-9 col-xl-9">
                              <input type="text" *ngIf="item.type == 'คำถามปลายปิด'" value="{{items.name}}"
                                class="form-control" placeholder="กรุณากรอกคำถาม" readonly>
                            </div>
                            <div class="col-3" *ngIf="item.box == i2 && item.type == 'คำถามปลายปิด' ">
                              <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                (click)="openEditmodalChoices(modaleditChoices,items.id,items.name)"></i>
                              <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                                (click)="openModalDelete(modaldeleteChoices, items.id)"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
              <!-- <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                  <button type="button" class="btn btn-info"
                    (click)="openModal(modalcreatesuject)">เพิ่มหน่วยงานและคำถามใหม่</button>
                </div>
              </div>
              <br> -->
              <!-- <div class="col-12">
                <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์กำหนดการตรวจ</label>
                <input type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;"> -->
              <!-- <div class="col-4">
                  <select class="selectpicker form-control" data-live-search="true"
                    (change)="checkType($event.target.value)" formControlName="fileType">
                    <option value="เลือกประเภทเอกสารแนบ" selected>เลือกประเภทเอกสารแนบ</option>
                    <option value="Calendar Image File">รูปภาพ</option>
                    <option value="Calendar File">ไฟล์เอกสาร</option>
                  </select>
                </div> -->
              <!-- <div class="col-8">
                  <textarea *ngIf="fileType == 'Calendar Image File'" cols="30" rows="5" class="form-control"
                    placeholder="กรุณาใส่คำอธิบายรูปภาพ" style="margin-top: 10px;"
                    formControlName="description"></textarea>
                </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                  <div class="colum">
                  <u>ไฟล์แนบนโยบาย</u>
                  &nbsp;&nbsp;
                  <button class="btn btn-info" type="button"
                    (click)="openAddFile(modaladdfile)">เพิ่มไฟล์แนบนโยบาย</button>
                  </div>
                  <div class="row"
                    *ngFor="let item of resultsubjectdetail.subjectCentralPolicyProvinceFiles; let i = index"
                    style="margin-top: 10px;">
                    <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                      <span>ไฟล์ที่
                        {{i+1}})
                        {{ item.name }}<br>
                      </span>
                    </a>
                    <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                      (click)="openModalDelete(modaldeleteFile, item.id)"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" style="margin-top: 10px;">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN primary modal -->
<ng-template #modalQuestionsopen class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormAddQuestionsopen" (ngSubmit)="AddQuestionsopen(FormAddQuestionsopen.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มคำถามปลายเปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถามปลายเปิด</label>
          <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกคำถาม">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modalQuestionsclose class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormAddQuestionsclose" (ngSubmit)="AddQuestionsclose(FormAddQuestionsclose.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มคำถามปลายปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถามปลายปิด</label>
          <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกคำถาม">
          <div formArrayName="inputanswerclose">
            <div *ngFor="let X of FormAddQuestionsclose['controls'].inputanswerclose['controls']; let ix=index">
              <div formGroupName="{{ix}}">
                <div class="row">
                  <div class="col-11 col-xl-11">
                    <input type="text" formControlName="answerclose" class="form-control" placeholder="กรุณากรอกคำถาม">
                  </div>
                  <div class="col-1">
                    <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addX()" value="Add X"></i>
                    </div>
                    <ng-template #elseBlock>
                      <div class="col-1 margin-plus-icon">
                        <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeX(ix)" value="Add X"></i>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldeleteQuestionsclose class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="DeleteQuestionsopen(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldeleteChoices class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="DeleteChoices(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaleditQuestions class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormEditQuestions" (ngSubmit)="EditQuestions(FormEditQuestions.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำถาม</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถาม</label>
          <input type="text" value="{{editname}}" formControlName="name" class="form-control"
            placeholder="กรุณากรอกชื่อจังหวัด">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaladdChoices class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormAddChoices" (ngSubmit)="AddChoices(FormAddChoices.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำตอบ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำตอบ</label>
          <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกคำตอบ">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaleditChoices class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormEditChoices" (ngSubmit)="EditChoices(FormEditChoices.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำตอบ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำตอบ</label>
          <input type="text" value="{{editname}}" formControlName="name" class="form-control"
            placeholder="กรุณากรอกคำตอบ">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaleditDate class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="FormAddDate" (ngSubmit)="AddDate(FormAddDate.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการระยะเวลา</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">กำหนดระยะเวลา</label>
          <ng-select multiple="true" id="datetime" placeholder="กรุณาเลือกระยะเวลา" [options]="timesselect" name="ํTime"
            formControlName="centralPolicyDateId" [allowClear]="true">
          </ng-select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modalInviteDepartment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="FormAddEditDepartment" (ngSubmit)="AddDepartment(FormAddEditDepartment.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เชิญหน่วยงานเพิ่มเติม</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="department" name="DepartmentId"
          formControlName="DepartmentId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modalcreatesuject class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-body" style="background-color: white; border-radius: 5px;"> -->
  <form [formGroup]="FormAddDepartmentQuestion" (ngSubmit)="AddDepartmentQuestion(FormAddDepartmentQuestion.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการหน่วยงานและคำถามใหม่</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="row">
          <div class="col-12 col-xl-12">
            <!-- <div class="form-group">
              <label>ชื่อประเด็นนโยบาย</label>
              <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อประเด็นนโยบาย">
            </div> -->

            <div class="form-group">
              <label>พื้นที่ดำเนินการ</label>
              <div formArrayName="inputsubjectdepartment">
                <div
                  *ngFor="let V of FormAddDepartmentQuestion['controls'].inputsubjectdepartment['controls']; let iv=index">
                  <div formGroupName="{{iv}}">
                    <!-- <div class="row">
                      <div class="col-2">
                        <label>หน่วยงานที่เกี่ยวข้อง</label>
                      </div>
                      <div class="col-1" *ngIf="iv == 0; else elseBlock">
                        <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addV()" value="Add V"></i>
                      </div>
                      <ng-template #elseBlock>
                        <div class="col-1">
                          <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeV(iv)"
                            value="Add V"></i>
                        </div>
                      </ng-template>
                    </div> -->
                    <!-- <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="temp"
                      formControlName="departmentId" (selected)="addsubjectdepartment2($event,'add')"
                      (deselected)="addsubjectdepartment2($event,'remove')" [allowClear]="true">
                    </ng-select> -->
                    <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="department" name="departmentId"
                      formControlName="departmentId" [allowClear]="true">
                    </ng-select>
                    <br>
                    <br>
                    <label>คำถามย่อย</label>
                    <br>
                    <label>คำถามปลายเปิด</label>
                    <div formArrayName="inputquestionopen">
                      <!-- <div *ngFor="let W of Form['controls'].inputquestionopen['controls']; let iw=index"> -->
                      <div *ngFor="let W of V['controls'].inputquestionopen['controls']; let iw=index">
                        <div formGroupName="{{iw}}">
                          <div class="row">
                            <div class="col-11 col-xl-11">
                              <input type="text" formControlName="questionopen" class="form-control"
                                placeholder="กรุณากรอกคำถาม">
                            </div>
                            <div class="col-1">
                              <div class="col-1 margin-plus-icon" *ngIf="iw == 0; else elseBlock">
                                <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addWW(iv)"
                                  value="Add W"></i>
                              </div>
                              <ng-template #elseBlock>
                                <div class="col-1 margin-plus-icon">
                                  <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeWW(iv,iw)"
                                    value="Add X"></i>
                                </div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label>คำถามปลายปิด</label>
                    <div formArrayName="inputquestionclose">
                      <div *ngFor="let X of V['controls'].inputquestionclose['controls']; let ix=index">
                        <div formGroupName="{{ix}}">
                          <div class="row">
                            <div class="col-11 col-xl-11">
                              <input type="text" formControlName="questionclose" class="form-control"
                                placeholder="กรุณากรอกคำถาม">
                            </div>
                            <div class="col-1">
                              <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                                <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addXX(iv)"
                                  value="Add X"></i>
                              </div>
                              <ng-template #elseBlock>
                                <div class="col-1 margin-plus-icon">
                                  <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeXX(iv,ix)"
                                    value="Add X"></i>
                                </div>
                              </ng-template>
                            </div>
                          </div>
                          <div formArrayName="inputanswerclose">
                            <div *ngFor="let Y of X['controls'].inputanswerclose['controls']; let iy=index">
                              <div formGroupName="{{iy}}">
                                <div class="row">
                                  <div class="col-9 col-xl-9">
                                    <input type="text" formControlName="answerclose" class="form-control"
                                      placeholder="กรุณากรอกคำตอบให้เลือก">
                                  </div>
                                  <div class="col-1">
                                    <div class="col-1 margin-plus-icon" *ngIf="iy == 0; else elseBlock">
                                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addYY(iv,ix)"
                                        value="Add Y"></i>
                                    </div>
                                    <ng-template #elseBlock>
                                      <div class="col-1 margin-plus-icon">
                                        <i class="align-middle mr-2 far fa-fw fa-minus-square"
                                          (click)="removeYY(iv,ix,iy)" value="Add Y"></i>
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-primary">บันทึก</button>
            </div>
            <div class="col-sm-5 ml-sm-auto">
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldeleteFile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="DeleteFile(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaladdfile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <form [formGroup]="Formfile" (ngSubmit)="AddQuestionsopen(Formfile.value)"> -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มไฟล์แนบนโยบาย</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12 col-xl-12" style="margin-top: 10px;">
        <div class="form-group">
          <label class="form-label w-100">แนบไฟล์</label>
          <input type="file" multiple (change)="uploadFile($event)" accept="image/png, image/jpeg">
          <!-- formControlName="files" -->
          <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"(click)="AddFile()">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  <!-- </form> -->
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->