<div class="header">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">แผนตรวจราชการ</a></li>
            <li class="breadcrumb-item active" aria-current="page">คำถามภาคประชาชน</li>
        </ol>
    </nav>
</div>

<div *ngIf="loading" class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header">
                <h5 class="card-title mb-0">รายละเอียด</h5>
            </div>
            <div *ngIf="resultQuestionPeople != null" class="card-body">
                <form [formGroup]="Formstatus" (ngSubmit)="editanswer(Formstatus.value)">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            เรื่อง : {{resultQuestionPeople[0].centralPolicyEvent.centralPolicy.title}}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            จังหวัด : {{resultQuestionPeople[0].centralPolicyEvent.inspectionPlanEvent.province.name}}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            ผู้ตรวจฯ ที่ถาม :
                            {{resultQuestionPeople[0].centralPolicyEvent.inspectionPlanEvent.user.name}}
                            {{resultQuestionPeople[0].centralPolicyEvent.inspectionPlanEvent.user.position}}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="form-group col-sm-8">
                            <label for="city">วันที่ตรวจ :
                                {{resultQuestionPeople[0].centralPolicyEvent.inspectionPlanEvent.startDate | thaidate:
                                'short'}} - {{resultQuestionPeople[0].centralPolicyEvent.inspectionPlanEvent.endDate |
                                thaidate: 'short'}}</label>
                            <!-- <div class=" d-flex flex-row"
                                *ngFor="let item of resultQuestionPeople[0].centralPolicyEvent.centralPolicy && resultQuestionPeople[0].centralPolicyEvent.centralPolicy.centralPolicyDates; let i = index">
                                <span>ช่วงที่
                                    {{i+1}})
                                    {{ item.startDate | thaidate: 'short' }} -
                                    {{ item.endDate | thaidate: 'short' }}<br></span>
                            </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label for="city">ไฟล์แนบ</label>
                            <div class=" d-flex flex-row" *ngFor="let item of resultsubjecteventfiles; let i = index">
                                <a download href="{{downloadUrl}}/{{item.name}}" class="mr-5">
                                    <span>ไฟล์ที่
                                        {{i+1}})
                                        {{ item.name }}<br>
                                    </span>
                                </a>
                                <label for="city">คำอธิบาย : {{item.description}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <u>ระยะเวลา</u><br>
                            <span
                                *ngFor="let item of resultsubjectdetail.subjectDateCentralPolicyProvinces; let i = index">ช่วงที่
                                {{i+1}})
                                {{ item.centralPolicyDateProvince.startDate | thaidate: 'year' }} -
                                {{ item.centralPolicyDateProvince.endDate | thaidate: 'year' }}<br></span>
                        </div>
                    </div> -->
                    <div class="row" style="margin-top: 10px;">
                        <div *ngIf="status == 'ร่างกำหนดการ';else elseBlock2" class="col-lg-12">
                            <table class="table table-default table-responsive-sm tableborder">
                                <tbody>
                                    <tr *ngFor="let item of t.controls; let i = index">
                                        <td style="border-top: none;">
                                            <u>คำถามที่ {{i + 1}}</u>
                                            <div [formGroup]="item">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <input type="text" value="{{item.value.Question}}"
                                                            class="form-control" placeholder="กรุณากรอกเรื่อง" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <u>คำตอบ</u>
                                            <br>
                                            <div [formGroup]="item">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <textarea cols="30" rows="2" class="form-control"
                                                            placeholder="กรุณาตอบคำถาม" formControlName="Answer"
                                                            name="Answer"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group"
                                                    *ngIf="submitted && t.at(i).get('Answer').invalid"
                                                    [ngStyle]="submitted && t.at(i).get('Answer').invalid ? {color: '#dc3545'}:{color: ''} ">
                                                    <div style="font-size: 80%;">กรุณาตอบคำถาม</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #elseBlock2>
                            <div class="col-lg-12">
                                <table class="table table-default table-responsive-sm tableborder">
                                    <tbody>
                                        <tr *ngFor="let item of t.controls; let i = index">
                                            <td style="border-top: none;">
                                                <u>คำถามที่ {{i + 1}}</u>
                                                <div [formGroup]="item">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <textarea cols="30" rows="2" value="{{item.value.Question}}"
                                                                class="form-control" placeholder="กรุณากรอกเรื่อง"
                                                                readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <u>คำตอบ</u>
                                                <br>
                                                <div [formGroup]="item">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <textarea cols="30" rows="2" class="form-control"
                                                                placeholder="กรุณาตอบคำถาม" formControlName="Answer"
                                                                name="Answer" readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </div>
                    <!-- <label class="form-label w-100" style="margin-top: 30px;">แนบไฟล์</label>
                    <input type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;"> -->
                    <!-- <form [formGroup]="Formstatus"> -->
                    <div *ngIf="status == 'ร่างกำหนดการ'" class="col-12 col-xl-12">
                        <div class="form-group">
                            <div class="form-group col-md-3">
                                <div class="mb-3">
                                    <input type="radio" name="Status" value="ร่างกำหนดการ" checked
                                        formControlName="Status">
                                    <label style="margin-left: 10px;">ร่าง</label>
                                    <input style="margin-left: 10px;" type="radio" name="Status" value="ใช้งานจริง"
                                        formControlName="Status">
                                    <label style="margin-left: 10px;">ใช้งาน</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                    <div *ngIf="status == 'ร่างกำหนดการ';else elseBlock" class="form-group col col-lg-12"
                        style="margin-top: 20px; text-align: center;">
                        <button style="align-self: center;" type="submit" class="btn btn-primary"
                            style="margin-right: 45px;">บันทึก</button>
                        <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
                    </div>
                    <ng-template #elseBlock>
                        <div class="form-group col col-lg-12" style="margin-top: 20px; text-align: center;">
                            <button type="button" class="btn btn-danger" (click)="back()">ย้อนกลับ</button>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>