<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/calendaruser']">ปฏิทินการตรวจราชการ</a>
      </li>
      <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">กำหนดการตรวจราชการ</a></li>
      <li class="breadcrumb-item active" aria-current="page">ตอบรับการตรวจ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header">
        <h5 class="card-title mb-0">รายละเอียด</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            ผู้เชิญ : {{resultuser.name}}
          </div>
          <div class="col-md-6">
            ตำแหน่ง : {{resultuser.position}}
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            เรื่อง : {{resultdetailcentralpolicy.title}}
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <!-- จังหวัด : ขอนแก่น -->
            <u>จังหวัด</u><br>
            <span>{{provincename}}</span>
            <!-- <span
              *ngFor="let item3 of resultdetailcentralpolicy.centralPolicyProvinces; let i = index">ช่วงที่ {{i+1}})
              {{ item3.province.name }}<br></span> -->
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>กำหนดลงพื่นที่</u><br>
            <!-- {{resultdate.id}} -->
            <span> {{ resultdate.startDate | thaidate: 'year' }} - {{ resultdate.endDate | thaidate: 'year' }}</span>
            <!-- <span
              *ngFor="let item2 of ; let i = index">ช่วงที่ {{i+1}})
              {{ item2.startDate | thaidate: 'year' }} - {{ item2.endDate | thaidate: 'year' }}<br></span> -->
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>ผู้ตรวจราชการกระทรวง</u> &nbsp;&nbsp;
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div *ngIf="role6Count == 1" class="card col-6" style="border-width: 0.5px; padding: 5px;">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
                <div class="row col-12">
                  <div class="col-9" *ngIf="items.user.role_id == 6">
                    {{items.user.ministries.name}} - {{items.user.prefix}} {{items.user.name}}
                  </div>
                  <div class="col-3" *ngIf="items.user.role_id == 6">
                    <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'มอบหมาย'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>ผู้ตรวจราชการกรม</u> &nbsp;&nbsp;
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div *ngIf="role10Count == 1" class="card col-6" style="border-width: 0.5px; padding: 5px;">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
                <div class="row col-12">
                  <div class="col-9" *ngIf="items.user.role_id == 10">
                    {{items.user.departments.name}} - {{items.user.prefix}} {{items.user.name}}
                  </div>
                  <div class="col-3" *ngIf="items.user.role_id == 10">
                    <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'มอบหมาย'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>ที่ปรึกษาผู้ตรวจราชการภาคประชาชน</u> &nbsp;&nbsp;
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div *ngIf="role7Count == 1" class="card col-6" style="border-width: 0.5px; padding: 10px;">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let ii = index">

                <div class="row col-12">
                  <div class="col-9" *ngIf="items.user.role_id == 7">
                    {{items.user.side}} - {{items.user.prefix}} {{items.user.name}}
                  </div>
                  <div class="col-3" *ngIf="items.user.role_id == 7">
                    <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'มอบหมาย'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>หน่วยรับตรวจ</u> &nbsp;&nbsp;
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div *ngIf="role9Count == 1" class="card col-6" style="border-width: 0.5px; padding: 5px;">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
                <div class="row col-12">
                  <div class="col-9" *ngIf="items.user.role_id == 9">
                    {{items.user.provincialDepartments.name}} - {{items.user.prefix}} {{items.user.name}}
                  </div>
                  <div class="col-3" *ngIf="items.user.role_id == 9">
                    <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                      disabled>{{items.status}}</button>
                    <button *ngIf="items.status == 'มอบหมาย'" class="btn btn-sm btn-success"
                      disabled>{{items.status}}</button>
                    &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="resultdetailcentralpolicy.centralPolicyFiles.length > 0">
          <div class="col-md-12">
            <u>ไฟล์แนบแผนการตรวจราชการ</u><br>
            <div class="row" *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index"
              style="margin-top: 10px;">
              <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6">
                <span>ไฟล์ที่
                  {{i+1}})
                  {{ item2.name }}<br>
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="carlendarFile.length > 0">
          <div class="col-md-12" style="margin-top: 10px;">
            <u>ไฟล์แนบกำหนดการตรวจ</u><br>
            <div class="row" *ngFor="let item of carlendarFile; let i = index" style="margin-top: 10px;">
              <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                <span>ไฟล์ที่
                  {{i+1}})
                  {{ item.name }}<br>
                </span>
              </a>
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <table class="table table-default table-responsive-sm tableborder">
              <tbody *ngFor="let items of resultdetailcentralpolicyprovince;let i = index">
                <tr>
                  <div class="" style="margin-top: 10px;">
                    <td style="border-top: none; width: 1%;">
                      <div class="row">
                        <i class="fa fa-tags" style="margin-top: 5px;"></i>
                        <h4 style="margin-left: 15px;">ประเด็นการตรวจติดตาม</h4>
                      </div>

                      <div class="row" style="margin-top: 10px;">
                        <div class="col-10" style="margin-left: 35px;">
                          <input type="text" value="{{items.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                            readonly>
                        </div>
                      </div>
                    </td>
                    <div class="row" style="margin-left: 47px; margin-top: 10px;">
                      <h5>
                        <u style="margin-top: 20px;">หน่วยงานผู้ให้ข้อมูล</u>
                        <i class="fas fa-chevron-down" style="margin-left: 5px; font-size: large;" id="department{{i}}"
                          data-toggle="collapse" [attr.data-target]="'#departments' + i" aria-expanded="false"
                          aria-controls="departments"></i>
                      </h5>
                      <div class="row" style="margin-left: 10px;">
                      </div>
                    </div>

                    <div *ngIf="items.subquestionCentralPolicyProvinces.length == 0" style="margin-top: 10px;"></div>

                    <div *ngIf="items.subquestionCentralPolicyProvinces.length != 0;" style="margin-left: 25px;">
                      <div class="col-12 row collapse" id="departments{{i}}"
                        *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceGroups;let ii = index">
                        <div class="col-6">
                          <div class="row col-12">
                            <div class="">
                              <span class="">{{ii + 1}}. {{itemss.provincialDepartment.name}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>


                <tr *ngFor="let item of items.subquestionCentralPolicyProvinces;let iii = index">
                  <div class="" *ngIf="item.type == 'คำถามปลายปิด'" style="margin-left: 34px;">
                    <td style="border-top: none; width: 1%;">
                      <u>คำถาม</u>
                      <i class="fas fa-chevron-down" style="margin-left: 5px; font-size: large;" id="question{{i}}"
                        data-toggle="collapse" [attr.data-target]="'#questions' + i" aria-expanded="false"
                        aria-controls="questions"></i>
                      <div class="row">
                        <div class="col-9" *ngIf="item.type == 'คำถามปลายปิด'">
                          <input style="margin-top: 10px;" type="text" value="{{item.name}}" class="form-control"
                            placeholder="กรุณากรอกเรื่อง" readonly>
                        </div>
                        <div class="col-0">
                        </div>
                        <div class="col-0">
                        </div>
                      </div>
                    </td>
                    <div class="col-12 collapse" id="questions{{i}}">
                      <td style="border-top: none; width: 1%;" *ngIf="item.type == 'คำถามปลายปิด'">
                        <div *ngFor="let item2 of items.subquestionCentralPolicyProvinces;let ii = index">
                          <div *ngFor="let item3 of item2.subquestionChoiceCentralPolicyProvinces;let iii = index">
                            <div class="row">
                              <div class="row col-10">
                                <div class="col-0"
                                  *ngIf="item.type == 'คำถามปลายปิด' && item.id == item3.subquestionCentralPolicyProvinceId">
                                  <input style="margin-left: 10px;margin-top: 11px;" type="radio" disabled>
                                </div>
                                <div class="col-9"
                                  *ngIf="item.type == 'คำถามปลายปิด' && item.id == item3.subquestionCentralPolicyProvinceId">
                                  <input type="text" value="{{item3.name}}" class="form-control"
                                    placeholder="กรุณากรอกเรื่อง" readonly>
                                </div>

                                <div class="col-1">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </div>
                    <div class="col-12" *ngIf="item.answerSubquestions.length != 0">
                      <td style="border-top: none; width: 1%;" *ngIf="item.type == 'คำถามปลายปิด'">
                        <div *ngFor="let item3 of item.answerSubquestions;let iii = index">
                          <div *ngIf="item3.answerSubquestionStatus.status == 'ใช้งานจริง'" class="row">
                            <div class="col-2">{{iii+1}}. โดย {{item3.user.name}}</div>
                            <div class="col-5">ตอบ {{item3.answer}}</div>
                            <div class="col-5">คำอธิบาย {{item3.description}}</div>
                          </div>
                        </div>
                      </td>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>




        <button type="button" class="btn btn-danger" (click)="back()">ย้อนกลับ</button>
        <br>
      </div>
    </div>
  </div>
</div>
