<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">แผนการตรวจ</a></li>
      <li class="breadcrumb-item active" aria-current="page">ตอบรับการตรวจ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">รายละเอียด</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            ผู้สังการ : {{resultuser.name}}
          </div>
          <div class="col-md-6">
            ตำแหน่ง : {{resultuser.position}}
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            เรื่อง : {{resultdetailcentralpolicy.title}}
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <!-- จังหวัด : ขอนแก่น -->
            <u>จังหวัด</u><br>
            <span>{{provincename}}</span>
            <!-- <span
              *ngFor="let item3 of resultdetailcentralpolicy.centralPolicyProvinces; let i = index">ช่วงที่ {{i+1}})
              {{ item3.province.name }}<br></span> -->
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>กำหนดลงพื่นที่</u><br>
            <!-- {{resultdate.id}} -->
            <span> {{ resultdate.startDate | thaidate: 'year' }} - {{ resultdate.endDate | thaidate: 'year' }}</span>
            <!-- <span
              *ngFor="let item2 of ; let i = index">ช่วงที่ {{i+1}})
              {{ item2.startDate | thaidate: 'year' }} - {{ item2.endDate | thaidate: 'year' }}<br></span> -->
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>กระทรวง/กรม</u>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
              <div class="col-3" *ngIf="items.user.role_id == 6">
                {{items.user.prefix}} {{items.user.name}}
              </div>
              <div class="col-2" *ngIf="items.user.role_id == 6">
                <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                  disabled>{{items.status}}</button>
                <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                  disabled>{{items.status}}</button>
                <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                  disabled>{{items.status}}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <u>ภาคประชาชน</u>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-12">
            <div class="row" *ngFor="let items of resultcentralpolicyuser;let ii = index">
              <div class="col-3" *ngIf="items.user.role_id == 7">
                {{items.user.prefix}} {{items.user.name}}
              </div>
              <div class="col-2" *ngIf="items.user.role_id == 7">
                <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                  disabled>{{items.status}}</button>
                <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                  disabled>{{items.status}}</button>
                <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                  disabled>{{items.status}}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row" style="margin-top: 10px; ">
          <div class="col-md-6">
            <u>เรื่องประเด็น</u>
          </div>
          <div class="col-md-6">
            <u>คำถามย่อย</u>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-default table-responsive-sm tableborder">
              <tbody *ngFor="let items of resultdetailcentralpolicy.subjects;let i = index">
                <tr>
                  <td style="border-top: none;">{{i +1}}. {{items.name}}</td>
                  <td style="border-top: none;" width="50%">
                    <div *ngFor="let item of items.subquestions;let i = index">
                      {{ i+1 }}. {{item.name}}
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div> -->
        <div class="row" style="margin-top: 10px;">
          <div class="col-lg-12">
            <table class="table table-default table-responsive-sm tableborder">
              <tbody *ngFor="let items of resultdetailcentralpolicyprovince;let i = index">

                <tr>
                  <td style="border-top: none;">
                    <div class="row">
                      <span style="margin-left: 15px;">หน่วยงานที่เกี่ยวข้อง &nbsp;&nbsp;</span>
                      <div class="col-12"
                        *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceGroups;let ii = index">
                        <span class="col-11">{{ii + 1}}. {{itemss.provincialDepartment.name}}</span>
                      </div>
                    </div>
                  </td>
                  <td style="border-top: none;" width="50%">
                    <div class="row">
                      <span style="margin-left: 15px;">ที่ปรึกษาผู้ตรวจราชการภาคประชาชน &nbsp;&nbsp;</span>

                      <div class="col-12"
                        *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceUserGroups;let ii = index">
                        <span class="col-11">{{ii + 1}}. {{itemss.user.name}}</span>
                      </div>

                      <!-- <div class="col-12"
                          *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceGroups;let ii = index">
                          <span class="col-11">{{ii + 1}}. {{itemss.provincialDepartment.name}}</span>
                          <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer col-1"
                            (click)="DelModal(modaldeleteProvincial, itemss.id)"></i>
                        </div> -->
                    </div>

                  </td>
                </tr>

                <tr>
                  <td style="border-top: none;">
                    <div class="row">
                      <u style="margin-left: 15px;">เรื่องประเด็น</u>
                      <div class="col-12">
                        <input type="text" value="{{items.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                          readonly>
                      </div>
                    </div>
                  </td>
                  <td style="border-top: none;" width="50%">
                    <u>คำถามปลายเปิด</u>
                    <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index">
                      <div class="row" *ngIf="item.type == 'คำถามปลายเปิด'">

                        <div class="col-12">
                          <input type="text" value="{{item.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index">
                  <td style="border-top: none;" *ngIf="item.type == 'คำถามปลายปิด'">
                    <u>คำถามปลายปิด</u>
                    <!-- <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index"> -->
                    <div class="row">
                      <div class="col-12" *ngIf="item.type == 'คำถามปลายปิด'">
                        <input type="text" value="{{item.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                          readonly>
                      </div>
                    </div>
                    <!-- </div> -->
                  </td>

                  <td style="border-top: none;" *ngIf="item.type == 'คำถามปลายปิด'">
                    <u>ตัวเลือกคำถามปลายปิด</u>
                    <div *ngFor="let item2 of items.subquestionCentralPolicyProvinces;let ii = index">
                      <div *ngFor="let item3 of item2.subquestionChoiceCentralPolicyProvinces;let iii = index">
                        <div class="row">
                          <div class="col-12"
                            *ngIf="item2.type == 'คำถามปลายปิด' && item.id == item3.subquestionCentralPolicyProvinceId">
                            <input type="text" value="{{item3.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                              readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <div *ngIf="items.electronicBookSuggestGroups.length > 0" class="col-12 col-xl-12"
                  style="margin-top: 10px; margin-bottom: 20px;">
                  <div class="form-group">

                    <div class="col-12">
                      <div class="row">
                        <div *ngIf="items.electronicBookSuggestGroups[0].detail != 'null'" class="col-12" style="padding-left: 0;">
                          <div class="form-group">
                            <label>ผลการตรวจ</label>
                            <input cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].detail}}"
                              class="form-control" placeholder="กรุณากรอกผลการตรวจ" readonly>
                          </div>
                        </div>
                        <!-- <div class="col-1">
                          <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                            (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                        </div> -->
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="row">
                        <div *ngIf="items.electronicBookSuggestGroups[0].problem != 'null'" class="col-12" style="padding-left: 0;">
                          <div class="form-group">
                            <label>ปัญหาและอุปสรรค</label>
                            <input cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].problem}}"
                              class="form-control" placeholder="กรุณากรอกปัญหาและอุปสรรค" readonly>
                          </div>
                        </div>
                        <!-- <div class="col-1">
                          <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                            (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                        </div> -->
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="row">
                        <div *ngIf="items.electronicBookSuggestGroups[0].suggestion != 'null'" class="col-12" style="padding-left: 0;">
                          <div class="form-group">
                            <label>ข้อเสนอแนะ</label>
                            <input cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].suggestion}}"
                              class="form-control" placeholder="กรุณากรอกข้อเสนอแนะ" readonly>
                          </div>
                        </div>
                        <!-- <div class="col-1">
                          <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                            (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>

              </tbody>
            </table>
          </div>
        </div>

        <!-- <div class="col-12 col-xl-12">
          <div class="form-group">
            <label>รายละเอียดสมุดตรวจอิเล็กทรอนิกส์</label>
            <textarea cols="30" rows="5" value="{{resultelectronicbookdetail}}" class="form-control"
              placeholder="กรุณากรอกรายละเอียดสมุดตรวจอิเล็กทรอนิกส์" readonly>
            </textarea>
          </div>
        </div> -->

        <form [formGroup]="Form">

          <div class="row">
            <div class="col-md-12">
              <u>ไฟล์แนบแผนการตรวจราชการ</u><br>
              <div class="row" *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index"
                style="margin-top: 10px;">
                <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6">
                  <span>ไฟล์ที่
                    {{i+1}})
                    {{ item2.name }}<br>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="margin-top: 10px;">
              <u>ไฟล์แนบกำหนดการตรวจ</u><br>
              <div class="row" *ngFor="let item of carlendarFile; let i = index" style="margin-top: 10px;">
                <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                  <span>ไฟล์ที่
                    {{i+1}})
                    {{ item.name }}<br>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <br>
          <div class="form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="storeAccept(Form.value,'ตอบรับ')" value="ตอบรับ" class="btn btn-primary">ตอบรับ</button>
            &nbsp;&nbsp;
            <button (click)="storeAccept(Form.value,'ปฏิเสธ')" value="ปฏิเสธ" class="btn btn-danger">ปฏิเสธ</button>
            &nbsp;&nbsp;
            <button *ngIf="role_id != 7" (click)="openModal(assignModal)" value="มอบหมาย" class="btn btn-success">มอบหมาย</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- BEGIN primary modal -->
<ng-template #modalInvitePeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storePeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectpeople" name="UserPeopleId"
          formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalInviteMinistryPeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storePeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectministrypeople"
          name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #assignModal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="assignForm" (ngSubmit)="sendAssign(assignForm.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">มอบหมาย</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <textarea cols="30" rows="5" class="form-control" placeholder="กรุณากรอกรายละเอียดมอบหมาย"
          formControlName="assign">
            </textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
