<div class="header">

</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">

      <div class="card-header" style="background-color: #008491;text-align: center;">
        <img src="assets/img/logo2.png" width="300px" height="auto" />
        <!-- <label style="font-size: 50px;">ระบบตรวจราชการอิเล็กทรอนิกส์</label> -->
      </div>

      <div class="card-body">
        <div class="mt-4" style="align-items: center;text-align: center;">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary" style="width: 80px; height: 80px; border-radius: 15px"
                title="หน้าเข้าสู่ระบบ" (click)="GotoLogin()">
                <i class="fa fa-sign-in-alt" style="font-size: 20px;"></i>
                <br>
                <label class="prompt">เข้าสู่ระบบ</label>
              </button>
            </div>

            <div class="col-6">
              <button routerLink="/allreport" class="btn btn-primary"
                style="width: 80px; height: 80px; border-radius: 15px">
                <i class="fa fa-sign-in-alt" style="font-size: 20px;"></i>
                <br>
                <label class="prompt">ทดสอบ</label>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
