<div class="header">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMain()">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMainTraining()">จัดการหลักสูตรการอบรม</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoBack()">หลักสูตรการอบรม(ช่วง)</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">หลักสูตรการอบรม(กิจกรรม)</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header">
                <br>
                <h4 style="text-align: center;">
                    กำหนดการช่วงที่ {{resulttrainingplan[0].trainingProgram.trainingPhase.phaseNo}}
                </h4>
                <h5 *ngIf="loading">ระหว่างวันที่
                    {{resulttrainingplan[0].trainingProgram.trainingPhase.startDate | thaidate:'short'}} -
                    {{resulttrainingplan[0].trainingProgram.trainingPhase.endDate | thaidate:'short'}}</h5>
                <!-- <div class="float-right">
                    <button class="btn btn-primary" (click)="openModal(modalProgram)"
                        style="margin-top: -60px;">พิมพ์</button>
                </div> -->
            </div>
            <div class="card-body">
                <table *ngIf="loading" class="table table-bordered table-responsive-lg" >
                    <thead>
                        <tr>
                            <th class="text-center">วันที่/เวลา</th>
                            <th class="text-center">กิจกรรม</th>
                            <th class="text-center">วิทยากร</th>
                            <th class="text-center">สถานที่/เตรียมตัว</th>
                            <!-- <th id="par" colspan="1" scope="colgroup">Paris</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <!-- <caption>Delivery slots:</caption> -->
                        <ng-container *ngFor="let item1 of chars|sort:'asc':'programDate';">
                            <tr>
                                <th id="{{item1.programDate}}" class="span" colspan="5" scope="colgroup">
                                    {{item1.programDate|thaidate}}
                                </th>
                            </tr>
                            <tr *ngFor="let item of item1.value |sort:'asc':'minuteStartDate'; let i = index">
                                <td class="text-center" headers="{{item1.programDate}}">
                                    {{item.trainingProgram.minuteStartDate}}-{{item.trainingProgram.minuteEndDate}}
                                </td>
                                <td class="text-center">{{item.trainingProgram.programTopic}}</td>
                                <td class="text-center">{{item.trainingLecturer.lecturerName}}</td>
                                <td class="text-center">
                                    {{item.trainingProgram.programLocation}}/{{item.trainingProgram.programToDress}}
                                </td>
                            </tr>
                        </ng-container>

                        <ng-template>

                        </ng-template>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>