/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* @import "./assets/fontend/css/style.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/fontend/fonts/flaticon/font/flaticon.css";
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.fc-event{
  cursor: pointer;
}
@import "~ng-snotify/styles/material";

@import "./assets/dist/css/modern.css";
