<div class="header">
    <h1 class="header-title">
      ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard-default.html">จัดการฐานข้อมูล</a></li>
        <li class="breadcrumb-item"><a href="#">คำสั่งรับผิดชอบเขตตรวจราชการ</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">DataTables</li> -->
      </ol>
    </nav>
  </div>
  <form class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header" style="margin-bottom: -40px;">
          <h5 class="card-title">จังหวัด</h5>
          <div class="float-right">
            <button class="btn btn-primary" (click)="openModal(modalinstruction-order)"
              style="margin-top: -60px;">เพิ่มจังหวัด</button>
          </div>
        </div>
        <div class="card-body">
          <table id="datatables-basic" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>คำสั่ง</th>
                <th>เรื่อง: </th>
                <th>โดย: </th>
                <th>รายละเอียด: </th>
                <th>วันที่สร้าง</th>
                <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of instruction-order.service; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.Order }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.CreateBy }}</td>
                <td>{{ item.Detail }}</td>
                <td>{{ item.createdAt | date:'dd / MM / yyyy'}}</td>
                <td>
                  <!-- <i class="align-middle mr-2 fas fa-fw fa-search"></i> -->
                  <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                    (click)="openModal(modalinstruction-order, item.id, item.name)"></i>
                  <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                    (click)="openModal(modalinstruction-order, item.id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
