<!-- <ng-snotify></ng-snotify> -->
<div id="page-content-wrapper" (keydown)="handleKeyboardEvent($event)" class="wrapper">
    <!-- <img src="assets/img/logo2.png" class="header-title" width="50%" height="auto" /> -->
    <nav id="sidebar" class="sidebar" [ngClass]="{'toggled': toggled}">
        <!-- <a class="sidebar-brand" [routerLink]="['/main']">
            <img src="assets/img/logo.png" class="img-fluid rounded-circle mb-2" height="42" width="42" />
            &nbsp;
            สตร.
        </a> -->
        <div class="sidebar-content">
            <div class="sidebar-user">

                <!-- กรณณีมีรูป-->
                <img *ngIf="Img != null && Img != '' && Img != 'null' else ImageProFiletemRef" src="{{imgprofileUrl}}/{{Img}}"
                    class="img-fluid rounded-circle mb-2" alt="รูปโปรไฟล์" />

                <!-- กรณณีไม่มีรูป-->
                <ng-template #ImageProFiletemRef>
                    <img src="{{imgprofileUrl}}/user.png" class="img-fluid rounded-circle mb-2" alt="รูปโปรไฟล์" />
                </ng-template>


                <div class="font-weight-bold">{{Prefix}} {{Name}}</div>
                <small>{{Position}}</small>
            </div>

            <ul class="sidebar-nav">
                <li *ngFor="let item of nav;" [ngClass]=" item.url==urlActive ? 'sidebar-item active' :'sidebar-item'">

                    <ng-template #childrenNull>
                        <a (click)="checkactive(item.url)" class="sidebar-link">
                            <i [ngClass]="classIcon+item.icon"></i>
                            <span class="align-middle">{{item.name}} {{item.bridge != null?item.bridge:null}} </span>
                        </a>
                    </ng-template>


                    <div *ngIf="item.children else childrenNull">
                        <a href="#{{item.IDchildren}}" data-toggle="collapse" class="sidebar-link collapsed">
                            <i [ngClass]="classIcon+item.icon"></i>
                            <span class="align-middle">{{item.name}} {{item.bridge ? bridge(item.name).test:null}}
                            </span>
                        </a>
                        <ul *ngFor="let childItem of item.children;" id="{{item.IDchildren}}"
                            class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li [ngClass]="childItem.url == urlActive ? 'sidebar-item active':'sidebar-item' ">

                                <!-- ปามทำไว้ -->

                                <a *ngIf="childItem.ex_link == '1'" target="_blank" (click)="checkactive(childItem.url)"
                                    class="sidebar-link" href="{{childItem.url}}">
                                    <i [ngClass]="classIcon2+childItem.icon"></i>{{childItem.name}}
                                </a>

                                <a *ngIf="childItem.ex_link == '0' && childItem.ex_link!='user' "
                                    (click)="checkactive(childItem.url)" class="sidebar-link"
                                    [routerLink]="[childItem.url]">
                                    <i [ngClass]="classIcon2+childItem.icon"></i>{{childItem.name}}
                                </a>

                                <a *ngIf="childItem.ex_link == 'user'" (click)="userNav(childItem.url,childItem.id)"
                                    class="sidebar-link">
                                    <i [ngClass]="classIcon2+childItem.icon"></i>{{childItem.name}}
                                </a>


                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <ng-container *ngIf="isMobile else NavLock">
                <a title="ย่อ/ขยาย" (click)="onToggle()" class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>

            </ng-container>
            <ng-template #NavLock>
                <a title="ย่อ/ขยาย" (click)="onToggle()" class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
                <a *ngIf="lockNav else lockNavTemRef" title="ปลดล็อค" (click)="onLockNav() "
                    class="sidebar-toggle d-flex mr-2">
                    <i class="fa fa-lock align-self-center"></i>
                </a>
                <ng-template #lockNavTemRef>
                    <a title="ล็อค" (click)="onLockNav() " class="sidebar-toggle d-flex mr-2">
                        <i class="fa fa-lock-open align-self-center"></i>
                    </a>
                </ng-template>

            </ng-template>


            <!-- <form class="form-inline d-none d-sm-inline-block">
              <input class="form-control form-control-lite" type="text" placeholder="Search projects...">
          </form> -->
            <ng-container *ngIf="isMobile else ImgLogo">
                <img style="margin-top: 20px;" src="assets/img/logo2.png" width="150px" height="auto" />

            </ng-container>
            <ng-template #ImgLogo>
                <img style="margin-top: 20px;" src="assets/img/logo2.png" width="300px" height="auto" />

            </ng-template>


            <div class="navbar-collapse collapse">


                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle position-relative" href="javascript:void(0)" id="messagesDropdown"
                          data-toggle="dropdown">
                          <i class="align-middle fas fa-envelope-open"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                          aria-labelledby="messagesDropdown">
                          <div class="dropdown-menu-header">
                              <div class="position-relative">
                                  4 New Messages
                              </div>
                          </div>
                          <div class="list-group">
                              <a href="javascript:void(0)" class="list-group-item">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col-2">
                                          <img src="img/avatars/avatar-5.jpg"
                                              class="avatar img-fluid rounded-circle" alt="Michelle Bilodeau">
                                      </div>
                                      <div class="col-10 pl-2">
                                          <div class="text-dark">Michelle Bilodeau</div>
                                          <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu
                                              tortor.</div>
                                          <div class="text-muted small mt-1">5m ago</div>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)" class="list-group-item">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col-2">
                                          <img src="img/avatars/avatar-3.jpg"
                                              class="avatar img-fluid rounded-circle" alt="Kathie Burton">
                                      </div>
                                      <div class="col-10 pl-2">
                                          <div class="text-dark">Kathie Burton</div>
                                          <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.
                                          </div>
                                          <div class="text-muted small mt-1">30m ago</div>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)" class="list-group-item">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col-2">
                                          <img src="img/avatars/avatar-2.jpg"
                                              class="avatar img-fluid rounded-circle" alt="Alexander Groves">
                                      </div>
                                      <div class="col-10 pl-2">
                                          <div class="text-dark">Alexander Groves</div>
                                          <div class="text-muted small mt-1">Curabitur ligula sapien euismod
                                              vitae.</div>
                                          <div class="text-muted small mt-1">2h ago</div>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)" class="list-group-item">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col-2">
                                          <img src="img/avatars/avatar-4.jpg"
                                              class="avatar img-fluid rounded-circle" alt="Daisy Seger">
                                      </div>
                                      <div class="col-10 pl-2">
                                          <div class="text-dark">Daisy Seger</div>
                                          <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed,
                                              posuere ac, mattis non.</div>
                                          <div class="text-muted small mt-1">5h ago</div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="dropdown-menu-footer">
                              <a href="javascript:void(0)" class="text-muted">Show all messages</a>
                          </div>
                      </div>
                  </li> -->
                    <li class="nav-item dropdown ml-lg-2">
                        <a class="nav-link dropdown-toggle position-relative" href="javascript:void(0)"
                            id="alertsDropdown" data-toggle="dropdown">
                            <i class="align-middle fas fa-bell"></i>
                            <span *ngIf="resultnotificationscount.length != 0" class="indicator"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                            aria-labelledby="alertsDropdown">
                            <div class="dropdown-menu-header">
                                {{resultnotificationscount.length}} การแจ้งเตือนใหม่
                            </div>

                            <div class="list-group">
                                <div *ngFor="let item of resultnotifications">
                                    <a href="javascript:void(0)" class="list-group-item"
                                        (click)="detailnotifications(item.id,item.status,item.xe,item.provinceId, item.userID,item.centralPolicyId)">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i *ngIf="item.noti == 0"
                                                    class="ml-1 text-warning fas fa-fw fa-envelope-open"></i>
                                                <i *ngIf="item.noti == 1"
                                                    class="ml-1 text-danger fas fa-fw fa-bell"></i>
                                                <!-- <i class="ml-1 text-primary fas fa-fw fa-building"></i>
                                                <i class="ml-1 text-success fas fa-fw fa-bell-slash"></i> -->
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">
                                                    <span *ngIf="item.status == 16">เรื่องตรวจ</span>
                                                    <span *ngIf="item.status == 2">ตอบรับคำเชิญ</span>
                                                    <span *ngIf="item.status == 3">ผู้ตรวจกำลังจะตรวจ</span>
                                                    <span *ngIf="item.status == 4">มีประเด็น/คำถาม(หน่วยรับตรวจ)</span>
                                                    <span *ngIf="item.status == 5">มีประเด็น/คำถาม(ภาคประชาชน)</span>
                                                    <span *ngIf="item.status == 6">ตอบประเด็นคำถามเรียบร้อย(ผู้ตรวจราชการ)</span>
                                                    <span *ngIf="item.status == 7">สมุดตรวจอีเล็กทรอนิกส์</span>
                                                    <span *ngIf="item.status == 8">ผู้ว่าราชการจังหวัดลงลายมือชื่อเรียบร้อย</span>
                                                    <span *ngIf="item.status == 9">ข้อสั่งการในรายงานผลการตรวจราชการ</span>
                                                    <span *ngIf="item.status == 10">ข้อสั่งการ</span>
                                                    <span *ngIf="item.status == 11">รับทราบข้อสั่งการ</span>
                                                    <span *ngIf="item.status == 12">ข้อสั่งการ</span>
                                                    <span *ngIf="item.status == 13">ข้อสั่งการ</span>
                                                    <span *ngIf="item.status == 20">รายงานผลการตรวจราชการ</span>
                                                    <span *ngIf="item.status == 19">มอบหมาย</span>
                                                    <span *ngIf="item.status == 17">สมุดตรวจอีเล็กทรอนิกส์</span>
                                                    <span *ngIf="item.status == 18">สมุดตรวจอีเล็กทรอนิกส์</span>
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    <span *ngIf="item.status == 16">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 2">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 3">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 4">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 5">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 6">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 7">{{item.centralPolicy.title}}..</span>
                                                    <span *ngIf="item.status == 8">{{item.centralPolicy.title}}..</span>
                                                    <span *ngIf="item.status == 9">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 10">{{item.subject}}</span>
                                                    <span *ngIf="item.status == 11">11</span>
                                                    <span *ngIf="item.status == 12">12</span>
                                                    <span *ngIf="item.status == 13">13</span>
                                                    <span *ngIf="item.status == 20">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 19">{{item.centralPolicy.title}}</span>
                                                    <span *ngIf="item.status == 17">{{item.centralPolicy.title}}..</span>
                                                    <span *ngIf="item.status == 18">{{item.centralPolicy.title}}..</span>
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    {{item.createdAt | thaidate: 'short' }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- <a href="javascript:void(0)" class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="ml-1 text-warning fas fa-fw fa-envelope-open"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Lorem ipsum</div>
                                            <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate
                                                hendrerit et.</div>
                                            <div class="text-muted small mt-1">6h ago</div>
                                        </div>
                                    </div>
                                </a> -->

                                <!-- <a href="javascript:void(0)" class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="ml-1 text-primary fas fa-fw fa-building"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Login from 192.186.1.1</div>
                                            <div class="text-muted small mt-1">8h ago</div>
                                        </div>
                                    </div>
                                </a> -->

                                <!-- <a href="javascript:void(0)" class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="ml-1 text-success fas fa-fw fa-bell-slash"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">New connection</div>
                                            <div class="text-muted small mt-1">Anna accepted your request.</div>
                                            <div class="text-muted small mt-1">12h ago</div>
                                        </div>
                                    </div>
                                </a> -->

                            </div>

                            <div class="dropdown-menu-footer">
                                <!-- <a href="javascript:void(0)" class="text-muted">Show all notifications</a> -->
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-lg-2">
                        <a class="nav-link dropdown-toggle position-relative" href="javascript:void(0)"
                            id="userDropdown" data-toggle="dropdown">
                            <i class="align-middle fas fa-cog"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item pointer" (click)="openModal(modalProfile)">
                                <i class="align-middle mr-1 fas fa-fw fa-user"></i> จัดการโปรไฟล์
                            </a>
                            <a class="dropdown-item pointer">
                                <i class="align-middle fas fa-fw fa-key" (click)="openModal(modalpassword)"></i>
                                จัดการรหัสผ่าน
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pointer" (click)="Logout()">
                                <i class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"></i> ออกจากระบบ
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
        <main class="content">
            <div class="container-fluid">

                <router-outlet></router-outlet>
                <!-- <ng-snotify></ng-snotify> -->
            </div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-8 text-left">
                        <ul class="list-inline">
                            <!-- <li class="list-inline-item">
                                <a class="text-muted" href="javascript:void(0)">Support</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="javascript:void(0)">Privacy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="javascript:void(0)">Terms of Service</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="javascript:void(0)">Contact</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-4 text-right">
                        <p class="mb-0">
                            &copy; 2019 - <a [routerLink]="['/main']"
                                class="text-muted">ระบบตรวจราชการอิเล็กทรอนิกส์</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalProfile class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editprofile(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">จัดการข้อมูล</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <!-- <input type="text" formControlName="Formprofile" ng-value="1"> -->

                <div class="form-group">
                    <label class="form-label">อีเมล*</label>
                    <input type="email" formControlName="Email" readonly class="form-control"
                        placeholder="กรุณากรอกอีเมล">
                </div>

                <div class="form-group">
                    <label class="form-label">คำนำหน้า*</label>
                    <input type="text" formControlName="Prefix" class="form-control" placeholder="กรุณากรอกคำนำหน้า">
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">ชื่อ(TH)*</label>
                        <label class="form-label col-6">นามสกุล(TH)*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="FName" class="form-control" required
                                placeholder="กรุณากรอกชื่อ(TH)">
                        </div>

                        <div class="col-6">
                            <input type="text" formControlName="LName" class="form-control" required
                                placeholder="กรุณากรอกนามสกุล(TH)">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">ตำแหน่ง*</label>
                    <input type="text" formControlName="Position" class="form-control" placeholder="กรุณากรอกตำแหน่ง">
                </div>

                <div class="form-group">
                    <label class="form-label">เบอร์โทร*</label>
                    <input type="tel" formControlName="PhoneNumber" class="form-control"
                        placeholder="กรุณากรอกเบอร์โทร">
                </div>

                <div class="form-group">
                    <label class="form-label w-100">รูปโปรไฟล์</label>
                    <img *ngIf="Img != null && Img != '' && Img != 'null'" src="{{imgprofileUrl}}/{{Img}}" class="img-fluid rounded-circle mb-2" width="90px"
                        alt="รูปโปรไฟล์">
                    <input type="file" (change)="uploadFile($event)">
                    <small class="form-text text-muted">สำหรับรูปโปรไฟล์</small>
                </div>

                <div class="form-group">
                    <label class="form-label w-100">แนบลายเซ็น</label>
                    <img *ngIf="Signature != null && Signature != '' && Signature != 'null'" src="{{SignatureUrl}}/{{Signature}}"
                        class="img-fluid rounded-circle mb-2" width="90px" alt="รูปโปรไฟล์">
                    <input type="file" (change)="uploadFile2($event)">
                    <small class="form-text text-muted">แนบลายเซ็น</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalpassword class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editprofile(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">จัดการข้อมูล</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <div class="form-group">
                    <label class="form-label">UserName*</label>
                    <input type="text" formControlName="UserName" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">PassWord*</label>
                    <input type="password" formControlName="PassWord" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">PassWordconfirm*</label>
                    <input type="password" formControlName="PassWordconfirm" readonly class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END primary modal -->
