<div class="header">
    <h1 class="header-title">
        ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">กำหนดสิทธิ์การใช้งาน</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">กำหนดสิทธิ์การใช้งาน : {{rolename}}</h5>
                <div class="float-right">
                    <!-- <span *ngIf="roleId == 6 ||roleId == 8 || roleId == 9 || roleId == 10;">
                        <button class="btn btn-pill btn-success btn-lg" title="เพิ่มข้อมูลแบบหลายคน" (click)="openModal(modalUsermutiple)"
                        style="margin-top: -60px;"><i class="align-middle fas fa-fw fa-plus"></i>
                        </button>
                    </span> -->
                    <span>
                        <button class="btn btn-pill btn-warning btn-lg" title="เพิ่มข้อมูลแบบทีละคน"
                            (click)="openModal(modalUser)" style="margin-top: -60px;"><i
                                class="align-middle fas fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
            </div>

            <!-- All_User -->
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                    [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>ที่</th>
                            <th>รูป</th>
                            <th>UserName</th>
                            <th>ชื่อ-นามสกุล</th>
                            <th>ตำแหน่ง</th>
                            <th *ngIf="roleId == 3 || roleId == 6 || roleId == 8 || roleId == 10">เขตตรวจ</th>
                            <th *ngIf="roleId != 7">หน่วยงาน</th>
                            <th *ngIf="roleId == 4 || roleId == 5 || roleId == 7 || roleId == 9">จังหวัด</th>
                            <th *ngIf="roleId == 7">ด้าน</th>
                            <th>โทรศัพท์</th>
                            <th *ngIf="roleId == 1">อีเมลล์</th>
                            <th>สถานะ</th>
                            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resultuser; let i = index">
                            <td>{{i + 1}}</td>
                            <td>
                                <img *ngIf="item.img != null" src="{{imgprofileUrl}}/{{item.img}}"
                                    class="img-fluid  mb-2" width="90px" alt="รูป">
                                <img *ngIf="item.img == null" src="{{imgprofileUrl}}/user.png" class="img-fluid  mb-2"
                                    width="90px" alt="รูป">
                            </td>
                            <td>{{item.userName}}</td>
                            <td>

                                {{item.prefix + item.name}}

                                <!-- <i class="align-middle fas fa-fw fa-address-card"></i>  -->

                            </td>
                            <td>{{item.position}}</td>
                            <td *ngIf="roleId == 3 || roleId == 6 || roleId == 8 || roleId == 10">
                                <a (mouseover)="getDataRegions($event)" (mouseout)="getDataRegions($event)"> <label
                                        class="badge badge-warning mr-1"
                                        *ngFor="let item2 of item.userRegion; let i2 = index">
                                        {{item2.region.name == "เขตตรวจราชส่วนกลาง" ? "ส่วนกลาง" :item2.region.name.replace(re2, '')}}
                                    </label>
                                </a>
                            </td>
                            <td *ngIf="roleId != 7">
                                <div
                                    *ngIf="roleId == 1 ||roleId == 2 ||roleId == 3 || roleId == 4|| roleId == 5 || roleId == 6 || roleId == 8 || roleId == 9 || roleId == 10">
                                    <label class="badge badge-secondary mr-1">{{item.ministries.name}}</label>
                                </div>
                                <div *ngIf="roleId == 9 || roleId == 10">
                                    <label class="badge badge-secondary mr-1">{{item.departments.name}}</label>

                                </div>
                                <div *ngIf="roleId == 9">
                                    <label
                                        class="badge badge-secondary mr-1">{{item.provincialDepartments.name}}</label>
                                </div>
                            </td>
                            <td *ngIf="roleId == 4 || roleId == 5 || roleId == 7 || roleId == 9">
                                <div *ngFor="let item of item.userProvince">
                                    <label class="badge badge-info mr-1">{{item.province.name}}</label>
                                </div>
                            </td>
                            <td *ngIf="roleId == 7">{{item.side}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td *ngIf="roleId == 1">{{item.email}}</td>
                            <td>
                                <div *ngIf="item.active == 1;else elseBlock">
                                    <label class="badge badge-success mr-1">ใช้งาน</label>
                                </div>
                                <ng-template #elseBlock>
                                    <label class="badge badge-danger mr-1">พ้นหน้าที่</label>
                                </ng-template>
                            </td>
                            <td>
                                <!-- <button class="btn btn-secondary btn-pill btn-sm" title="เปลี่ยนสิทธิ์การใช้งาน">
                                <i class="align-middle fas fa-fw fa-map-marked"
                                    (click)="openchangeModal(modalchangeUser, item.id,item.fiscalYearId,item.userRegion,item.userProvince[0].province.id,item.ministryId
                                    ,item.departmentId,item.provincialDepartmentId,item.side,item.commandnumber,
                                    item.commandnumberdate,item.email,item.prefix,item.name,item.position,item.phoneNumber,
                                    item.startdate,item.enddate,item.img)">
                                </i>
                            </button> -->


                                <button class="btn btn-success btn-pill btn-sm" title="username password">
                                    <i class="align-middle fas fa-fw fa-key"
                                        (click)="openModal(modalpassword, item.id,item.userName,item.pw)">
                                    </i>
                                </button>

                                <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล" (click)="openeditModal(modaleditUser, item.id,item.fiscalYearId,item.userRegion,roleId==9? item.userProvince:item.userProvince[0].provinceId,item.ministryId
                                        ,item.departmentId,item.provincialDepartmentId,item.sideId,item.commandnumber,
                                        item.commandnumberdate,item.email,item.prefix,item.firstnameth,item.lastnameth,item.position,item.phoneNumber,
                                        item.startdate,item.enddate,item.img,item.autocreateuser)">
                                    <i class="align-middle fas fa-fw fa-pen"></i>
                                </button>

                                <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล"
                                    (click)="openModal(modaldeleteuser, item.id)">
                                    <i class="align-middle fas fa-fw fa-trash-alt"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END All_User -->
        </div>
    </div>
</div>

<!-- BEGIN add modal -->
<ng-template #modalUser class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="addForm" (ngSubmit)="store(addForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">เพิ่มข้อมูล</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <div class="form-group">
                    <label>สิทธิ์การใช้งาน : {{rolename}}</label>
                </div>

                <div class="form-group" *ngIf="roleId == 3">
                    <label>กระทรวง : สำนักนายกรัฐมนตรี</label>
                </div>

                <div *ngIf="roleId == 3 || roleId == 6 || roleId == 8 || roleId == 10;">
                    <!-- <div class="form-group">
                        <label>ปี*</label>
                        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกปี"   [items]="selectdatafiscalyear"
                            name="FiscalYear" formControlName="FiscalYear"
                        (change)="getDataRegions($event)">
                        </ng-select>
                    </div> -->

                    <div class="form-group">
                        <label>เขตตรวจราชการ*</label>
                        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเขตตรวจ" [multiple]="true"
                            [items]="selectdataregion" name="UserRegion" formControlName="UserRegion">
                        </ng-select>
                    </div>
                </div>


                <div class="form-group"
                    *ngIf="roleId == 1 || roleId == 2  || roleId == 6 ||roleId == 8 || roleId == 9 || roleId == 10;">
                    <div class="row">
                        <label class="form-label col-6">หน่วยงาน/กระทรวง*</label>
                        <label class="form-label col-6">หน่วยงาน/กรม*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กระทรวง"
                                formControlName="MinistryId" [items]="selectdataministry"
                                (change)="getDataDepartments($event)">
                            </ng-select>
                        </div>

                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กรม"
                                formControlName="DepartmentId" [items]="selectdatadeparment"
                                (change)="getProvincialDepartments($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="roleId == 9;">
                    <label>หน่วยงานภูมิภาค*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงานภูมิภาค"
                        formControlName="ProvincialDepartmentId" [items]="selectdataprovincialdepartment">
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="roleId == 4 || roleId == 5|| roleId == 7 || roleId == 9;">
                    <!-- จังหวัดหลายอัน -->
                    <label>จังหวัด*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด"
                        formControlName="UserProvince" [items]="selectdataprovince" [multiple]="roleId == 9">
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="roleId == 7;">
                    <!-- ด้าน -->
                    <label>ด้าน*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกด้าน" formControlName="SideId"
                        [items]="selectdataside">
                    </ng-select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">ตามคำสั่งเลขที่</label>
                        <label class="form-label col-6">ลงวันที่ตามคำสั่งเลขที่</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="Commandnumber" class="form-control"
                                placeholder="กรุณากรอกตามคำสั่งเลขที่">
                        </div>

                        <div class="col-6">
                            <my-date-picker-th formControlName="Commandnumberdate" [options]="myDatePickerOptions"
                                placeholder="กรุณาเลือกวันที่">
                            </my-date-picker-th>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">อีเมล*</label>
                        <label class="form-label col-6">คำนำหน้า*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="email" formControlName="Email" class="form-control" required
                                placeholder="กรุณากรอกอีเมล">
                        </div>

                        <div class="col-6">
                            <input type="text" formControlName="Prefix" class="form-control" required
                                placeholder="กรุณากรอกคำนำหน้า">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">

                        <label class="form-label col-6">ชื่อ(TH)*</label>
                        <label class="form-label col-6">นามสกุล(TH)*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="FName" class="form-control" required
                                placeholder="กรุณากรอกชื่อ(TH)">
                        </div>

                        <div class="col-6">
                            <input type="text" formControlName="LName" class="form-control" required
                                placeholder="กรุณากรอกนามสกุล(TH)">
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="row">                   
                        <label class="form-label col-6">ชื่อ(EN)*</label>
                        <label class="form-label col-6">นามสกุล(EN)*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="" class="form-control" required placeholder="กรุณากรอกชื่อ(EN)">
                        </div>
                        
                        <div class="col-6">
                            <input type="text" formControlName="" class="form-control" required placeholder="กรุณากรอกนามสกุล(EN)">
                        </div> 
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">ตำแหน่ง*</label>
                        <label class="form-label col-6">โทรศัพท์*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="Position" class="form-control" required
                                placeholder="กรุณากรอกตำแหน่ง">
                        </div>

                        <div class="col-6">
                            <input type="text" max="10" formControlName="PhoneNumber" class="form-control" required
                                placeholder="กรุณากรอกโทรศัพท์" numbersOnly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">วันที่เริ่มต้น*</label>
                        <label class="form-label col-6">วันที่สิ้นสุด</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <my-date-picker-th formControlName="Startdate" [options]="myDatePickerOptions" required
                                [(ngModel)]="date" placeholder="กรุณาเลือกวันที่เริ่มต้น">
                            </my-date-picker-th>
                        </div>

                        <div class="col-6">
                            <my-date-picker-th formControlName="Enddate" [options]="myDatePickerOptions"
                                placeholder="กรุณาเลือกวันที่สิ้นสุด">
                            </my-date-picker-th>
                        </div>
                    </div>
                </div>

                <!-- Begin ปาล์ม -->
                <div class="form-group">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="Autocreateuser" id="1" name="1" [value]="1">
                        <span class="form-check-label">กำหนด UserName อัติโนมัติ</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="Autocreateuser" id="0" name="0" [value]="0">
                        <span class="form-check-label">กำหนด UserName เอง</span>
                    </label>
                    <input *ngIf="Autocreateuser != 1" type="text" formControlName="UserName" class="form-control"
                        placeholder="กรุณากรอก UserName">
                </div>
                <!-- END ปาล์ม -->

                <div class="form-group">
                    <label class="form-label w-100">รูปโปรไฟล์</label>
                    <input type="file" (change)="uploadFile($event)" required accept="image/jpeg, image/png" />
                    <small class="form-text text-muted">สำหรับรูปโปรไฟล์</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END add modal -->

<!-- BEGIN add modal -->
<ng-template #modalUsermutiple class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="addForm" (ngSubmit)="store(addForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">เพิ่มข้อมูลแบบหลายคน</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <div class="form-group">
                    <label>สิทธิ์การใช้งาน : {{rolename}}</label>
                </div>

                <div class="form-group">
                    <label class="form-label">จำนวนที่จะสร้าง*</label>
                    <input type="number" formControlName="num" class="form-control" required
                        placeholder="กรุณากรอกจำนวนที่จะสร้าง">
                </div>

                <div *ngIf="roleId == 3 || roleId == 6 || roleId == 8 || roleId == 10;">
                    <div class="form-group">
                        <label>เขตตรวจราชการ*</label>
                        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเขตตรวจ" [multiple]="true"
                            [items]="selectdataregion" name="UserRegion" formControlName="UserRegion">
                        </ng-select>
                    </div>
                </div>

                <div class="form-group"
                    *ngIf="roleId == 1 || roleId == 2  || roleId == 6 ||roleId == 8 || roleId == 9 || roleId == 10;">
                    <div class="row">
                        <label class="form-label col-6">หน่วยงาน/กระทรวง*</label>
                        <label class="form-label col-6">หน่วยงาน/กรม*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กระทรวง"
                                formControlName="MinistryId" [items]="selectdataministry"
                                (change)="getDataDepartments($event)">
                            </ng-select>
                        </div>

                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กรม"
                                formControlName="DepartmentId" [items]="selectdatadeparment"
                                (change)="getProvincialDepartments($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="roleId == 9;">
                    <label>หน่วยงานภูมิภาค*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงานภูมิภาค"
                        formControlName="ProvincialDepartmentId" [items]="selectdataprovincialdepartment">
                    </ng-select>

                </div>

                <div class="form-group">
                    <label class="form-label">วันที่เริ่มต้น*</label>
                    <my-date-picker-th formControlName="Startdate" [options]="myDatePickerOptions" required
                        [(ngModel)]="date" placeholder="กรุณาเลือกวันที่เริ่มต้น">
                    </my-date-picker-th>
                </div>

                <div class="form-group">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mo" value="0">
                        <span class="form-check-label">กำหนด UserName อัติโนมัติ
                        </span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mo" value="1">
                        <span class="form-check-label">กำหนด UserName เอง
                        </span>
                    </label>

                </div>

                <div class="form-group">
                    <label class="form-label">UserName*</label>
                    <input type="number" formControlName="UserName" class="form-control" required
                        placeholder="กรุณากรอก UserName">
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END add modal -->

<!-- BEGIN edit modal -->
<ng-template #modaleditUser class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="addForm" (ngSubmit)="updateuser(addForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">แก้ไขผู้ใช้</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <div class="form-group">
                    <label>สิทธิ์การใช้งาน : {{rolename}}</label>
                </div>

                <div class="form-group" *ngIf="roleId == 3">
                    <label>กระทรวง : สำนักนายกรัฐมนตรี</label>
                </div>

                <div *ngIf="roleId == 3 || roleId == 6 || roleId == 8 || roleId == 10;">

                    <!-- <div class="form-group">
                            <label>ปี*</label>
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกปี"   [items]="selectdatafiscalyear"
                                name="FiscalYear" formControlName="FiscalYear"
                            (change)="getDataRegions($event)">
                            </ng-select>
                        </div> -->

                    <div class="form-group">
                        <label>เขตตรวจราชการ*</label>
                        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเขตตรวจ" [multiple]="true"
                            [items]="selectdataregion" name="UserRegion" formControlName="UserRegion">
                        </ng-select>
                    </div>
                </div>

                <div class="form-group"
                    *ngIf="roleId == 1 || roleId == 2  || roleId == 6 ||roleId == 8 || roleId == 9 || roleId == 10;">
                    <div class="row">
                        <label class="form-label col-6">หน่วยงาน/กระทรวง*</label>
                        <label class="form-label col-6">หน่วยงาน/กรม*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กระทรวง"
                                formControlName="MinistryId" [items]="selectdataministry"
                                (change)="getDataDepartments($event)">
                            </ng-select>
                        </div>

                        <div class="col-6">
                            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน/กรม"
                                formControlName="DepartmentId" [items]="selectdatadeparment"
                                (change)="getProvincialDepartments($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="roleId == 9;">
                    <label>หน่วยงานภูมิภาค</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงานภูมิภาค"
                        formControlName="ProvincialDepartmentId" [items]="selectdataprovincialdepartment">
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="roleId == 4 || roleId == 5|| roleId == 7 || roleId == 9;">
                    <!-- จังหวัดหลายอัน -->
                    <label>จังหวัด*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด"
                        formControlName="UserProvince" [items]="selectdataprovince" [multiple]="roleId == 9">
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="roleId == 7;">
                    <!-- ด้าน -->
                    <label>ด้าน*</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกด้าน" formControlName="SideId"
                        [items]="selectdataside">
                    </ng-select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">ตามคำสั่งเลขที่</label>
                        <label class="form-label col-6">ลงวันที่ตามคำสั่งเลขที่</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="Commandnumber" class="form-control"
                                placeholder="กรุณากรอกตามคำสั่งเลขที่">
                        </div>

                        <div class="col-6">
                            <my-date-picker-th formControlName="Commandnumberdate" [options]="myDatePickerOptions"
                                placeholder="กรุณาเลือกวันที่">
                            </my-date-picker-th>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">อีเมล*</label>
                        <label class="form-label col-6">คำนำหน้า*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="email" formControlName="Email" class="form-control" required
                                placeholder="กรุณากรอกอีเมล">
                        </div>

                        <div class="col-6">
                            <input type="text" formControlName="Prefix" class="form-control" required
                                placeholder="กรุณากรอกคำนำหน้า">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">

                        <label class="form-label col-6">ชื่อ(TH)*</label>
                        <label class="form-label col-6">นามสกุล(TH)*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="FName" class="form-control" required
                                placeholder="กรุณากรอกชื่อ(TH)">
                        </div>

                        <div class="col-6">
                            <input type="text" formControlName="LName" class="form-control" required
                                placeholder="กรุณากรอกนามสกุล(TH)">
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                        <div class="row">                   
                            <label class="form-label col-6">ชื่อ(EN)*</label>
                            <label class="form-label col-6">นามสกุล(EN)*</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" formControlName="" class="form-control" required placeholder="กรุณากรอกชื่อ(EN)">
                            </div>
                            
                            <div class="col-6">
                                <input type="text" formControlName="" class="form-control" required placeholder="กรุณากรอกนามสกุล(EN)">
                            </div> 
                        </div>
                    </div> -->

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">ตำแหน่ง*</label>
                        <label class="form-label col-6">โทรศัพท์*</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="Position" class="form-control" required
                                placeholder="กรุณากรอกตำแหน่ง">
                        </div>

                        <div class="col-6">
                            <input type="text" max="10" formControlName="PhoneNumber" class="form-control" required
                                placeholder="กรุณากรอกโทรศัพท์" numbersOnly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-6">วันที่เริ่มต้น*</label>
                        <label class="form-label col-6">วันที่สิ้นสุด</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <my-date-picker-th formControlName="Startdate" [options]="myDatePickerOptions" required
                                 placeholder="กรุณาเลือกวันที่เริ่มต้น">
                            </my-date-picker-th>
                        </div>

                        <div class="col-6">
                            <my-date-picker-th formControlName="Enddate" [options]="myDatePickerOptions"
                                placeholder="กรุณาเลือกวันที่สิ้นสุด">
                            </my-date-picker-th>
                        </div>
                    </div>
                </div>

                <!-- Begin ปาล์ม -->
                <div class="form-group">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="Autocreateuser" id="1" name="1" [value]="1">
                        <span class="form-check-label">กำหนด UserName อัติโนมัติ</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="Autocreateuser" id="0" name="0" [value]="0">
                        <span class="form-check-label">กำหนด UserName เอง</span>
                    </label>
                    <input *ngIf="Autocreateuser != 1" type="text" formControlName="UserName" class="form-control"
                        placeholder="กรุณากรอก UserName">
                </div>
                <!-- END ปาล์ม -->

                <div class="form-group">
                    <label class="form-label w-100">รูปโปรไฟล์</label>
                    <img *ngIf="img != null" src="{{imgprofileUrl}}/{{img}}" class="img-fluid rounded-circle mb-2"
                        width="90px" alt="รูปโปรไฟล์">
                    <img *ngIf="img == null" src="{{imgprofileUrl}}/user.png" class="img-fluid rounded-circle mb-2"
                        width="90px" alt="รูปโปรไฟล์">
                    <input type="file" (change)="uploadFile($event)" required accept="image/jpeg, image/png" />
                    <small class="form-text text-muted">สำหรับรูปโปรไฟล์</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END edit modal -->

<!-- BEGIN Delete modal -->
<ng-template #modaldeleteuser class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
        <i class="fa fa-info-circle delete-icon"></i>
        <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
            ลบข้อมูล
        </p>
        <p style="font-size: medium; color: #545454;">
            คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
        </p>
        <button type="button" class="btn btn-primary btnMargin" (click)="deleteuser(id)">
            ใช่
        </button>
        <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
            ไม่ใช่
        </button>
    </div>
</ng-template>
<!-- END Delete modal -->

<!-- BEGIN add modal -->
<ng-template #modalpassword class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="addForm" (ngSubmit)="resetpassword(id)">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Reset Password</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">


                <div class="form-group">
                    <label class="form-label">UserName*</label>
                    <input type="text" formControlName="UserName" class="form-control" readonly placeholder="">
                </div>

                <div class="form-group">
                    <label class="form-label">password*</label>
                    <input type="text" formControlName="Pw" class="form-control" readonly placeholder="">
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Reset</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- </div> -->
    </form>
</ng-template>
<!-- END add modal -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>