<div class="header">
    <h1 class="header-title">
        หน้าหลัก
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="#">จัดการผู้ใช้</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">จัดการผู้ใช้</h5>
                <div class="float-right">
                    <button class="btn btn-primary" (click)="openModal(modalUser)"
                        style="margin-top: -60px;">เพิ่มจัดการผู้ใช้</button>
                </div>
            </div>
            <div class="card-body">
                <table id="datatables-basic" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>สิทธิ์การใช้งาน</th>
                            <th>ชื่อ-นามสกุล</th>
                            <th>จังหวัด</th>
                            <th>สถานะ</th>
                            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Super admin</td>
                            <td>นายพิทยา นวลชื่น</td>
                            <td>กรุงเทพฯ</td>
                            <td>ใช้งานปกติ</td>
                            <td>
                                <i class="align-middle mr-2 fas fa-fw fa-pen"></i>
                                <i class="align-middle mr-2 fas fa-fw fa-trash-alt"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalUser class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">จัดการผู้ใช้</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <div class="form-group">

                <label>สิทธิ์การใช้งาน</label>
                <ng-select placeholder="กรุณาเลือกสิทธิ์การใช้งาน" [options]="selectdatarole" [allowClear]="true">
                </ng-select>

            </div>
            <div class="form-group">

                <label>กระทรวง</label>
                <ng-select placeholder="กรุณาเลือกกระทรวง" [options]="selectdataministry" [allowClear]="true">
                </ng-select>

            </div>
            <div class="form-group">

                <label>หน่วยงาน</label>
                <ng-select placeholder="กรุณาเลือกหน่วยงาน" [options]="selectdatadeparment" [allowClear]="true">
                </ng-select>

            </div>
            <div class="form-group">

                <label>จังหวัด</label>
                <ng-select placeholder="กรุณาเลือกจังหวัด" [multiple]="true" [options]="selectdataprovince" [allowClear]="true">
                </ng-select>

            </div>
            <div class="form-group">
                <label class="form-label">อีเมล</label>
                <input type="email" class="form-control" placeholder="กรุณากรอกอีเมล">
            </div>
            <div class="form-group">
                <label class="form-label">ชื่อ-นามสกุล</label>
                <input type="text" class="form-control" placeholder="กรุณากรอกชื่อ-นามสกุล">
            </div>
            <div class="form-group">
                <label class="form-label">เบอร์โทร</label>
                <input type="tel" class="form-control" placeholder="กรุณากรอกชื่อ-นามสกุล">
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">บันทึก</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
    </div>
    <!-- </div> -->
</ng-template>
<!-- END primary modal -->