<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/Main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active" >ข้อมูลพื้นฐาน</li>
      <li class="breadcrumb-item active">>เขตตรวจราชการ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เขตตรวจราชการ</h5>
        <div class="float-right">
          <button class="btn btn-primary" (click)="openModal(modalRegion)"
            style="margin-top: -60px;">เพิ่มเขตตรวจราชการ</button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>ชื่อเขตตรวจราชการ</th>
              <th>วันที่สร้าง</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultregion; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td *ngIf="item.createdAt != null; else elseBlock">{{ item.createdAt | thaidate:'short'}}</td>
              <ng-template #elseBlock>
                <td></td>
              </ng-template>
              <td>

                <button type="button" class="btn btn-primary btn-pill btn-sm" 
                  (click)="openModal(modaleditRegion, item.id, item.name)" title="แก้ไขคำร้องขอ">
                  <i class="align-middle fas fa-fw fa-sm fa-pen"></i>
                </button>

                <button type="button" class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล"
                  (click)="openModal(modaldeleteRegion, item.id, item.name)">
                  <i class="align-middle fas fa-fw fa-trash-alt"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalRegion class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storeRegion(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการเขตตรวจราชการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label class="form-label">เขตตรวจราชการ</label>
          <input formControlName="name" type="text" class="form-control" placeholder="กรุณากรอกเขตตรวจราชการ"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">กรุณากรอกเขตตรวจราชการ</div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บักทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

  <!-- BEGIN primary modal -->
  <ng-template #modaldeleteRegion class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteRegion(delid)">
        ใช่
      </button>
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->

    <!-- BEGIN primary modal -->
    <ng-template #modaleditRegion class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <form [formGroup]="Form" (ngSubmit)="editRegion(Form.value,delid)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">จัดการเขตตรวจราชการ</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <div class="form-group">
            <label class="form-label">ชื่อเขตตรวจราชการ</label>
            <input type="text" formControlName="name" class="form-control"
              placeholder="กรุณากรอกชื่อเขตตรวจราชการ" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">กรุณากรอกเขตตรวจราชการ</div>
              </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
  <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->
