<div class="header">
    <h1 class="header-title">
        ผู้สมัครเข้าร่วมอบรม
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">จัดการหลักสูตรการอบรม</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">จัดการหลักสูตรการอบรม</h5>
                <div class="float-right">
                    <button class="btn btn-primary" (click)="openModal(modalSurvey)"
                        style="margin-top: -60px;">เพิ่มหัวข้อวัดผลประเมิน</button>
                </div>
            </div>
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                    [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="40%">เงื่อนไขคุณสมบัติ</th>
                            <th width="20%" class="text-center">เกณฑ์</th>
                            <th width="10%" class="text-center">ประเภท</th>
                            <th width="15%">วันที่เพิ่ม</th>
                            <th width="10%"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resulttraining; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td class="ellipsis">{{ item.name }}</td>
                            <td class="ellipsis text-center">
                                <ng-container *ngIf="item.conditionType == 1;else msecond">

                                </ng-container>
                                <ng-template #msecond>
                                    <ng-container *ngIf="item.conditionType == 2;else mthird">
                                        อายุ {{item.startYear}} - {{item.endYear}}
                                    </ng-container>
                                </ng-template>
                                <ng-template #mthird>

                                </ng-template>
                            </td>
                            <td class="ellipsis text-center">
                                <ng-container *ngIf="item.conditionType == 1;else second">
                                    พื้นฐาน
                                </ng-container>
                                <ng-template #second>
                                    <ng-container *ngIf="item.conditionType == 2;else third">
                                        คำนวณอายุ
                                    </ng-container>
                                </ng-template>
                                <ng-template #third>

                                </ng-template>
                            </td>
                            <td class="ellipsis">{{ item.createdAt | thaidate:'year'}}</td>
                            <td>
                                <!-- <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                  (click)="editModal(modaleditTrainingCondition, item.id, item.name, item.startYear, item.endYear)"></i> -->
                                <i class="align-middle mr-2 fas fa-fw fa-trash pointer"
                                    (click)="openModal(modaldeleteTrainingCondition, item.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- BEGIN primary modal -->
    <ng-template #modalSurvey class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
        <form [formGroup]="Form" (ngSubmit)="storeTraining(Form.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">เพิ่มเงื่อนไขคุณสมบัติ</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body m-3">
                    <div class="form-group">
                        <label for="conditiontype" class="form-label">ประเภทคุณสมบัคิ</label>
                        <select class="form-control" formControlName="conditiontype" (change)="selectInput($event)">
                            <option value=1>พื้นฐาน</option>
                            <option value=2>คำนวณอายุ</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="form-label">เงื่อนไขคุณสมบัติ</label>
                        <input type="text" formControlName="name" class="form-control"
                            placeholder="กรุณากรอกเงื่อนไขคุณสมบัติ">

                    </div>

                    <div class="form-group" *ngIf="isNameSelected">
                        <div class="input-group">
                            <label for="startyear" class="form-text">อายุ</label>
                            &nbsp;
                            <input type="number" formControlName="startyear" class="form-control" placeholder=""
                                class="col-2">
                            &nbsp;
                            <label for="endyear" class="form-text">-</label>
                            &nbsp;
                            <input type="number" formControlName="endyear" class="form-control" placeholder=""
                                class="col-2">
                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                    <button type="button" class="btn btn-danger" (click)="modalRef.hide()"
                        data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </form>
        <!-- </div> -->
    </ng-template>
    <!-- END primary modal -->


    <!-- BEGIN primary modal -->
    <ng-template #modaldeleteTrainingCondition class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
            <i class="fa fa-info-circle delete-icon"></i>
            <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
                ลบข้อมูล
            </p>
            <p style="font-size: medium; color: #545454;">
                คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
            </p>
            <button type="button" class="btn btn-primary btnMargin" (click)="deleteTrainingCondition(delid)">
                ใช่
            </button>
            <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
                ไม่ใช่
            </button>
        </div>
    </ng-template>
    <!-- END primary modal -->


    <!-- BEGIN primary modal -->
    <!-- <ng-template #modaleditTrainingCondition class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <form [formGroup]="EditForm" (ngSubmit)="editTrainingCondition(EditForm.value,delid)">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">แก้ไขเงื่อนไขคุณสมบัติ</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
              <div class="form-group">
                  <label for="conditiontype" class="form-label">ประเภทคุณสมบัคิ</label>
                  <select class="form-control" formControlName="conditiontype" (change)="selectInput($event)">
                      <option value=1>พื้นฐาน</option>
                      <option value=2>คำนวณอายุ</option>

                  </select>
              </div>
              <div class="form-group">
                  <label for="name" class="form-label">เงื่อนไขคุณสมบัติ</label>
                  <input type="text" formControlName="name"value="{{name}}" class="form-control"
                      placeholder="กรุณากรอกเงื่อนไขคุณสมบัติ">

              </div>

              <div class="form-group" *ngIf="isNameSelected">
                  <div class="input-group">
                      <label for="startyear" class="form-text">อายุ</label>
                      &nbsp;
                      <input type="number" formControlName="startyear" class="form-control"
                      placeholder="" class="col-2">
                      &nbsp;
                      <label for="endyear" class="form-text">-</label>
                      &nbsp;
                      <input type="number" formControlName="endyear" class="form-control"
                      placeholder="" class="col-2">
                  </div>


              </div>


          </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                    <button type="button" class="btn btn-danger" (click)="modalRef.hide()"
                        data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </form>
    </ng-template> -->
    <!-- END primary modal -->

</div>