<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">แผนการตรวจราชการ</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div *ngIf="role_id == 1 || role_id == 2;else elseBlock" class="card-header" style="margin-bottom: -40px;">
        <div class="card-title">
          <div class="row" style="margin-left: 1.5px;">
            <h5>แผนการตรวจราชการ</h5>
            <div class="col-2">
              <select (change)="selectfiscalyear($event.target.value)" class="form-control select2"
                data-toggle="select2">
                <!-- <option value="currentfiscalyear">ปีปัจจุบัน</option> -->
                <option value="allfiscalyear">ทุกปี</option>
                <option *ngFor="let item of resultfiscalyear; let i = index" value="{{item.id}}"
                  [selected]='item.id == currentyear.id'>
                  {{item.year}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!-- <div class="float-left">
          <div class="form-group">
            <div class="form-group col-md-12">
              <div class="mb-12">
                <select (change)="selectfiscalyear($event.target.value)" class="form-control select2"
                  data-toggle="select2">
                  <option value="currentfiscalyear">ปีปัจจุบัน</option>
                  <option value="allfiscalyear">ทุกปี</option>
                  <option *ngFor="let item of resultfiscalyear; let i = index" value="{{item.id}}">
                    {{item.year}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div> -->

        <div class="float-right">
          <button class="btn btn-primary" title="เพิ่มแผนการตรวจราชการ" (click)="CreateCentralPolicy()"
            style="margin-top: -60px;"> <i class="align-middle fas fa-fw fa-plus pointer"></i>
          </button>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card-header">
          <div class="card-title">
            <div class="row" style="margin-left: 1.5px;">
              <h5>แผนการตรวจราชการ</h5>
              <div class="col-2">
                <select (change)="selectfiscalyear($event.target.value)" class="form-control select2"
                  data-toggle="select2">
                  <!-- <option value="currentfiscalyear">ปีปัจจุบัน</option> -->
                  <option value="allfiscalyear">ทุกปี</option>
                  <option *ngFor="let item of resultfiscalyear; let i = index" value="{{item.id}}"
                    [selected]='item.id == currentyear.id'>
                    {{item.year}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <br>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th width="5%">ที่</th>
              <th>แผนการตรวจราชการ</th>
              <th width="25%">เรื่องที่ตรวจ</th>
              <th>ปี</th>
              <th>ระยะเวลาการตรวจ</th>
              <th>สถานะ</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultcentralpolicy; let i = index">
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">{{ i + 1 }}</td>
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">{{ item.type }}</td>
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">
                {{ item.title }}( {{item.count}} )</td>
              <!-- *ngIf="item.status == 'ใช้งานจริง';" -->
              <!-- <td *ngIf="item.status == 'ร่างกำหนดการ';">{{ item.title }}</td> -->
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">{{item.fiscalYear.year}}</td>
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">
                <div *ngFor="let item2 of item.centralPolicyDates;">{{ item2.startDate | thaidate: 'year' }} -
                  {{ item2.endDate | thaidate: 'year' }}</div>
              </td>
              <td (click)="DetailrowCentralPolicy(item.id,item.title)" class="pointer">{{ item.status }}</td>
              <td>
                <div class="row">
                  <i title="ดูรายละเอียดเรื่องที่ตรวจ" style="margin-top: 6px;"
                    class="align-middle mr-2 fas fa-file-medical pointer" (click)="Subject(item.id,item.title)"></i>
                  <!-- <i class="align-middle mr-2 fas fa-fw fa-book pointer" (click)="DetailCentralPolicy(item.id)"></i> -->
                  <div *ngIf="role_id == 1 || role_id == 2">
                    <i title="แก้ไขเรื่องที่ตรวจ" class="align-middle mr-2 fas fa-fw fa-pen pointer" (click)="EditCentralPolicy(item.id)"></i>

                    <!-- <i *ngIf="role_id == 1 || role_id == 2;" class="align-middle mr-2 fas fa-fw fa-pen pointer" (click)="EditCentralPolicy(item.id)"></i> -->
                    <i title="ลบเรื่องที่ตรวจ" class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                      (click)="openModal(modaldeleteCentralPolicy, item.id)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modaldeleteCentralPolicy class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteCentralPolicy(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>