<div class="header">
    <h1 class="header-title">
        ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">แผนตรวจราชการประจำปี</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">แผนตรวจราชการประจำปี</h5>
            </div>
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                    [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>แผนการตรวจราชการ</th>
                            <th>ประเด็นนโยบาย</th>
                            <th>ปี</th>
                            <th>ระยะเวลา</th>
                            <th>สถานะ</th>
                            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resultcentralpolicy; let i = index">
                            <td>{{ i + 1}}</td>
                            <td>{{item.class}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.fiscalYear.year}}</td>
                            <td>
                                <div *ngFor="let item2 of item.centralPolicyDates;">
                                    {{ item2.startDate | thaidate: 'year' }} -
                                    {{ item2.endDate | thaidate: 'year' }}</div>
                            </td>
                            <td>{{item.status}}</td>
                            <td>
                                <i title="ดูรายละเอียดประเด็นย่อย" *ngIf="item.status == 'ใช้งานจริง';"
                                 class="align-middle mr-2 fas fa-fw fa-search pointer" (click)="subjectcentralpolicy(item.id,item.name)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>