<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb" *ngIf="loading">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">แผนตรวจราชการประจำปี</a></li>
      <li class="breadcrumb-item active" aria-current="page">แก้ไขแผนตรวจราชการประจำปี</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">แก้ไขแผนตรวจราชการประจำปี</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="EditForm" (ngSubmit)="EditCentralpolicy(EditForm.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>
              <div class="form-group">
                <label>ปีงบประมาณ*</label>
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <select class="form-control select2" data-toggle="select2" formControlName="year">
                      <!-- formControlName="year" -->
                      <option value=null>กรุณาเลือกปีงบประมาณ</option>
                      <option *ngFor="let item of fiscalYearIdString; let i = index" value="{{item.id}}"
                        [selected]="item.id == fiscalYearId">{{item.year}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเภท*</label>
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <select class="form-control select2" data-toggle="select2" [value]='resultdetailcentralpolicy.type'
                      formControlName="type">
                      <!-- formControlName="type" -->
                      <option value=null>กรุณาเลือกประเภทแผนการตรวจ</option>
                      <option value="ตรวจราชการแบบบูรณาการ">ตรวจราชการแบบบูรณาการ</option>
                      <option value="การตรวจราชการตามภารกิจปกติของหน่วยงาน">การตรวจราชการตามภารกิจปกติของหน่วยงาน
                      </option>
                      <option value="การตรวจราชการกรณีพิเศษ">การตรวจราชการกรณีพิเศษ</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>เรื่อง</label>
                <input type="text" value="{{resultdetailcentralpolicy.title}}" formControlName="title"
                  class="form-control" placeholder="กรุณากรอกเรื่อง">
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="radio" name="status" value="ร่างกำหนดการ"
                      [checked]="resultdetailcentralpolicy.status == 'ร่างกำหนดการ'" formControlName="status">
                    <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                    <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง"
                      [checked]="resultdetailcentralpolicy.status == 'ใช้งานจริง'" formControlName="status">
                    <label style="margin-left: 10px;">ใช้งานจริง</label>
                  </div>
                  <!-- <ng-template #elseBlock>
                    <div class="mb-3">
                      <input type="radio" name="status" value="ร่างกำหนดการ" formControlName="status">
                      <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                      <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง" checked
                        formControlName="status">
                      <label style="margin-left: 10px;">ใช้งานจริง</label>
                    </div>
                  </ng-template> -->
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา</label>
            </div>
            <div class="col-12">
              <div class="form-group row" *ngFor="let item of d.value; let i = index">
                <form class="form-group row col-12" [formGroup]="item">
                  <div class="col-12 col-xl-3">
                    <div class="form-group">
                      <my-date-picker-th [selDate]="item.start_date" (dateChanged)="onStartDateChanged($event, i)"
                        [options]="myDatePickerOptions" required>
                      </my-date-picker-th>
                    </div>
                  </div>
                  <div class="col-12 col-xl-1">
                    <div class="form-group" style="text-align: center;">
                      ถึง
                    </div>
                  </div>
                  <div class="col-12 col-xl-3">
                    <div class="form-group">
                      <my-date-picker-th [selDate]="item.end_date" (dateChanged)="onEndDateChanged($event, i)"
                        [options]="myDatePickerOptions" required>
                      </my-date-picker-th>
                    </div>
                  </div>
                  <div class="margin-plus-icon" style="margin-left: 10px;">
                    <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appenddate()"></i>
                    <!-- <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="deleteDate(i)"></i> -->
                  </div>
                  <div class="margin-plus-icon" *ngIf="i != 0">
                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeY(i)" value="i"></i>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <!-- <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="true" id="selected"
                    [items]="selectdataprovince" [(ngModel)]="selected" name="ProvinceId" formControlName="ProvinceId"
                   >
                </ng-select> -->
                <ng-select [items]="selectdataprovince" [multiple]="true" bindLabel="label" groupBy="region"
                  [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value"
                  [(ngModel)]="selected" formControlName="ProvinceId">
                  <ng-template ng-header-tmp>

                    <div>
                      <button class="btn btn-link" (click)="onSelectAll()">เลือกทุกจังหวัด</button>
                      <button class="btn btn-link" (click)="onClearUndo()">เลือกตามเดิม</button>
                      <button class="btn btn-link" (click)="onClearAll()">ล้าง</button>
                    </div>
  
                  </ng-template>
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                      [ngModel]="item$.selected" /> {{item.region }}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                      [ngModel]="item$.selected" /> {{item.name}}
                  </ng-template>
                </ng-select>
              </div>
            </div>

            <!-- <div class="col-12 col-xl-12">
                <div class="form-group">
                  <label>ประเด็น</label>
                  <div class="row" *ngFor="let item of t.controls; let i = index">
                    <form class="form-group row col-12" [formGroup]="item">
                      <div class="col-1 text-center">
                        {{ i + 1 }}.
                      </div>
                      <div class="col-10">
                        <input type="text" class="form-control" placeholder="กรุณากรอกประเด็น">
                      </div>
                      <div class="col-1" *ngIf="i == 0; else elseBlock">
                        <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>
                      </div>
                      <ng-template #elseBlock>
                        <div class="col-1">
                          <i class="align-middle mr-2 far fa-fw fa-minus-square"></i>
                        </div>
                      </ng-template>

                      <div class="col-12 col-xl-12">
                        <label>กำหนดระยะเวลา</label>
                      </div>
                      <div class="col-12 col-xl-3">
                        <div class="form-group">
                          <my-date-picker-th formControlName="start_date"   [items]="myDatePickerOptions" required>
                          </my-date-picker-th>
                        </div>
                      </div>
                      <div class="col-12 col-xl-1">
                        <div class="form-group" align="center">
                          ถึง
                        </div>
                      </div>
                      <div class="col-12 col-xl-3">
                        <div class="form-group">
                          <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
                          </my-date-picker-th>
                        </div>
                      </div>
                      <div class="col-5"></div>

                      <div class="form-group col-12">
                        <label>คำถามย่อยของประเด็นที่ {{ i + 1 }}</label>
                        <div class="row">
                          <div class="col-1 text-center">
                            1.
                          </div>
                          <div class="col-10">
                            <input type="text" class="form-control" placeholder="กรุณคำถามย่อย">
                          </div>
                          <div class="col-1">
                            <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appendquestion()"></i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> -->

            <!-- <div class="col-12 col-xl-12">
                <div class="form-group">
                  <label class="form-label w-100">แนบไฟล์</label>
                  <input type="file" multiple="multiple" formControlName="files">
                  <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
                </div>
              </div> -->
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;">
                <!-- formControlName="files" -->
                <!-- <small *ngIf="fileStatus == false" class="form-text text-muted">{{resultdetailcentralpolicy?.centralPolicyFiles[0]?.name}}</small> -->
                <div class="row">
                  <div class="col-md-12">
                    <u>ไฟล์แนบ</u><br>
                    <div class="row" *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index"
                      style="margin-top: 10px;">
                      <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6">
                        <span>ไฟล์ที่
                          {{i+1}})
                          {{ item2.name }}<br>
                        </span>
                      </a>
                      <i class="fas fa-fw fa-trash-alt pointer col-1" style="font-size: larger;"
                        (click)="openModal(modaldeleteCentralPolicy, item2.id)"></i>
                    </div>
                  </div>
                </div>
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div>
            <!-- <hr> -->
            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modaldeleteCentralPolicy class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteFile()">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>