.btnMargin {
    margin: 10px;
    width: 90px;
    height: 45px;
}
.delete-icon {
    font-size: 80px;
    color: #f8bb86;
    border-color: #facea8;
}
.pointer {
    cursor:pointer;
}
p.thick {
    font-weight: bold;
    font-size: 16px;
  }
    