<div class="header">
  <h1 class="header-title">
    จังหวัด
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li> -->
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">นโยบายกลาง</h5>
        <div class="float-right">
          <button class="btn btn-primary" (click)="openModal(createProvince)" style="margin-top: -60px;">เพิ่มนโยบาลกลาง</button>
        </div>
      </div>
      <div class="card-body">
        <table id="datatables-basic" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>ชื่อคำสั่งการ</th>
              <th>ปี</th>
              <th>ระยะเวลา</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ตรวจ PM 2.5</td>
              <td>2563</td>
              <td>01/01/2563 - 09/01/1563</td>
              <td>
                <i class="align-middle mr-2 fas fa-fw fa-search"></i>
                <i class="align-middle mr-2 fas fa-fw fa-pen"></i>
                <i class="align-middle mr-2 fas fa-fw fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- BEGIN primary modal -->
  <ng-template #createProvince class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Centered modal</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user
            notifications, or completely custom content.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    <!-- </div> -->
  </ng-template >
  <!-- END primary modal -->
