<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">บัตรผู้ร่วมอบรม</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header">
        <h5 class="card-title">บัตรผู้ร่วมอบรม</h5>
        <div class="float-right">
          <button id="btn-export" class="btn btn-primary" (click)="print()" style="margin-top: -60px;">
            <i class="fas fa-print mr-2"></i>พิมพ์
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="book" id="print-section">
          <div *ngFor="let item of printData; let i = index">
            <div class="page" style="page-break-after: always;">
              <table cellpadding="0" cellspacing="0" align="center" style="width: 100%; height: 1000px;">
                <tr>
                  <td style="text-align: center; max-width: 300px; text-overflow: ellipsis;">
                    <div>
                      <h2
                        style="font-size: 65px; transform: rotate(90.0deg); white-space: nowrap; font-family: 'Niramit', sans-serif;">
                        {{item.name}}
                        <!-- <span style="font-size: 15px; position: absolute; right: -200px; top:-60px;">รหัส</span> -->
                        <br>
                        <span style="font-size: 45px;">{{item.department}}</span>
                      </h2>
                    </div>
                  </td>
                  <td style="text-align: center; max-width: 300px; text-overflow: ellipsis;">
                    <h2
                      style="font-size: 65px; transform: rotate(-90.0deg); white-space: nowrap; font-family: 'Niramit', sans-serif;">
                      {{item.name}}
                      <!-- <span style="font-size: 15px; position: absolute; right: -200px; top:-60px;">รหัส</span> -->
                      <br>
                      <span style="font-size: 45px;">{{item.department}}</span>
                    </h2>
                  </td>
                </tr>
              </table>
              <!-- <table cellpadding="0" cellspacing="0" align="center" style="width: 100%; height: 1000px; border:1px solid #000;">
                <tr>
                  <td style="text-align: center; background-color: red; width: 50%;">
                    <h1 style="font-size: 50px; transform: rotate(90.0deg); white-space: nowrap; position:absolute; left: -25px;">
                      {{item.name}}
                      <span style="font-size: 50px; position: absolute; right: -120px;">tttttt</span><br>
                      <span style="font-size: 30px;">{{item.department}}</span>
                    </h1>
                  </td>
                  <td style="text-align: center;">
                    <h1 style="font-size: 50px; transform: rotate(-90.0deg); white-space: nowrap; position:absolute; right: 20px;">
                      {{item.name}}
                      <span style="font-size: 50px; position: absolute; right: -120px;">tttttt</span><br>
                      <span style="font-size: 30px;">{{item.department}}</span>
                    </h1>
                  </td>
                </tr>
              </table> -->
              <!-- <div class="subpage">
                <div class="row-12"
                  style="justify-content: center; text-align: center; flex-direction: row; writing-mode: vertical-lr; text-orientation: mixed; height: 100%; width: 100%;">
                  <div class="col-6">
                    <h1 style="font-size: 30px;">{{item.department}}</h1>
                    <h1 style="font-size: 60px;">{{item.name}}</h1>
                  </div>
                  <div style="transform: rotate(180deg);" class="col-6">
                    <h1 style="font-size: 30px;">{{item.department}}</h1>
                    <h1 style="font-size: 60px;">{{item.name}}</h1>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
