<div class="header">
    <h1 class="header-title">
        ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
            <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
            <li class="breadcrumb-item"><a href="javascript:void(0)">นโยบายกลาง</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">ประเด็นนโยบาย</a></li>
            <li class="breadcrumb-item active" aria-current="page">รายละเอียดประเด็นนโยบาย</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">รายละเอียดประเด็นนโยบาย</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <br>
                        </div>
                        <div class="col-12 col-xl-12">
                            <div class="form-group">
                                <label>ชื่อประเด็นนโยบาย : {{resultsubjectdetail.name}}</label>
                            </div>
                            <div class="form-group">
                                <u>ระยะเวลา</u>
                                <br>
                                <span *ngFor="let item of resultsubjectdetail.subjectDates; let i = index">ช่วงที่
                                    {{i+1}})
                                    {{ item.centralPolicyDate.startDate | thaidate: 'year' }} -
                                    {{ item.centralPolicyDate.endDate | thaidate: 'year' }}<br></span>
                            </div>
                            <div class="form-group">
                                <label>พื้นที่ดำเนินการ</label>
                                <div class="col-12 col-xl-12" 
                                    *ngFor="let item of resultprovince.centralPolicyProvinces; let i = index">
                                    <!-- <div class="col-md-6"> -->
                                        <span>{{ i + 1 }}. {{item.province.name}}</span>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>คำถามย่อย</label>
                                <br>
                                <div class="colum">
                                    <label>คำถามปลายเปิด</label>
                                </div>
                                <br>
                                <div class="row" *ngFor="let item of questionsopen; let i = index">
                                    <div class="col-9 col-xl-9 form-group" *ngIf="item.type == 'คำถามปลายเปิด'">
                                        <input type="text" value="{{item.name}}" class="form-control"
                                            placeholder="กรุณากรอกคำถาม" readonly>
                                    </div>
                                </div>
                                <br>
                                <div class="colum">
                                    <label>คำถามปลายปิด</label>
                                </div>
                                <br>
                                <div class="row" *ngFor="let item of questionsopen; let i = index">
                                    <div class="col-11 col-xl-11" *ngIf="item.type == 'คำถามปลายปิด'">
                                        <div class="row">
                                            <div class="col-9 col-xl-9">
                                                <input type="text" value="{{item.name}}" class="form-control"
                                                    placeholder="กรุณากรอกคำถาม" readonly>
                                            </div>
                                        </div>
                                        <div class="col-11 col-xl-11"
                                            *ngFor="let items of item.subquestionChoices; let i = index">
                                            <div class="row">
                                                <div class="col-9 col-xl-9">
                                                    <input type="text" *ngIf="item.type == 'คำถามปลายปิด'"
                                                        value="{{items.name}}" class="form-control"
                                                        placeholder="กรุณากรอกคำถาม" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger" (click)="back()">กลับ</button>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-sm-5 ml-sm-auto">
                                <button type="submit" class="btn btn-primary">บันทึก</button>
                            </div>
                            <div class="col-sm-5 ml-sm-auto">
                                <button type="button" class="btn btn-danger" (click)="back()">กลับ</button>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>