<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>สตร..ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CFE2D83E41F2003773CCAB8DDB2335781B5D193F</string>
				<key>dateExpires</key>
				<string>7/9/2566 BE</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AJQMGL4SFE.com.teamtoh.asd</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AJQMGL4SFE</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>สตร..app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7268661d-c623-464f-b529-11876354ce5c</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.teamtoh.asd</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AJQMGL4SFE</string>
				<key>name</key>
				<string>TOT PUBLIC COMPANY  LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
