
@import "../../../assets/fontend/css/style.css";

body{
    font-family: "Prompt", sans-serif !important;
  }
  
  .f{
    font-family: "Prompt", sans-serif !important;
  }

.btnMargin {
    margin: 10px;
    width: 90px;
    height: 45px;
}
.delete-icon {
    font-size: 80px;
    color: #f8bb86;
    border-color: #facea8;
}
.pointer {
    cursor:pointer;
}
.ellipsis {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
