<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">คำสั่งการตรวจราชการประจำปี</li>
    </ol>
  </nav>
</div>
<form class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">คำสั่งการตรวจราชการประจำปี</h5>
        <div class="float-right">
          <button class="btn btn-primary" (click)="openModal(modalInspectionorder)"
            style="margin-top: -60px;">เพิ่มคำสั่งการตรวจราชการประจำปี</button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
          <thead>
            <tr>
             <th>#</th>
              <th>ปี</th>
              <th>คำสั่ง</th>
              <th>เรื่อง</th>
              <th>ของ</th>
              <th>ไฟล์แนบ</th>
              <th>วันที่สร้าง</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultInspectionorder; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>{{ item.year }}</td>
              <td>{{ item.order }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.createBy }}</td>         
              <td >
                <a *ngIf="item.file != 'NULL' " href="assets/InspectionorderFile/{{item.file}}" download>{{ item.file }}</a>
              </td>
              <td>{{ item.createdAt | date:'dd / MM / yyyy'}}</td>
              <td>
                <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                  (click)="openModal(modaleditInspectionorder, item.id, item.year, item.order, item.name, item.createBy, item.file)"></i>
                <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                  (click)="openModal(modaldeleteInspectionorder, item.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- BEGIN primary modal -->
  <ng-template #modalInspectionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="storeInspectionorder(Form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">เพิ่มคำสั่งรับผิดชอบเขตตรวจราชการ</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <div class="form-group">
            <label for="test" class="form-label">ปี </label>
            <input type="text" formControlName="year" class="form-control" placeholder="กรุณากรอกปี"><br>
           <label for="test" class="form-label">คำสั่ง</label>
            <input type="text" formControlName="order" class="form-control" placeholder="กรุณากรอกคำสั่ง"><br>
            <label for="test" class="form-label">เรื่อง </label>
            <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อเรื่อง"><br>
            <label for="test" class="form-label">ของ </label>
            <input type="text" formControlName="createBy" class="form-control" placeholder="กรุณากรอก"><br>
            <label for="test" class="form-label">ไฟล์แนบ </label><br>
            <input type="file"multiple (change)="uploadFile($event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->


  <!-- BEGIN primary modal -->
  <ng-template #modaldeleteInspectionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteInspectionorder(delid)">
        ใช่
      </button> &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->

  <!-- BEGIN primary modal -->
  <ng-template #modaleditInspectionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editInspectionorder(Form.value,delid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แก้ไข</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">ปี</label>
          <input type="text" value="{{year}}" formControlName="year" class="form-control" placeholder="กรุณากรอกปี"><br>
            <label for="test" class="form-label">คำสั่ง </label>
            <input type="text" value="{{order}}"formControlName="order" class="form-control" placeholder="กรุณากรอกคำสั่ง"><br>
           <label for="test" class="form-label">เรื่อง </label>
            <input type="text" value="{{name}}"formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อเรื่อง"><br>
            <label for="test" class="form-label">ของ</label>
            <input type="text" value="{{createBy}}"formControlName="createBy" class="form-control" placeholder="กรุณากรอก"><br>
            <label for="test" class="form-label">ไฟล์แนบ </label><br>
            <input type="file">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
<!-- </div> -->
</ng-template>
<!-- END primary modal -->
