<div class="card-body">
        <table *ngIf="loading" class="table table-default table-responsive-sm tableborder" datatable
                [dtOptions]="dtOptions">
                <thead>
                        <tr>
                                <th>#</th>
                                <th>รูป</th>
                                <th>ชื่อ</th>
                                <th>คำขวัญ</th>
                                <th>เว็บไซต์</th>
                                <!-- <th>ตำแหน่งที่ตั้ง</th> -->

                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let item of results; let i = index">
                                <td>{{i+1}}</td>
                                <td><img onmouseover="" [src]="transform(item.Seal)" alt=""></td>
                                <td><a (click)="goToMap(item.Name)" href="javascript:void(0)"> {{item.Name}}</a></td>
                                <td>{{item.Motto}}</td>
                                <td><a (click)="goToWebSite(item.Website)" href="javascript:void(0)">{{item.Website}}</a></td>
                                <!-- <td><a (click)="goToWebSite(item.Website)" href="javascript:void(0)">{{item.Website}}</a></td> -->
                        </tr>
                </tbody>
        </table>
</div>