<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/Main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">ข้อสั่งการถึงผู้ตรวจราชการ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -20px;">
        <h5 class="card-title">ข้อสั่งการถึงผู้ตรวจราชการ</h5>
        <div class="float-right" *ngIf="role_id == 8">
          <button class="btn btn-pill btn-warning btn-lg" title="เพิ่มข้อมูล" (click)="openModal(CreateExcutiveOrder)"
            style="margin-top: -60px;"><i class="align-middle fas fa-fw fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>วันที่มีข้อสั่งการ</th>
              <th>ประเด็น/เรื่อง</th>
              <th>ผู้รับข้อสั่งการ</th>
              <th>สถานะ</th>
              <th> <i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>         
              <tr *ngFor="let item of resultexecutiveorder; let i = index; let first = first;">
             
              <td>{{ i + 1 }}</td>
              <td>{{ item.commanded_date | thaidate: 'year' }}</td>
              <td class="pointer" style="color:#3b7ddd;" (click)="DetailExecutiveOrder(DetailExecutiveorder,item.id)"> 
                <i class="align-middle mr-2 fas fa-fw fa-book"></i> <span>{{item.subject}}</span>
              </td>
              
              <td>
                <div *ngFor="let item2 of item.executiveOrderAnswers;let m = index;">

                  <div *ngIf="item2.userID == userid && role_id == 3">
                    {{item2.user.prefix}} {{item2.user.name}}
                  </div>
 
                  <div *ngIf="role_id == 8 || role_id == 1">
                    {{item2.user.prefix}} {{item2.user.name}}    
                    <hr *ngIf="item.executiveOrderAnswers.length != (m+1) && role_id !=3"> <!-- เส้นขั้น -->              
                  </div>

                </div>
              </td> 
              <td>

                <div *ngFor="let item2 of item.executiveOrderAnswers;let m = index;">

                  <div *ngIf="item2.userID == userid && role_id == 3">
                    <div *ngIf="item.cancel == 1 ; else notcancel">
                      <span style="color: red;">ยกเลิก</span>
                    </div>
                    <ng-template #notcancel>
                      <span *ngIf="item.draft === 1;else nodraft">ฉบับร่าง</span>
                        <ng-template #nodraft>
                          <span [ngStyle]="item2.status === 'รายงานผลเรียบร้อย' ? {'color': '#20c997'}: {'color': ''}">
                            {{item2.status}}
                          </span>
                        </ng-template>
                        <!-- {{item.draft === 1 ? "ฉบับร่าง": item2.status === 'xxx' ? item2.status : item2.status}} -->                    
                    </ng-template>

                    <hr *ngIf="item.executiveOrderAnswers.length != (m+1) && role_id !=3"> <!-- เส้นขั้น -->
                  </div>

                  <div *ngIf="role_id == 8 || role_id == 1">
                    <div *ngIf="item.cancel == 1 ; else notcancel">
                      <span style="color: red;">ยกเลิก</span>
                    </div>
                    <ng-template #notcancel>
                      <span *ngIf="item.draft === 1;else nodraft">ฉบับร่าง</span>
                        <ng-template #nodraft>
                          <span [ngStyle]="item2.status === 'รายงานผลเรียบร้อย' ? {'color': '#20c997'}: {'color': ''}">
                            {{item2.status}}
                          </span>
                        </ng-template>
                        <!-- {{item.draft === 1 ? "ฉบับร่าง": item2.status === 'xxx' ? item2.status : item2.status}} -->                    
                    </ng-template>

                    <hr *ngIf="item.executiveOrderAnswers.length != (m+1) && role_id !=3"> <!-- เส้นขั้น --> 
                  </div>

                </div>
              </td>           
              <td> 

              <div *ngFor="let item2 of item.executiveOrderAnswers;let m = index;">
                <button *ngIf="item2.beaware_date != null" (click)="exportexecutive2(item2.id,item2.userID)" 
                  title="รายงานการดำเนินการตามข้อสั่งการผู้บริหาร">
                  <i class=" fas fa-fw fa-download"></i> 
                </button>
              </div>   

                <!-- สำหรับผู้สร้างข้อสั่งการ -->
                <div *ngIf="role_id == 8 && item.cancel == 0">
                  <button type="button" class="btn btn-circle btn-warning" 
                    (click)="editExecutiveOrder(editExcutiveOrder, item.id,item.commanded_date,item.subject,item.subjectdetail
                    ,item.draft,item.executiveOrderAnswers)" title="แก้ไขข้อสั่งการ">
                    <i class="fas fa-fw fa-sm fa-pen"></i>
                  </button>&nbsp;&nbsp;&nbsp;
                   
                  <button *ngIf="item.accept == 0" type="button" class="btn btn-circle btn-danger"
                  (click)="cancelmodal(cancel,item.id)" title="ยกเลิกข้อสั่งการ">
                    <i class="fas fa-fw fa-sm fa-times"></i>
                  </button>  

                </div> 
                <!-- END สำหรับผู้สร้างข้อสั่งการ -->

                <!-- สำหรับผู้รับข้อสั่งการ -->
                <div *ngIf="role_id == 3 && item.cancel == 0 ">
                   
                  <div *ngFor="let item2 of item.executiveOrderAnswers;let m = index;">
                    <div *ngIf="item2.userID == userid">

                      <button *ngIf="item2.beaware_date == null" type="button" class="btn btn-circle btn-info" 
                        (click)="gotitmodal(gotit,item.id,item2.id,item.subject,item.subjectdetail)" title="รับทราบข้อสั่งการ">
                        รับทราบ
                      </button>  

                      <button *ngIf="item2.beaware_date != null" type="button" class="btn btn-circle btn-warning" 
                        (click)="answerModal(AnswerExecutiveorder,item2.id)" title="รายงานผลข้อสั่งการ">
                        รายงานผล
                      </button>  

                    </div>
                  </div>
                </div>

                <!-- END สำหรับผู้รับข้อสั่งการ -->
                <div *ngIf="item.cancel == 1">
                  {{item.canceldetail == null ? "-" : item.canceldetail}} 
                </div>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN เพิ่ม modal -->
<ng-template #CreateExcutiveOrder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="storeexecutiveorder(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข้อสั่งการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
       
            <div class="form-group">
              <div class="mb-3">
                <input type="radio" name="Draft"  [value]="1" formControlName="Draft">
                <label style="margin-left: 10px;">ร่าง</label>
                <input style="margin-left: 10px;" type="radio" name="Draft"   [value]="0" formControlName="Draft">
                <label style="margin-left: 10px;">ใช้งานจริง</label>
              </div>
            </div>         
     
          <div class="form-group">
            <label class="form-label">วันที่มีข้อสั่งการ*</label>
            <my-date-picker-th formControlName="Commanded_date"   [options]="myDatePickerOptions" [(ngModel)]="date" required>
            </my-date-picker-th>
          </div>

          <div class="form-group">
            <label class="form-label">ประเด็น/เรื่อง*</label>
            <input type="text" formControlName="Subject" class="form-control" placeholder="กรุณากรอกประเด็น/เรื่อง">
          </div>

          <label for="test" class="form-label">รายละเอียด</label>
          <textarea input type="text" formControlName="Subjectdetail" class="form-control" 
            placeholder="กรุณากรอกลายละเอียด" rows="5">
          </textarea>       
            <br>
          <label>ผู้รับข้อสั่งการ</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกผู้รับข้อสั่งการ" [multiple]="true"   [items]="selectdatauser"
            name="Answer_by" formControlName="Answer_by"  >
          </ng-select>
        </div>
        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label w-100">แนบไฟล์</label>
            <input type="file" (change)="uploadFile($event)" [multiple]="true">
            <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END เพิ่ม modal -->

<!-- END รายงาน modal -->
<ng-template #AnswerExecutiveorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="awnserForm" (ngSubmit)="storeanswerexecutiveorder(awnserForm.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">บันทึกการดำเนินการตามข้อสั่งการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="answerdetail" class="form-label">รายละเอียด</label>
          <textarea input type="text" value="{{answerdetail}}" formControlName="Answerdetail" class="form-control"
            placeholder="กรุณากรอกรายละเอียด"></textarea>
          <br>
          <label for="answerProblem" class="form-label">ปัญหา/อุปสรรค</label>
          <textarea input type="text" value="{{answerProblem}}" formControlName="AnswerProblem" class="form-control"
            placeholder="กรุณากรอกปัญหา/อุปสรรค"></textarea>
          <br>
          <label for="answerCounsel" class="form-label">ข้อเสนอแนะ</label>
          <textarea input type="text" value="{{answerCounsel}}" formControlName="AnswerCounsel" class="form-control"
            placeholder="กรุณากรอกข้อเสนอแนะ">
          </textarea>
          <br>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label class="form-label w-100">แนบไฟล์</label>
              <input type="file" multiple (change)="uploadFileanswer($event)">
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!--BEGIN รายงาน modal -->


<!--BEGIN รายละเอียด modal -->
<ng-template #DetailExecutiveorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <form [formGroup]="detailForm"> -->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">ข้อสั่งการถึงผู้ตรวจราชการ
      </h4>
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngFor="let item3 of resultexecutiveorderdetail;let m = index;"> <!-- ข้อมูลหลัก -->
        <p><i class="align-middle mr-2 fas fa-question-circle"></i>
          <b style="font-size: 14px;">
            ประเด็น/เรื่อง: {{item3.subject}}
          </b>
        </p>

        <p>
          <i class="align-middle mr-2 fas fa-file"></i>
          <b class="font-size: 14px;">รายละเอียดคำสั่งการ: 
            {{item3.subjectdetail}}
          </b>
        </p>
        
        <p>
          <i class="align-middle mr-2 fas fa-calendar">
          </i><b class="font-size: 14px;"> วันที่มีข้อสั่งการ:</b>
          <span class="badge badge badge-info">{{item3.commanded_date | thaidate: 'year'}}</span>
        </p>

        <p>
          <i class="align-middle mr-2 fas fa-calendar"></i>
          <b class="font-size: 14px;"> วันที่สร้างข้อสั่งการ:
            <span class="badge badge badge-info">{{item3.createdAt | thaidate: 'year'}}</span>
          </b>
        </p>

        <p>
          <i class="align-middle mr-2 fas fa-fw fa-user-circle">
          </i><b class="font-size: 14px;">ผู้สั่งการ:
            <span class="badge badge-warning">{{item3.userID}}</span>
          </b>
        </p>

        <p>
          <i class="align-middle mr-2 fas fa-fw fa-download">
          </i>ไฟล์แนบ : <br>
          <a *ngFor="let item4 of  item3.executiveOrderFiles let i = index" href="{{imgprofileUrl}}/{{item4.name}}" download>
            <td>
              <p><button class="btn btn-primary">
                  {{i + 1}}. {{item4.name}}</button></p>
            </td>
          </a>
        </p>
        <hr>


        <h4 class="font-weight">การตอบกลับข้อสั่งการถึงผู้ตรวจราชการ</h4>
        <hr>
        <!-- ข้อมูลผู้รับ -->
        <div *ngFor="let item5 of item3.executiveOrderAnswers;let m = index;">
          
          <div *ngFor="let item6 of item5.executiveOrderAnswerDetails;let m = index;">

            <p><i class="align-middle mr-2 fas fa-fw fa-user-circle"></i>
              <b style="font-size: 14px"> ผู้รับเรื่อง: 
                <span class="badge badge-warning">{{item5.user.prefix}} {{item5.user.name}}</span>
              </b>
            </p>

            <p><i class="align-middle mr-2 fas fa-calendar"></i>
              <b style="font-size: 14px;">
                วันที่รายงาน :  <span class="badge badge badge-info">{{item6.commanded_date | thaidate: 'year'}}</span>
              </b>
            </p>

            <p><i class="align-middle mr-2 fas fa-info-circle"></i>
              <b style="font-size: 14px;">
                รายละเอียด : {{item6.answerdetail}}
              </b>
            </p>

            <p><i class="align-middle mr-2 fas fa-exclamation-triangle"></i>
              <b style="font-size: 14px;">
                ปัญหา/อุปสรรค : {{item6.answerProblem}}
              </b>
            </p>

            <p><i class="align-middle mr-2 fas fa-comments"></i>
              <b style="font-size: 14px">
                ข้อเสนอแนะ : {{item6.answerCounsel}}
              </b>
            </p>
          
            <label>
              <i class="align-middle mr-2 fas fa-fw fa-download"></i>ไฟล์แนบ :
              <a *ngFor="let item7 of item6.answerExecutiveOrderFiles let i = index" href="{{imgprofileUrl}}/{{item7.name}}" download>
                <br>
                <td>
                  <h5><button class="btn btn-primary">{{i + 1}}. {{item7.name}}</button></h5>
                </td>
              </a>
            </label>
            <hr>
          </div>  
         
          <!-- END ข้อมูลผู้รับ -->
        </div>
      </div>

    </div>
  </div>
  <!-- </form> -->
  <!-- </div> -->
</ng-template>
<!-- END รายละเอียด modal -->

<!-- BEGIN แก้ไข modal -->
<ng-template #editExcutiveOrder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="updateexecutiveorder(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข้อสั่งการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">

       
            <div class="form-group">
              <div class="mb-3">
                <input type="radio" name="Draft" [value]="1" formControlName="Draft">
                <label style="margin-left: 10px;">ร่าง</label>
                <input style="margin-left: 10px;" type="radio" name="Draft"  [value]="0" formControlName="Draft">
                <label style="margin-left: 10px;">ใช้งานจริง</label>
              </div>
            </div>         
     

          <div class="form-group">
            <label class="form-label">วันที่มีข้อสั่งการ*</label>
            <my-date-picker-th formControlName="Commanded_date"    [options]="myDatePickerOptions"  required>
            </my-date-picker-th>
          </div>

          <div class="form-group">
            <label class="form-label">ประเด็น/เรื่อง*</label>
            <input type="text" formControlName="Subject" value="{{vsubject}}" class="form-control" placeholder="กรุณากรอกประเด็น/เรื่อง">
          </div>

          <label for="test" class="form-label">รายละเอียด</label>
          <textarea input type="text" formControlName="Subjectdetail" class="form-control" 
            placeholder="กรุณากรอกลายละเอียด" rows="5">{{vsubjectdetail}}
          </textarea>       
            <br>
          <label>ผู้รับข้อสั่งการ</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกผู้รับข้อสั่งการ"  [multiple]="true"   [items]="selectdatauser"
            name="Answer_by" formControlName="Answer_by"  >
          </ng-select>
        </div>
        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label w-100">แนบไฟล์</label>
            <p></p>
            <input type="file" (change)="uploadFile($event)" [multiple]="true">
            <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END แก้ไข modal -->


<!-- BEGIN primary modal -->
<ng-template #cancel class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="cancelForm" (ngSubmit)="cancelexecutiveorder(cancelForm.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ยกเลิกข้อสั่งการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body m-3">
        <div class="form-group">
          <label for="canceldetail" class="form-label">รายละเอียดการยกเลิก</label>
          <textarea input type="text" formControlName="canceldetail" class="form-control" 
            placeholder="กรุณากรอกรายละเอียดการยกเลิก" rows="5">
          </textarea>       
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">ยืนยัน</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN got it modal -->
<ng-template #gotit class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="gotitForm" (ngSubmit)="gotitexecutiveorder()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รับทราบข้อสั่งการ</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <b>เรื่อง :</b> {{vsubject}}
         <br><br>
         <b>ลายละเอียด :</b> {{vsubjectdetail}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">รับทราบ</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END got it modal -->