<div class="header">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMain()">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMainTraining()">จัดการหลักสูตรการอบรม</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoTrainingManage()">การจัดการหลักสูตร</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">กำหนดช่วงเวลาการอบรม</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header">
                <h5 class="card-title">
                    กำหนดช่วงเวลาการอบรม
                    
                <!-- <button class="btn btn-light btn-sm" (click)="gotoBack()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </button> -->
                </h5> 
                
                <label class="text-danger" style="font-size:small;">(สำหรับการกำหนดช่วงเวลาอมรมจะนำไปคำนวณเวลาการเข้าอบรม)</label>
            </div>
            
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="45%" style="min-width: 150px;" class="text-center">วันที่อบรม</th>
                            <th width="20%" style="min-width: 150px;" class="text-center">เช้า</th>
                            <th width="20%" style="min-width: 150px;" class="text-center">บ่าย</th>
                            <th width="10%" style="min-width: 150px;" class="text-center"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resulttraining; let i = index">
                            <td>{{ i + 1 }}</td>
                            <!-- <td>{{ item.id }}</td> -->
                            <td>{{item.programDate | thaidate: 'short'}}</td>
                            <td class="text-center">
                                <ng-container *ngIf="(item.xMorning[0] != null) && (item.xMorning[0] != 0) ;">
                                <!-- <tr>
                                    <td class="text-center"> -->
                                        
                                        <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')"> -->
                                        <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/1" target="_blank">
                                            <qrcode  [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],1)" [size]="256" [level]="'M'"></qrcode>
                                        </a>
                                            
                                        <!-- <button id="btn-export" class="btn btn-primary" (click)="downloadQrCode('A'+item.trainingPhaseId+item.programloginId[0]+1,'test1')"><i
                                            class="fas fa-print mr-2"></i>Download
                                        </button> -->

                                        <button id="btn-export" class="btn btn-primary" (click)="OpenModaldownload(modaldownloadA)"><i
                                            class="fas fa-print mr-2"></i>Download
                                        </button>

                                        

                                        <!-- BEGIN Send Email modal -->
                                        <ng-template #modaldownloadA class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
                                                <div id="A{{item.trainingPhaseId}}{{item.programloginId[0]}}1" >
                                                    <h3>{{item.programDate | thaidate: 'short'}} 
                                                        (เช้า) </h3>
                                                    <!-- {{ item.trainingProgramLoginQRCodes.id }} -->
                                                    <a href="javascript:void(0)" >
                                                        <qrcode id="A{{item.trainingPhaseId}}{{item.programloginId[0]}}1" [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],1)" width="500" size="1000" [size]="1000" [level]="'M'"></qrcode>
                    
                                                    </a>
        
                                                </div>
                                                <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/1" target="_blank" class="form-control">{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/1</a>
                                                <br>
                                                <button type="button" class="btn btn-primary btnMargin" (click)="downloadQrCode('A'+item.trainingPhaseId+item.programloginId[0]+1,'Training')">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
                                                    Close
                                                </button>
                                            </div>
                                        </ng-template>
                                        <!-- END Send Email modal -->



                                        <!-- <br />
                                        (เข้า) -->
                                        
                                        
                                    <!-- </td>
                                    <td class="text-center"> -->
                                        
                                            <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')"> -->
                                            <!-- <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/3" target="_blank">
                                                <qrcode  id="qrcode0" [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],3)" [size]="256" [level]="'M'"></qrcode>
                
                                            </a> -->
                                                <!-- {{ item.trainingProgramLoginQRCodes.id }} -->
                                                <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')">
                                                    <qrcode  id="qrcode0" [qrdata]="{{mainUrl}}" [size]="256" [level]="'M'"></qrcode>
                
                                                </a> -->
                                            <!-- <br />
                                            (ออก) -->
                                            
                                            
                                    <!-- </td>
                                </tr> -->
                                </ng-container>
                            </td>
                            <td class="text-center">
                                <ng-container *ngIf="(item.xAfternoon[0] != null) && (item.xAfternoon[0] != 0) ;">
                                <!-- <tr>
                                    <td class="text-center"> -->
                                        
                                            <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')"> -->
                                            <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/2" target="_blank">
                                                <qrcode   [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],2)" [size]="256" [level]="'M'"></qrcode>
            
                                            </a>

                                            <button id="btn-export" class="btn btn-primary" (click)="OpenModaldownload(modaldownloadB)"><i
                                                class="fas fa-print mr-2"></i>Download
                                            </button>


                                            <!-- BEGIN Send Email modal -->
                                            <ng-template #modaldownloadB class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
                                                    <div id="B{{item.trainingPhaseId}}{{item.programloginId[0]}}2" >
                                                        <h3>{{item.programDate | thaidate: 'short'}} 
                                                            (บ่าย) </h3>
                                                        <!-- {{ item.trainingProgramLoginQRCodes.id }} -->
                                                        <a href="javascript:void(0)" >
                                                            <qrcode id="B{{item.trainingPhaseId}}{{item.programloginId[0]}}2" [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],2)" width="500" size="1000" [size]="1000" [level]="'M'"></qrcode>
                        
                                                        </a>
            
                                                    </div>

                                                    <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/2" target="_blank" class="form-control">{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/2</a>
                                                    <br>
                                                    <button type="button" class="btn btn-primary btnMargin" (click)="downloadQrCode('B'+item.trainingPhaseId+item.programloginId[0]+2,'Training')">
                                                        Save
                                                    </button>
                                                    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
                                                        Close
                                                    </button>
                                                </div>
                                            </ng-template>
                                        <!-- END Send Email modal -->


                                            <!-- {{ item.trainingProgramLoginQRCodes.id }} -->
                                            <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')">
                                                <qrcode  id="qrcode0" [qrdata]="{{mainUrl}}" [size]="256" [level]="'M'"></qrcode>
            
                                            </a> -->
                                            <!-- <br />
                                            (เข้า)
                                         
                                          
                                    </td>
                                    <td class="text-center"> -->
                                    
                                            <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')"> -->
                                            <!-- <a href="{{mainUrl}}training/login/{{item.trainingPhaseId}}/{{item.programloginId[0]}}/4" target="_blank">
                                                <qrcode  id="qrcode0" [qrdata]="StringQRCode(item.trainingPhaseId,item.programloginId[0],4)" [size]="256" [level]="'M'"></qrcode>
            
                                            </a> -->
                                            <!-- {{ item.trainingProgramLoginQRCodes.id }} -->
                                            <!-- <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')">
                                                <qrcode  id="qrcode0" [qrdata]="{{mainUrl}}" [size]="256" [level]="'M'"></qrcode>
            
                                            </a> -->
                                            <!-- <br />
                                            (ออก) -->
                                          
                                          
                                    <!-- </td>
                                </tr> -->
                                </ng-container>

                            </td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                    (click)="openModal(modalProgramLogin, item.programloginId[0], item.programDate)"></i>
                            </td>
                        </tr>
                            <!-- <td>1</td>
                            <td class="ellipsis">
                                1 ก.ย. 2563
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" (click)="downloadQrCode('qrcode0','test1')">
                                    <qrcode  id="qrcode0" [qrdata]="'testtetet'" [size]="256" [level]="'M'"></qrcode>

                                </a>

                            </td>
                            <td class="text-center"><a target="_blank"
                                    href="https://lh3.googleusercontent.com/VqQSMGTL8QjufgZ9IEp-rlGsFk_bqO-A9CxQTFn9X9FG3GEJYFGN9XnC960ImPuCWo4"><img
                                        src="https://lh3.googleusercontent.com/VqQSMGTL8QjufgZ9IEp-rlGsFk_bqO-A9CxQTFn9X9FG3GEJYFGN9XnC960ImPuCWo4"
                                        width="50px" /></a></td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                                    (click)="openModal(modalProgramLogin, 1)"></i>
                            </td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="ellipsis">
                                2 ก.ย. 2563
                            </td>
                            <td class="text-center"><a target="_blank"
                                    href="https://lh3.googleusercontent.com/VqQSMGTL8QjufgZ9IEp-rlGsFk_bqO-A9CxQTFn9X9FG3GEJYFGN9XnC960ImPuCWo4"><img
                                        src="https://lh3.googleusercontent.com/VqQSMGTL8QjufgZ9IEp-rlGsFk_bqO-A9CxQTFn9X9FG3GEJYFGN9XnC960ImPuCWo4"
                                        width="50px" /></a></td>
                            <td></td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                                    (click)="openModal(modalProgramLogin, 1)"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="ellipsis">
                                3 ก.ย. 2563
                            </td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                                    (click)="openModal(modalProgramLogin, 1)"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="ellipsis">
                                4 ก.ย. 2563
                            </td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                                    (click)="openModal(modalProgramLogin, 1)"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="ellipsis">
                                5 ก.ย. 2563
                            </td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <i class="align-middle mr-2 fas fa-fw fa-search pointer"
                                    (click)="openModal(modalProgramLogin, 1)"></i>
                            </td>
                        </tr> -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





<!-- BEGIN primary modal -->
<ng-template #modalProgramLogin class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="storeTraining(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">กำหนดช่วงเวลาอบรม</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <div class="form-group">
                    <label for="conditiontype" class="form-label">ช่วงเวลาอบรม</label>
                    <select class="form-control" formControlName="programtype">
                        <option value=null>กรุณาเลือกช่วงเวลาอบรม</option>
                        <option value=1>เช้า</option>
                        <option value=2>บ่าย</option>
                        <option value=3>ทั้งวัน</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </form>
    <!-- </div> -->
</ng-template>
<!-- END primary modal -->