<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMain()">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoMainTraining()">จัดการหลักสูตรการอบรม</a></li>
            <li class="breadcrumb-item"><a class="pointer text-white" (click)="gotoTrainingManage()">การจัดการหลักสูตร</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">บัตรผู้เข้าร่วมอบรม</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header">
        <h5 class="card-title">
          บัตรผู้เข้าร่วมอบรม

          <!-- <button class="btn btn-light btn-sm" (click)="gotoBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button> -->
          <div class="float-right">
            <div>
              <div>
                <button [disabled]="printData.length == 0" id="btn-export" class="btn btn-primary"
                  printSectionId="printhod" [useExistingCss]="true" ngxPrint>
                  <i class="fas fa-print mr-2"></i>พิมพ์ป้ายชื่อ
                </button>
                <!-- <button [disabled]="printData.length == 0" id="btn-export" class="btn btn-primary" (click)="print()">
                  <i class="fas fa-print mr-2"></i>พิมพ์ป้ายชื่อ
                </button> -->

                &nbsp;&nbsp;
                <button id="btn-export" class="btn btn-primary" (click)="gotoPreview()">
                  <i class="fas fa-print mr-2"></i>พิมพ์ป้ายตั้งโต๊ะ
                </button>
              </div>
              <div>
                <label class="text-primary" style="font-weight: bold;">เลือก: {{people.length}} คน</label>
              </div>
            </div>
          </div>
        </h5>

      </div>
      <!-- <div class="card-header col-12">
        <button class="btn btn-success" (click)="exportReport()">Export <i
            class="align-middle mr-2 fas fa-fw fa-file-export pointer"></i>
        </button>
      </div> -->

      <div class="card-body" >
        <div *ngIf="trainingRegisterData.length > 0; else datanull">
          <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
            [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="25%" style="min-width: 200px;">
                  <input type="checkbox" [checked]="trainingRegisterData.length == people.length"
                    (change)="addAllPeoples()">
                  <a class="ml-4 text-primary" href="javascript:void(0)" (click)="addAllPeoples()">ชื่อ-นามสกุล</a>
                </th>
                <th width="25%" style="min-width: 200px;" class="text-center">รหัสผู้ร่วมอบรม</th>
                <th width="25%" style="min-width: 150px;" class="text-center">วันที่สมัคร</th>
                <!-- <th width="20%">ตรววจสอบคุณสมบัติ</th> -->
                <th width="20%" style="min-width: 150px;" class="text-center">สิทธิ์การรับฝึกอบรม</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of trainingRegisterData; let i = index">
                <td>{{ i + 1 }}</td>

                <td class="ellipsis">

                  <input type="checkbox" [checked]="checkPeople(item.id)" (change)="addsPeoples(item.id)">
                  &nbsp;&nbsp;&nbsp;

                  <!-- <span class="pointer text-primary" (click)="openModal(modaldetail, item.id)">{{ item.name }}</span> -->
                  <a class=" text-primary" href="javascript:void(0)" (click)="addsPeoples(item.id)">{{ item.name }}</a>
                </td>
                <td class="text-center">
                  <span *ngIf="item.idCode != null">{{ item.idCode}}</span>
                  <span *ngIf="item.idCode == null" class="text-danger">(กรุณาออกรหัสผู้เข้าร่วมอบรม)</span>
                </td>
                <td class="text-center">{{ item.createdAt | thaidate:'forlog'}}</td>
                <!-- <td>
                  <span (click)="openModal(modalCondition, item.id,item,i)"><i
                      [ngClass]="item.register_status == true ?'align-middle mr-2 fas fa fa-info-circle  pointer text-success':'align-middle mr-2 fas fa fa-info-circle  pointer text-muted'"
                      aria-hidden="true"></i>
                    <label
                      [ngClass]="item.register_status == true ?' pointer text-success':' pointer text-muted'">{{item.register_status == true ? "ตรวจสอบคุณสมบัติแล้ว" : "รอการตรวจสอบคุณสมบัติ"}}</label></span>
                </td> -->
                <td class="text-center">
                  <ng-container *ngIf="item.status == 0;else second">
                    <i class="align-middle mr-2 fas fa fa-info-circle text-muted" aria-hidden="true"></i><label
                      class="text-muted">รอการอนุมัติ</label>
                  </ng-container>
                  <ng-template #second>
                    <ng-container *ngIf="item.status == 1;else third">
                      <i class="align-middle mr-2 fas fa-fw fa-check-circle text-success"></i><label
                        class="text-success">ได้รับสิทธิ์</label>

                    </ng-container>
                  </ng-template>
                  <ng-template #third>
                    <ng-container *ngIf="item.status == 2;">

                      <i class="align-middle mr-2 fas fa-fw fa-times-circle text-danger"></i><label
                        class="text-danger">ไม่ได้รับสิทธิ์</label>

                    </ng-container>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>

      <ng-template #datanull>
        <label class="text-danger">
          (ไม่พบผู้สมัครเข้าร่วมอบรมที่ผ่านการอนุมัติสิทธิ์ กรุณาตรวจสอบผู้เข้าร่วมอบรมที่เมนู "ตรวจสอบคุณสมบัติผู้สมัคร")
        </label>
        
      </ng-template>
    </div>
  </div>
</div>

<ng-template #printTemplate let-dataArray="dataArray">



</ng-template>
<div id="printhod" class="book">
  <div class="page" *ngFor="let dataArray of printDataGroup ; let i = index">
    <div class="subpage">
      <div *ngFor="let item of dataArray ; let ip = index" style="width: 5.78cm;
      height: 8.48cm;
      text-align: center;
      justify-content: center;
      margin:0.25cm">
        <div style="margin-top: 1cm;">
          <img src="/assets/img/previewcard.jpg" [ngStyle]="{
          'margin-bottom.cm': '-8.48',
          'width.cm':'5.78',
          'height.cm':'8.48'}">
          <div style="justify-content: center; flex-direction: row; margin-top: 7%">

            <img src="/img/logo.png" style=" width: 1cm;
                height: 1cm; margin-right: 0.25cm;">
            <img src="/img/bg.png" style=" width: 3.4cm;
                height: 1cm;">

          </div>
          <div style="color: black; font-size: 4mm; margin-top: 0.25cm;">{{item.idCode}}</div>
          <div style=" color: black; font-size: 4mm;">{{item.name}}</div>
          <div style="color: black; font-size: 4mm;">({{item.nickname}})</div>
          <div style="color: black; font-size: 4mm; margin-bottom: 0.25cm;">{{item.department}}</div>
          <div style="color: rgba(0, 0, 0, 0.74); font-size: 4mm;">หลักสูตรผู้ตรวจราชการระดับกระทรวง</div>
          <div style="color:  rgba(0, 0, 0, 0.74); font-size: 4mm;">
            ประจำปีงบประมาณ
            พ.ศ.
            {{item.training.year}}
          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- <div class="page">
    <div class="subpage">Page 2/2</div>
  </div> -->
</div>
<div *ngIf="printData.length != 0">

  <!-- <body-palm class="A4">
    <section class="sheet-palm" *ngFor="let dataArray of printDataGroup ; let i = index">

      <article>This is an A4 document.</article>

    </section>

  </body-palm> -->
  <!-- <body-palm class="A4">
    <div class="sheet-palm" *ngFor="let dataArray of printDataGroup ; let i = index">
      <div *ngFor="let item of dataArray ; let ip = index" style="width: 5.78cm;
      height: 8.48cm;
      display: block;
      text-align: center;
      justify-content: center;
      margin:0.25cm">
        <div style="margin-top: 1cm;">
          <img src="/assets/img/previewcard.jpg" [ngStyle]="{
          'margin-bottom.cm': '-8.48',
          'width.cm':'5.78',
          'height.cm':'8.48'}">
          <div style="justify-content: center; flex-direction: row; margin-top: 7%">

            <img src="/img/logo.png" style=" width: 1cm;
                height: 1cm; margin-right: 0.25cm;">
            <img src="/img/bg.png" style=" width: 3.4cm;
                height: 1cm;">

          </div>
          <div style="color: black; font-size: 4mm; margin-top: 0.25cm;">{{item.idCode}}</div>
          <div style=" color: black; font-size: 4mm;">{{item.name}}</div>
          <div style="color: black; font-size: 4mm;">({{item.nickname}})</div>
          <div style="color: black; font-size: 4mm; margin-bottom: 0.25cm;">{{item.department}}</div>
          <div style="color: rgba(0, 0, 0, 0.74); font-size: 4mm;">หลักสูตรผู้ตรวจราชการระดับกระทรวง</div>
          <div style="color:  rgba(0, 0, 0, 0.74); font-size: 4mm;">
            ประจำปีงบประมาณ
            พ.ศ.
            {{item.training.year}}
          </div>


        </div>
      </div>
    </div>

  </body-palm> -->
</div>