<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">รายงานกำหนดการตรวจราชการ</li>
    </ol>
  </nav>
</div>
<!-- <form class="row"> -->
<div class="col-12">
  <div class="card card-eiei">
    <div class="card-header">
      <div class="float-right">

        <button class="btn btn-primary" (click)="openModal(modalReportAll)">พิมพ์รายงาน
        </button>

        <!-- <button class="btn btn-success" (click)="ExportDate()"
          style="margin-top: -60px;margin-right: 10px;">รายงานกำหนดการตรวจรายวัน</button>

        <button class="btn btn-success" (click)="openModal(modalPeople)"
          style="margin-top: -60px;">รายงานกำหนดการตรวจรายบุคคล</button>
      </div>
      <br>
      <br>
      <div class="float-right">
        <button class="btn btn-success" (click)="openModal(modalRegion)"
          style="margin-top: -60px;margin-right: 10px;">รายงานกำหนดการตรวจรายเขต</button>

        <button class="btn btn-success" (click)="openModal(modalProvince)"
          style="margin-top: -60px;margin-right: 10px;">รายงานกำหนดการตรวจรายจังหวัด</button>

        <button class="btn btn-success" (click)="openModal(modalProvincialDepertment)"
          style="margin-top: -60px;">รายงานกำหนดการตรวจรายหน่วยงาน</button> -->
      </div>
      <h5 class="card-title">รายงานกำหนดการตรวจราชการ</h5>


    </div>
    <div class="card-body">
      <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>#</th>
            <th>ชื่อแผนการตรวจ</th>
            <th>จังหวัด</th>
            <th>กำหนดการตรวจ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultschedule; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.centralpolicyTitle }}</td>
            <td>{{ item.provinceName }}</td>
            <td> {{ item.startDate | thaidate: 'short' }} -
              {{ item.endDate | thaidate: 'short' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalReportAll class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="reportForm" (ngSubmit)="ExportAll(reportForm.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายงานกำหนดการตรวจราชการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-12">

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label">ปีงบประมาณ</label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกปีงบประมาณ" [multiple]="false"
              [items]="fiscalYearData" formControlName="fiscalYear" (change)="selectFiscalYear($event)">
            </ng-select>
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label">เขตตรวจราชการ</label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเขตตรวจราชการ" [multiple]="false"
              [items]="regionData" formControlName="region" (change)="selectRegion($event)">
            </ng-select>
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label">จังหวัด</label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
              [items]="provinceData" name="province" formControlName="province" (change)="selectProvince($event)">
            </ng-select>
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label">หน่วยงาน</label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="false"
              [items]="departmentData" name="department" formControlName="department"
              (change)="selectDepartment($event)">
            </ng-select>
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <div class="form-group">
            <label class="form-label">ผู้ตรวจราชการ</label>
            <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกชื่อ - นามสกุล" [multiple]="false"
              [items]="peopleData" name="people" formControlName="people">
            </ng-select>
          </div>
        </div>

        <div class="col-12 col-xl-12">
          <label>กำหนดเวลา</label>
        </div>

        <div class="col-12">
          <div class="form-group row" *ngFor="let item of d.controls; let i = index">
            <form class="form-group row col-12" [formGroup]="item">
              <div class="col-12 col-xl-12">
                <div class="form-group">
                  <my-date-picker-th formControlName="start_date" [(ngModel)]="inputdate"
                    [options]="myDatePickerOptions" required>
                  </my-date-picker-th>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalRegion class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="ExportRegion(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายงานกำหนดการตรวจราชการรายเขต</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-12">

        <div class="form-group">
          <label>เขต</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเขต" [multiple]="false"
            [items]="selectregion" name="region" formControlName="region">
          </ng-select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalProvince class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form2" (ngSubmit)="ExportProvince(Form2.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายงานกำหนดการตรวจราชการรายจังหวัด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-12">

        <div class="form-group">
          <label>จังหวัด</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
            [items]="selectprovince" name="province" formControlName="province">
          </ng-select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalPeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form3" (ngSubmit)="ExportPeople(Form3.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายงานกำหนดการตรวจราชการรายบุคคล</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-12">

        <div class="form-group">
          <label>ผู้ตรวจ</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกผู้ตรวจ" [multiple]="false"
            [items]="selectpeople" name="people" formControlName="people">
          </ng-select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalProvincialDepertment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form4" (ngSubmit)="ExportProvincialdepartment(Form4.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายงานกำหนดการตรวจราชการรายบุคคล</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-12">

        <div class="form-group">
          <label>หน่วยงาน</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="false"
            [items]="selectprovincialdepartment" name="provincialdepartment" formControlName="provincialdepartment">
          </ng-select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->


<ng-snotify></ng-snotify>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
