<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">ประเด็นการตรวจติดตาม</li>
    </ol>
  </nav>
</div>
<!-- <form class="row"> -->
<div class="col-12">
  <div class="card card-eiei">
    <div class="card-header" style="margin-bottom: -40px;">
      <h5 class="card-title">ประเด็นการตรวจติดตาม</h5>
      <div class="float-right">
        <button class="btn btn-primary" style="margin-top: -60px;"
          (click)="reportModalReport(modalreport)">รายงาน</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" title="เพิ่มกำหนดการตรวจราชการ" style="margin-top: -60px;"
          (click)="openModal(modalProvince)">
          <i class="align-middle fas fa-fw fa-plus pointer"></i></button>

        <!-- <button class="btn btn-primary" (click)="openModal(modalAddSubjectFromCalendar)"
          style="margin-top: -60px;">เพิ่มประเด็นการตรวจติดตามจากกำหนดการตรวจ</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" (click)="openModal(modalProvince)"
          style="margin-top: -60px;">เพิ่มประเด็นการตรวจติดตาม</button> -->

      </div>
    </div>
    <div class="card-body">
      <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>#</th>
            <!-- <th>แผนการตรวจราชการ</th> -->
            <th>เรื่องที่ตรวจ</th>
            <th>จังหวัด</th>
            <!-- <th>ประเภทกำหนดการ</th> -->
            <th>วันที่ตรวจ</th>
            <th>สถานะ</th>
            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultsubjectevent; let i = index">
            <td>{{ i + 1 }}</td>
            <!-- <td>{{item.centralPolicy.type}}</td> -->
            <td>{{ item.centralPolicy.title }}</td>
            <td>{{item.province.name}}</td>
            <!-- <td>{{item.land}}</td> -->

            <td *ngIf="item.land == 'ลงพื้นที่'">{{item.startDate | thaidate: 'short' }} -
              {{item.endDate | thaidate: 'short' }}</td>
            <td *ngIf="item.land == 'ไม่ลงพื้นที่'">ไม่ลงพื้นที่</td>
            <!-- <td>{{item.subjectCentralPolicyProvinces[0].status}}</td> -->

            <td *ngIf="item.status == 'ร่างกำหนดการ'">ร่าง</td>
            <td *ngIf="item.status == 'ใช้งานจริง'">ส่งหน่วยรับตรวจ</td>
            <td *ngIf="item.status == 'รายงานแล้ว'">รายงานแล้ว</td>

            <td>
              <i *ngIf="item.status == 'ร่างกำหนดการ'" class="align-middle mr-2 fas fa-fw fa-pen pointer"
                (click)="Subjectevent(item.id,item.centralPolicyId,item.provinceId)"></i>

              <i *ngIf="item.status == 'ใช้งานจริง' || item.status == 'รายงานแล้ว'"
                class="align-middle mr-2 fas fa-fw fa-search pointer"
                (click)="Subjectevent(item.id,item.centralPolicyId,item.provinceId)"></i>

              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ไม่ลงพื้นที่' && item.centralPolicy.class == 'แผนการตรวจประจำปี'"
                (click)="openModal(modaldeleteProvince, item.id,'ไม่ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>
              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ไม่ลงพื้นที่' && item.centralPolicy.class == 'แผนการตรวจ'"
                (click)="openModal(modaldeleteProvince, item.centralPolicyId,'ไม่ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>

              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ไม่ลงพื้นที่' && item.centralPolicy.class == 'ประเด็นการตรวจติดตาม'"
                (click)="openModal(modaldeleteProvince, item.centralPolicyId,'ไม่ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>


              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ลงพื้นที่' && item.centralPolicy.class == 'แผนการตรวจประจำปี'"
                (click)="openModal(modaldeleteProvince, item.id,'ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>

              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ลงพื้นที่' && item.centralPolicy.class == 'แผนการตรวจ'"
                (click)="openModal(modaldeleteProvince, item.centralPolicyId,'ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>
              <i *ngIf="item.status == 'ร่างกำหนดการ' && item.land == 'ลงพื้นที่' && item.centralPolicy.class == 'ประเด็นการตรวจติดตาม'"
                (click)="openModal(modaldeleteProvince, item.centralPolicyId,'ลงพื้นที่',item.centralPolicy.class)"
                class="align-middle mr-2 fas fa-fw fa-trash pointer"></i>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modalProvince class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">จัดการประเด็นการตรวจติดตาม</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body m-3">

      <div class="mb-3 col">
        <div class="row">
          <input class="ml-2" type="radio" name="land" (change)="type($event)" value="ลงพื้นที่">
          <label class="ml-2">เพิ่มประเด็นการตรวจติดตาม</label>
        </div>
        <div class="row">
          <input class="ml-2" type="radio" name="land" (change)="other($event)" value="ไม่ลงพื้นที่">
          <label class="ml-2">เพิ่มประเด็นการตรวจติดตามอื่นๆ</label>
        </div>
        <div class="row">
          <input class="ml-2" type="radio" name="land" (change)="notType($event)" value="ไม่ลงพื้นที่">
          <label class="ml-2">เพิ่มประเด็นการตรวจติดตามจากกำหนดการตรวจ</label>
        </div>
      </div>

      <form *ngIf="checkType == 1" [formGroup]="Form" (ngSubmit)="storeCentralPolicy(Form.value)">
        <div class="form-group">
          <label for="test" class="form-label">จังหวัด</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
            [items]="selectdataprovince" formControlName="province" (change)="selectedprovince($event,i,item)"
            [ngClass]="{ 'is-invalid': submitted && Form.controls.province.errors }">
          </ng-select>
          <div *ngIf="submitted && Form.controls.province.errors" class="invalid-feedback">
            <div *ngIf="Form.controls.province.errors.required">กรุณาเลือกจังหวัด</div>
          </div>
        </div>
        <div class="form-group">
          <label for="test" class="form-label">ประเด็นการตรวจติดตาม</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกประเด็นนโยบาย" [multiple]="true"
            [items]="selectdatacentralpolicy" name="CentralpolicyId" formControlName="CentralpolicyId"
            [ngClass]="{ 'is-invalid': submitted && Form.controls.CentralpolicyId.errors }">
          </ng-select>
          <div *ngIf="submitted && Form.controls.CentralpolicyId.errors" class="invalid-feedback">
            <div *ngIf="Form.controls.CentralpolicyId.errors.required">กรุณาเลือกประเด็นการตรวจติดตาม</div>
          </div>
          <!-- <br> -->
          <br>
          <div class="mb-3">
            <input type="radio" name="land" (change)="inspect($event)" value="ลงพื้นที่" formControlName="land">
            <label style="margin-left: 10px;">ลงพื้นที่</label>
            <input style="margin-left: 10px;" type="radio" name="land" (change)="notInspec($event)" value="ไม่ลงพื้นที่"
              formControlName="land">
            <label style="margin-left: 10px;">ไม่ลงพื้นที่</label>
          </div>
          <div class="form-group" [ngStyle]="submittedradio ? {color: '#dc3545'}:{color: ''} ">
            <div *ngIf="submittedradio == true" style="font-size: 80%;">กรุณาประเภทการตรวจ
            </div>
          </div>

          <div *ngIf="checkInspec == true">
            <app-date-length (value)="startdate_enddate($event)"></app-date-length>
            <!-- <div class="form-group row">
              <div class="col-12 col-xl-12">
                <label>กำหนดระยะเวลา</label>

                <div class="form-group" [ngStyle]="submittedtime ? {color: '#dc3545'}:{color: ''} ">
                  <div *ngIf="submittedtime == true" style="font-size: 80%;">กรุณาเลือกเวลา
                  </div>
                </div>

              </div>

              <div class="col-12 col-xl-5">
                <div class="form-group">
                  <my-date-picker-th formControlName="startdate" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>
                </div>
              </div>
              <div class="col-12 col-xl-2">
                <div class="form-group" align="center">
                  ถึง
                </div>
              </div>
              <div class="col-12 col-xl-5">
                <div class="form-group">
                  <my-date-picker-th formControlName="enddate" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>
                </div>
              </div>
            </div> -->

          </div>

          <!-- <div *ngIf="checkInspec == false">
            <label for="">test2</label>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>



      <form *ngIf="checkType == 2" [formGroup]="Form2" (ngSubmit)="storeCentralPolicy2(Form2.value)">
        <div class="form-group">
          <label for="test" class="form-label">จังหวัด</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
            [items]="selectdataprovince" formControlName="province2" (change)="selectedprovince2($event,i,item)"
            [ngClass]="{ 'is-invalid': submitted && Form2.controls.province2.errors }">
          </ng-select>
          <div *ngIf="submitted && Form2.controls.province2.errors" class="invalid-feedback">
            <div *ngIf="Form2.controls.province2.errors.required">กรุณาเลือกจังหวัด</div>
          </div>
        </div>
        <div class="form-group">
          <label for="test" class="form-label">ประเด็นการตรวจติดตาม</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกประเด็นนโยบาย" [multiple]="true"
            [items]="selectdatacentralpolicy2" name="CentralpolicyId2" formControlName="CentralpolicyId2"
            [ngClass]="{ 'is-invalid': submitted && Form2.controls.CentralpolicyId2.errors }">
          </ng-select>
          <div *ngIf="submitted && Form2.controls.CentralpolicyId2.errors" class="invalid-feedback">
            <div *ngIf="Form2.controls.CentralpolicyId2.errors.required">กรุณาเลือกประเด็นการตรวจติดตาม</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>

      <form *ngIf="checkType == 3" [formGroup]="Form3" (ngSubmit)="storeCentralPolicy3(Form3.value)">
        <div class="form-group">
          <label for="test" class="form-label">จังหวัด</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
            [items]="selectdataprovince" formControlName="province" (change)="selectedprovince($event,i,item)"
            [ngClass]="{ 'is-invalid': submitted && Form3.controls.province.errors }">
          </ng-select>
          <div *ngIf="submitted && Form3.controls.province.errors" class="invalid-feedback">
            <div *ngIf="Form3.controls.province.errors.required">กรุณาเลือกจังหวัด</div>
          </div>
        </div>
        <div class="form-group">
          <label for="test" class="form-label">ประเด็นการตรวจติดตาม</label>
          <input type="text" name="" id="" class="form-control" placeholder="กรุณากรอกประเด็นการตรวจติดตาม"
            formControlName="centralPolicyOther"
            [ngClass]="{ 'is-invalid': submitted && Form3.controls.centralPolicyOther.errors }">

          <div *ngIf="submitted && Form3.controls.centralPolicyOther.errors" class="invalid-feedback">
            <div *ngIf="Form3.controls.centralPolicyOther.errors.required">กรุณากรอกประเด็นการตรวจติดตาม</div>
          </div>

          <br>

          <div class="mb-3">
            <input type="radio" name="land" (change)="inspect($event)" value="ลงพื้นที่" formControlName="land">
            <label style="margin-left: 10px;">ลงพื้นที่</label>
            <input style="margin-left: 10px;" type="radio" name="land" (change)="notInspec($event)" value="ไม่ลงพื้นที่"
              formControlName="land">
            <label style="margin-left: 10px;">ไม่ลงพื้นที่</label>
          </div>
          <div class="form-group" [ngStyle]="submittedradio ? {color: '#dc3545'}:{color: ''} ">
            <div *ngIf="submittedradio == true" style="font-size: 80%;">กรุณาประเภทการตรวจ
            </div>
          </div>
          <div *ngIf="checkInspec == true">
            <app-date-length (value)="startdate_enddate3($event)"></app-date-length>
          </div>

          <!-- <br>
          <br> -->
          <!-- <div class="mb-3">
            <input type="radio" name="land" (change)="inspect($event)" value="ลงพื้นที่" formControlName="land">
            <label style="margin-left: 10px;">ลงพื้นที่</label>
            <input style="margin-left: 10px;" type="radio" name="land" (change)="notInspec($event)" value="ไม่ลงพื้นที่"
              formControlName="land">
            <label style="margin-left: 10px;">ไม่ลงพื้นที่</label>
          </div> -->
          <!-- <div *ngIf="checkInspec == true">
            <div class="form-group row">
              <div class="col-12 col-xl-12">
                <label>กำหนดระยะเวลา</label>
              </div>
              <div class="col-12 col-xl-5">
                <div class="form-group">
                  <my-date-picker-th formControlName="startdate" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>
                </div>
              </div>
              <div class="col-12 col-xl-2">
                <div class="form-group" align="center">
                  ถึง
                </div>
              </div>
              <div class="col-12 col-xl-5">
                <div class="form-group">
                  <my-date-picker-th formControlName="enddate" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>

    </div>



  </div>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->


<!-- BEGIN primary modal -->
<ng-template #modaldeleteProvince class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteProvince(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalAddSubjectFromCalendar class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">จัดการประเด็นการตรวจติดตาม</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body m-3">
      <form [formGroup]="Form2" (ngSubmit)="storeCentralPolicy2(Form2.value)">
        <div class="form-group">
          <label for="test" class="form-label">จังหวัด</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
            [items]="selectdataprovince" formControlName="province2" (change)="selectedprovince2($event,i,item)">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="test" class="form-label">ประเด็นการตรวจติดตาม</label>
          <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกประเด็นนโยบาย" [multiple]="true"
            [items]="selectdatacentralpolicy2" name="CentralpolicyId2" formControlName="CentralpolicyId2">
          </ng-select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">บันทึก</button>
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
    </div>
  </div>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalreport class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">รายงาน</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body m-3">
      <div class="mb-3">
        <!-- <select class="form-control select2" data-toggle="select2" (change)="reporttype($event.target.value)">
          <option value="">กรุณาเลือกประเภทรายงาน</option>
          <option value="1">รายงานแบบประเด็นการตรวจติดตาม</option>
          <option value="2">รายงานผลการดำเนินการของหน่วยรับตรวจ</option>
          <option value="3">รายงานแบบข้อเสนอแนะของผู้ตรวจราชการ</option>
          <option value="4"> รายงานผลการดำเนินการตามข้อเสนอแนะของผู้ตรวจราชการ</option>
          <option value="5"> รายงานแบบสอบถามความคิดเห็นของที่ปรึกษาผู้ตรวจราชการภาคประชาชน</option>
          <option value="6"> รายงานความคิดเห็นของที่ปรึกษาผู้ตรวจราชการภาคประชาชน</option>
        </select> -->
        <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกประเภทรายงาน" [multiple]="false"
          [items]="selectreporttype" (change)="reporttype($event)" [clearable]="false">
        </ng-select>
      </div>
      <!-- type1 -->
      <form *ngIf="checkTypeReport== 1">
        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>เรื่องที่ตรวจ</label>
              <!-- <select class="form-control select2" data-toggle="select2" (change)="select1($event.target.value)">
                <option value="">กรุณาเลือกเรื่องที่ตรวจ</option>
                <option *ngFor="let item of resultsubjectevent;  let i = index" [value]="item.id">
                  {{item.centralPolicy.title}}
                </option>
              </select> -->
              <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select1($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="storeReport()">ออกรายงาน</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>
      <!-- type1end -->
      <!-- type2 -->
      <div *ngIf="checkTypeReport == 2" class="mb-3">
        <input type="radio" name="report" (change)="reporttyp21($event)" value="รายหน่วยงาน">
        <label style="margin-left: 10px;">รายหน่วยงาน</label>
        <input style="margin-left: 10px;" type="radio" name="report" (change)="reporttyp22($event)" value="รายจังหวัด">
        <label style="margin-left: 10px;">รายจังหวัด</label>
        <input style="margin-left: 10px;" type="radio" name="report" (change)="reporttyp23($event)" value="รายเขต">
        <label style="margin-left: 10px;">รายเขต</label>
        <form [formGroup]="FormReporttype2" *ngIf="checkTypeRepor2== 1"
          (ngSubmit)="storeReportPerformance(FormReporttype2.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select21($event)">
                </ng-select>
                <br>
                <label>หน่วยงาน</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="false"
                  [items]="selectprovincialDepartment" formControlName="provincialDepartmentId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
        <form [formGroup]="FormReporttype2" *ngIf="checkTypeRepor2== 2"
          (ngSubmit)="storeReportPerformance2(FormReporttype2.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
                  [items]="selectdataprovince" (change)="select22province($event)">
                </ng-select>
                <br>
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype2" name="CentralpolicyId" (change)="select21($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
        <form [formGroup]="FormReporttype2" *ngIf="checkTypeRepor2== 3"
          (ngSubmit)="storeReportPerformance2(FormReporttype2.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ปีงบประมาณ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกปีงบประมาณ" [multiple]="false"
                  [items]="fiscalYearData" (change)="select22province($event)">
                </ng-select>
                <br>
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype2" name="CentralpolicyId" (change)="select21($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
      </div>
      <!-- type2end -->
      <!-- type3 -->
      <form *ngIf="checkTypeReport== 3">
        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>เรื่องที่ตรวจ</label>
              <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select3($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="storeReportsuggestions()">ออกรายงาน</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>
      <!-- type3end -->
      <!-- type4 -->
      <div *ngIf="checkTypeReport == 4" class="mb-3">
        <input type="radio" name="report" (change)="reporttyp41($event)" value="รายหน่วยงาน">
        <label style="margin-left: 10px;">รายหน่วยงาน</label>
        <input style="margin-left: 10px;" type="radio" name="report" (change)="reporttyp42($event)" value="รายจังหวัด">
        <label style="margin-left: 10px;">รายจังหวัด</label>
        <input style="margin-left: 10px;" type="radio" name="report" (change)="report3($event)" value="รายเขต">
        <label style="margin-left: 10px;">รายเขต</label>
        <form [formGroup]="FormReporttype4" *ngIf="checkTypeRepor4== 1"
          (ngSubmit)="storeReportSuggestionsResulttype1(FormReporttype4.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select41($event)">
                </ng-select>
                <br>
                <label>หน่วยงาน</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="false"
                  [items]="selectprovincialDepartment" formControlName="provincialDepartmentId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
        <form [formGroup]="FormReporttype4" *ngIf="checkTypeRepor4== 2"
          (ngSubmit)="storeReportSuggestionsResulttype2(FormReporttype4.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
                  [items]="selectdataprovince" (change)="select42province($event)">
                </ng-select>
                <br>
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype4" name="CentralpolicyId" (change)="select42($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
      </div>
       <!-- type4end -->
      <!-- type5 -->
      <form *ngIf="checkTypeReport== 5">
        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>เรื่องที่ตรวจ</label>
              <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select5($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="storeReportQuestionnaire()">ออกรายงาน</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </form>
      <!-- type5end -->
      <!-- type6 -->
      <div *ngIf="checkTypeReport == 6" class="mb-3">
        <input type="radio" name="report" (change)="reporttyp61($event)" value="รายบุคคล">
        <label style="margin-left: 10px;">รายบุคคล</label>
        <input style="margin-left: 10px;" type="radio" name="report" (change)="reporttyp62($event)" value="รายจังหวัด">
        <label style="margin-left: 10px;">รายจังหวัด</label>
        <form [formGroup]="FormReporttype6" *ngIf="checkTypeRepor6== 1"
          (ngSubmit)="storeReportComment(FormReporttype6.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype1" name="CentralpolicyId" (change)="select61($event)">
                </ng-select>
                <br>
                <label>รายบุคคล</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือก" [multiple]="false"
                  [items]="selectpeopletype6" formControlName="userid">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
        <form [formGroup]="FormReporttype6" *ngIf="checkTypeRepor6== 2"
          (ngSubmit)="storeReportComment2(FormReporttype6.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
                  [items]="selectdataprovince" (change)="select62province($event)">
                </ng-select>
                <br>
                <label>เรื่องที่ตรวจ</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกเรื่องที่ตรวจ" [multiple]="false"
                  [items]="selectdatacentralpolicytype6" name="CentralpolicyId" (change)="select62($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ออกรายงาน</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </form>
      </div>
      <!-- type6end -->
    </div>
  </div>
</ng-template>
<!-- END primary modal -->

<ng-snotify></ng-snotify>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
