<div class="header">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">จัดการฐานข้อมูล</li>
            <li class="breadcrumb-item"><a [routerLink]="['/ministry']">กระทรวง</a></li>
            <li class="breadcrumb-item active">กรม</li>
        </ol>
    </nav>
</div>

<form class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header" style="margin-bottom: -40px;">
                <h4 class="card-title">กระทรวง : {{ministryname.name }}</h4> 
                <div class="float-right">
                    <button class="btn btn-primary" (click)="openModal(modalDepartment,ministryname.id)"
                      style="margin-top: -60px;">เพิ่มข้อมูล</button>
                </div>             
            </div> 
           <br>
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                    [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ชื่อกรม(TH)</th>
                            <th>ชื่อกรมย่อ(TH)</th>
                            <th>ชื่อกรม(EN)</th>
                            <th>ชื่อกรมย่อ(EN)</th>
                            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resultdepartment; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td (click)="viewProvincialDepartment(item.id)" class="pointer">{{ item.name }}</td>
                            <td>{{item.shortnameTH}}</td>
                            <td>{{item.nameEN}}</td>
                            <td>{{item.shortnameEN}}</td>
                            <td>
                              <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล"
                               (click)="editModal(modaleditDepartment, item.id,item.name,item.nameEN,item.shortnameEN,item.shortnameTH)">
                                <i class="align-middle fas fa-fw fa-pen pointer"></i>
                              </button>
                              <button class="btn btn-danger btn-pill btn-sm" title="แก้ไขข้อมูล" 
                                (click)="deleteModal(modaldeleteDepartment, item.id)">
                                <i class="align-middle fas fa-fw fa-trash-alt pointer"></i>
                              </button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- BEGIN primary modal -->
<ng-template #modalDepartment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="Form" (ngSubmit)="storeDepartment(Form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">จัดการกรม</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body m-3">
            <div class="form-group">
                <label for="Name" class="form-label">ชื่อกรม(TH)</label>
                <input type="text" formControlName="Name" class="form-control" placeholder="กรุณากรอกชื่อ">
            </div>
            <div class="form-group">
              <label for="xx" class="form-label">ชื่อย่อกรม(TH)</label>
              <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
              <input type="text" formControlName="ShortnameTH" class="form-control" placeholder="ชื่อย่อกรม(TH)">
            </div>
            <div class="form-group">
              <label for="xx" class="form-label">ชื่อกรม(EN)</label>
              <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
              <input type="text" formControlName="NameEN" class="form-control" placeholder="ชื่อกรม(EN)">
            </div>
            <div class="form-group">
              <label for="xx" class="form-label">ชื่อย่อกรม(EN)</label>
              <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
              <input type="text" formControlName="ShortnameEN" class="form-control" placeholder="ชื่อย่อกรม(EN)">
            </div>       
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->

  <!-- BEGIN primary modal -->
<ng-template #modaleditDepartment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="Form" (ngSubmit)="updateDepartment(Form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">จัดการกรม</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body m-3">
          <div class="form-group">
            <label for="Name" class="form-label">ชื่อกรม(TH)</label>
            <input type="text" formControlName="Name" class="form-control" placeholder="กรุณากรอกชื่อ">
          </div>  
          <div class="form-group">
            <label for="xx" class="form-label">ชื่อย่อกรม(TH)</label>
            <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
            <input type="text" formControlName="ShortnameTH" class="form-control" placeholder="ชื่อย่อกรม(TH)">
          </div>
          <div class="form-group">
            <label for="xx" class="form-label">ชื่อกรม(EN)</label>
            <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
            <input type="text" formControlName="NameEN" class="form-control" placeholder="ชื่อกรม(EN)">
          </div>
          <div class="form-group">
            <label for="xx" class="form-label">ชื่อย่อกรม(EN)</label>
            <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
            <input type="text" formControlName="ShortnameEN" class="form-control" placeholder="ชื่อย่อกรม(EN)">
          </div>       
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->

  <!-- BEGIN primary modal -->
<ng-template #modaldeleteDepartment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteDepartment(departmentId)">
        ใช่
      </button>
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->
  