<div class="header">
  <h1 class="header-title">
    หน้าหลัก
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="#">Event</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">Event</h5>
        <div class="float-right">
          <button class="btn btn-primary" (click)="CraateInspectionPlanEvent()"
            style="margin-top: -60px;">เพิ่ม Event</button>
        </div>
      </div>
      <div class="card-body">
        <table id="datatables-basic2" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Event</th>
              <!-- <th>ปี</th> -->
              <th>ระยะเวลา</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultinspectionplanevent; let i = index">
              <td>{{ i + 1 }}</td>
              <td width="40%">{{ item.name }}</td>
              <!-- <td>2563</td> -->
              <td>{{ item.startDate | date: 'dd/MM/yyyy' }} - {{ item.endDate | date: 'dd/MM/yyyy' }}</td>
              <td>
                <i (click)="InspectionPlan()" class="align-middle mr-2 fas fa-fw fa-search pointer"></i>
                <!-- <i class="align-middle mr-2 fas fa-fw fa-book pointer" (click)="DetailCentralPolicy(1)"></i> -->
                <!-- <i (click)="EditInspectionPlan(1)" class="pointer align-middle mr-2 fas fa-fw fa-pen"></i> -->
                <i (click)="openModal(modaldeleteInspectionPlanEvent, item.id)" class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <!-- BEGIN primary modal -->
  <ng-template #modaldeleteInspectionPlanEvent class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteInspectionPlanEvent(delid)">
        ใช่
      </button>
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->
