<div class="header">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">วิดิทัศน์สอนการใช้งานระบบ</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header">
                <h5 class="card-title">วิดิทัศน์สอนการใช้งานระบบ</h5>
                <div class="float-left">
                    <ng-select bindLabel="name" bindValue="id" placeholder="กรุณาเลือกหน่วยงาน" [multiple]="false"
                        [items]="checkrole" #roleId (change)="retrievevideos($event)">
                    </ng-select>
                </div>
            </div>
            <div class="card-body">
                <table *ngIf="videos.length != 0" class="table table-striped table-hover table-responsive-lg" datatable
                    [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ชื่อวิดิทัศน์</th>
                            <th>คำอธิบาย</th>
                            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of videos; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{item.title}}</td>
                            <td>{{ item.description}} </td>

                            <td> <a href="javascript:void(0)" (click)="openModal(item)"
                                    class="align-middle mr-2 fas fa-fw fa-search pointer"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div plyr plyrTitle="Custom video" [plyrPlaysInline]="true" [plyrCrossOrigin]="true"
                    [plyrPoster]="poster" [plyrSources]="videoSources" [plyrTracks]="tracks"
                    (plyrInit)="player = $event" (plyrPlay)="played($event)">
                </div> -->


                <!-- <button (click)="play()">Play</button> -->
            </div>
        </div>
    </div>
</div>