<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">การแบ่งเขตตรวจราชการ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -20px;">
        <h5 class="card-title">การแบ่งเขตตรวจราชการ</h5>
      </div>
      <div class="card-body">
        <div id="thai-map" class="block" style="height:800px;"></div>
        <div id="comments">
          <p>เลื่อน</p>
          <!-- <textarea cols="20" rows="5"></textarea> -->
        </div>
      </div>
      <div *ngIf="provincesData.length != 0">
        <div class="card-body">
          <div class="modal-header">
            <h4 class="modal-title pull-left">จังหวัด : {{provinceName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show != 0">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header" style="margin-bottom: -30px;">
          <h3 class="card-title">ข้อมูลติดต่อบุคลากร</h3>
        </div>
        <div class="card-body">

          <div *ngFor="let item of ministryGroup;let m = index;">
            <details>
              <summary><span style="font-size: 16px;margin-bottom: 50px;">{{item.ministrie.name}}</span></summary>
              <ul *ngFor="let item2 of item.ministries;let x = index;">
                <li>
                  {{x+1}}.{{item2.prefix}}{{item2.name}} 
                  ตำแหน่ง{{item2.position}} 
                  <span *ngIf="item2.phoneNumber != null || item2.phoneNumber != 'null' ">เบอร์โทร {{item2.phoneNumber}}</span>
                </li>
              </ul>
              <hr>
            </details>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>