<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">กำหนดการตรวจราชการ</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มกำหนดการ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มกำหนดการ</h5>
        <!-- <div class="float-right">
                      <button class="btn btn-primary" style="margin-top: -60px;">เพิ่มนโยบายกลาง</button>
                  </div> -->
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeInspectionPlanEvent(Form.value)">
          <div class="row">
            <!-- <div class="col-12 col-xl-12">
              <br>

              <div class="form-group">
                <label>กำหนดการตรวจราชการ *</label>
                <input type="text" formControlName="title" class="form-control"
                  placeholder="กรุณากรอกกำหนดการตรวจราชการ">
              </div>
            </div> -->

            <div class="col-12 col-xl-7">
              <br>
              <label>ระยะเวลา</label>
            </div>

            <!-- <div class="24hr-example">
              <input class="form-control" placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"
                readonly>
              <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            </div> -->

            <div class="col-12 col-xl-3">
              <br>
              <label>จังหวัด</label>
            </div>

            <div class="col-12 col-xl-12" [formGroup]="Form" (ngSubmit)="storeInspectionPlanEvent(Form.value)">
              <!-- <div class="col-12 col-xl-12" *ngFor="let item of input; let i = index"> -->
              <div class="form-group row" *ngFor="let item of t.controls; let i = index">
                <form class="form-group row col-12" [formGroup]="item">
                  <div class="col-xl-3">
                    <my-date-picker-th formControlName="start_date_plan" (dateChanged)="startdate($event.jsdate,i)"
                      [options]="myDatePickerOptions" required>
                    </my-date-picker-th>
                    <timepicker *ngIf="t.at(i).get('start_date_plan').value" [ngModelOptions]="{standalone: true}"
                      (isValid)="isValid = $event" [(ngModel)]="start_date_plan_i[i]"
                      (ngModelChange)="starttime($event,i)" [showMeridian]="false">
                    </timepicker>
                    <!-- <pre class="alert alert-info">Time is: {{  start_date_plan_i[i]  }}</pre> -->
                  </div>
                  <ng-container *ngIf="t.at(i).get('start_date_plan').value">
                    <div class="col-12 col-xl-1">
                      <div class="form-group" align="center">
                        ถึง
                      </div>
                    </div>
                    <div class="col-12 col-xl-3">
                      <div class="form-group">
                        <my-date-picker-th formControlName="end_date_plan" [options]="myDatePickerOptions_i[i]" required
                          (dateChanged)="enddate($event.jsdate,i)">
                        </my-date-picker-th>
                        <timepicker *ngIf="t.at(i).get('end_date_plan').value && this.end_date_plan_i[i]"
                          (isValid)="isValid = $event" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="end_date_plan_i[i]" (ngModelChange)="endtime($event,i)" [showMeridian]="false">
                        </timepicker>

                        <!-- <timepicker *ngIf="t.at(i).get('end_date_plan').value"
                         [ngModelOptions]="{standalone: true}" [(ngModel)]="end_date_plan_i[i]"
                          (ngModelChange)="enddate($event,i)" [showMeridian]="false">
                        </timepicker> -->
                        <!-- <pre class="alert alert-info">Time is: {{  end_date_plan_i[i]    }}</pre> -->


                      </div>
                    </div>
                  </ng-container>



                  <div class="col-12 col-xl-2">
                    <div class="form-group">
                      <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"
                        [items]="selectdataprovince" formControlName="provinces"
                        (change)="selectedprovince($event,i,item)">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-1" *ngIf="i == 0; else elseBlock">
                    <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>

                  </div>
                  <ng-template #elseBlock>
                    <div class="col-1">
                      <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="remove(i)"></i>
                    </div>
                  </ng-template>

                  <div class="form-group" *ngIf="submitted && t.at(i).invalid"
                    [ngStyle]="submitted && t.at(i).invalid ? {color: '#dc3545'}:{color: ''} ">
                    <div style="font-size: 80%;">กรุณากรอกข้อมูลให้ครบถ้วน</div>
                  </div>

                  <div class="col-12 col-xl-2" *ngIf="provincename[i] != null">
                    <div class="form-group">
                      <!-- {{provincename[i]}}
                      &nbsp;&nbsp; -->

                      <button type="button" *ngIf="t.at(i).get('start_date_plan').value"
                        (click)="Gotoinspecplan(provinceid[i],i)" class="btn btn-info"
                        style="font-size: 12.5px;">กำหนดรายละเอียด</button>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-xl-4" *ngIf="provincename[i] != null">
                    <label>จังหวัดที่เลือก</label>
                  </div> -->
                  <!-- <div class="col-12 col-xl-8" *ngIf="provincename[i] != null">
                    <div class="form-group">
                      {{provincename[i]}}
                      &nbsp;&nbsp;
                      <button type="button" (click)="Gotoinspecplan(provinceid[i],i)"
                        class="btn btn-info">กำหนดรายละเอียด</button>
                    </div>
                  </div> -->

                  <!-- <div class="col-12 col-xl-4">
                    <label>แผนการตรวจประจำปี</label>
                  </div>

                  <div class="col-12 col-xl-8">
                    <div class="form-group">
                      <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกแผนการตรวจราชการประจำปี" [multiple]="false"
                        formControlName="centralpolicies"   [items]="t.value[i].resultcentralpolicy"
                       (change)="selectedcentralpolicy($event, i)">
                      </ng-select>
                    </div>
                  </div>

                    <div class="col-12 col-xl-4" *ngIf="t.value[i].resultdetailcentralpolicy.title != null">
                      <label>รายการแผนการตรวจประจำปีที่เลือก</label>
                    </div>
                    <div class="col-12 col-xl-8" *ngIf="t.value[i].resultdetailcentralpolicy.title != null">
                      <div class="form-group">
                      {{t.value[i].resultdetailcentralpolicy.title}} &nbsp;&nbsp;
                        <button type="button" (click)="DetailCentralPolicy(t.value[i].resultdetailcentralpolicy.id, i)" class="btn btn-info">จัดการแผนการตรวจ</button>
                      </div>
                    </div> -->
                </form>
              </div>
            </div>


            <!-- <div class="col-12 col-xl-1">
            <div class="form-group" align="center">
              ถึง
            </div>
          </div>
          <div class="col-12 col-xl-3">
            <div class="form-group">
              <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
              </my-date-picker-th>
            </div>
          </div> -->

            <!-- <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>จังหวัด*</label>
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2" multiple>
                    <option>กรุณาเลือกจังหวัด</option>
                    <option value="1">กรุงเทพ ฯลฯ</option>
                  </select>
                </div>
              </div>
            </div>
          </div> -->

            <!-- <div class="col-4"></div> -->

            <div class="form-group row col-12">
              <!-- <div class="col-sm-5 ml-sm-auto"> -->
              &nbsp;&nbsp;<button type="submit" class="btn btn-primary">บันทึก</button>
              <!-- <button type="submit" class="btn btn-danger">ยกเลิก</button> -->
              &nbsp;&nbsp;<button type="button" class="btn btn-danger pull-left" (click)="back()">ยกเลิก</button>

              <!-- </div>
              <div class="col-sm-5 ml-sm-auto" >

              </div> -->
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
