<div class="header">
  <h1 class="header-title">
    หน้าหลัก
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="#">Event</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่ม Event</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่ม Event</h5>
        <!-- <div class="float-right">
                      <button class="btn btn-primary" style="margin-top: -60px;">เพิ่มนโยบายกลาง</button>
                  </div> -->
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeInspectionPlanEvent(Form.value)">
        <div class="row">
          <div class="col-12 col-xl-12">
            <br>

            <div class="form-group">
              <label>Event *</label>
              <input type="text" formControlName="title" class="form-control" placeholder="กรุณากรอก Event">
            </div>
          </div>

          <div class="col-12 col-xl-12">
            <label>กำหนดระยะเวลา</label>
          </div>
          <div class="col-12 col-xl-3">
            <div class="form-group">
              <my-date-picker-th formControlName="start_date" [options]="myDatePickerOptions" required>
              </my-date-picker-th>
            </div>
          </div>
          <div class="col-12 col-xl-1">
            <div class="form-group" align="center">
              ถึง
            </div>
          </div>
          <div class="col-12 col-xl-3">
            <div class="form-group">
              <my-date-picker-th formControlName="end_date" [options]="myDatePickerOptions" required>
              </my-date-picker-th>
            </div>
          </div>


          <div class="col-4"></div>

          <div class="form-group row">
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-primary">บันทึก</button>
              <!-- <button type="submit" class="btn btn-danger">ยกเลิก</button> -->
            </div>
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-danger">ยกเลิก</button>
            </div>
          </div>

        </div>
        </form>
      </div>
    </div>
  </div>

</div>
