<div class="header">
  <h1 class="header-title">
    หน้าหลัก
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">เพิ่มนโยบายกลาง</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มนโยบายกลาง</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeCentralpolicy(Form.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>

              <div class="form-group">
                <label>เรื่อง</label>
                <input type="text" formControlName="title" class="form-control" placeholder="กรุณากรอกเรื่อง">
                <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา</label>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">

                  <my-date-picker-th formControlName="start_date" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>

              </div>
            </div>

            <div class="col-12 col-xl-1">
              <div class="form-group" align="center">
                ถึง
              </div>
            </div>

            <div class="col-12 col-xl-3">
              <div class="form-group">

                  <my-date-picker-th formControlName="end_date" [options]="myDatePickerOptions" required>
                  </my-date-picker-th>

              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเด็น</label>
                <div class="row" *ngFor="let item of input; let i = index">
                  <div class="col-1 text-center">
                    {{ i + 1 }}.
                  </div>
                  <div class="col-10">
                    <input type="text" class="form-control" placeholder="กรุณากรอกประเด็น" formControlName="subjects">
                  </div>
                  <div class="col-1" *ngIf="i == 0; else elseBlock">
                    <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>
                  </div>
                  <ng-template #elseBlock>
                    <div class="col-1">
                      <i class="align-middle mr-2 far fa-fw fa-minus-square"></i>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple="multiple" formControlName="files">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="button" class="btn btn-danger">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
