<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:void(0)">แผนตรวจราชการประจำปี</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มแผนตรวจราชการประจำปี</li>
    </ol>
  </nav>
</div>
<div class="">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong class="card-title">เพิ่มแผนตรวจราชการประจำปี</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeCentralpolicy(Form.value)">
          <div class="col-12 row">
            <div class="form-group col-6">
              <label>ปีงบประมาณ*</label>
              <select class="form-control select2" data-toggle="select2" formControlName="year">
                <option value=null>กรุณาเลือกปีงบประมาณ</option>
                <option *ngFor="let item of resultfiscalyear; let i = index" value="{{item.id}}">{{item.year}}
                </option>
              </select>
            </div>
            <div class="form-group col-6">
              <label>ประเภทแผนการตรวจ*</label>
              <select class="form-control select2" data-toggle="select2" formControlName="type">
                <option value=null>กรุณาเลือกประเภทแผนการตรวจ</option>
                <option value="ตรวจราชการแบบบูรณาการ">ตรวจราชการแบบบูรณาการ</option>
                <option value="การตรวจราชการตามภารกิจปกติของหน่วยงาน">การตรวจราชการตามภารกิจปกติของหน่วยงาน</option>
                <option value="การตรวจราชการกรณีพิเศษ">การตรวจราชการกรณีพิเศษ</option>
              </select>

            </div>
          </div>

          <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเภทแผนการตรวจ*</label>
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <select class="form-control select2" data-toggle="select2" formControlName="type">
                      <option value=null>กรุณาเลือกประเภทแผนการตรวจ</option>
                      <option value="ตรวจราชการแบบบูรณาการ">ตรวจราชการแบบบูรณาการ</option>
                      <option value="การตรวจราชการตามภารกิจปกติของหน่วยงาน">การตรวจราชการตามภารกิจปกติของหน่วยงาน
                      </option>
                      <option value="การตรวจราชการกรณีพิเศษ">การตรวจราชการกรณีพิเศษ</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->

          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>ประเด็นนโยบาย</label>
              <!-- <input type="text" formControlName="title" class="form-control" placeholder="กรุณากรอกประเด็นนโยบาย"> -->
              <textarea cols="30" rows="5" type="text" formControlName="title" class="form-control"
                placeholder="กรุณากรอกประเด็นนโยบาย"></textarea>
              <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
            </div>
          </div>

          <div class="col-12 col-xl-12">
            <div class="form-group">
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <input type="radio" name="status" value="ร่างกำหนดการ" checked formControlName="status">
                  <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                  <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง"
                    formControlName="status">
                  <label style="margin-left: 10px;">ใช้งานจริง</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label>กำหนดระยะเวลา</label>
          </div>
          <div class="col-12 mb-0" [formGroup]="Form" (ngSubmit)="storeCentralpolicy(Form.value)">
            <div class="" *ngFor="let item of d.controls; let i = index">
              <form class="form-group row col-12" [formGroup]="item">
                <div class="col-5">
                  <div class="form-group">
                    <!-- <my-date-picker-th formControlName="start_date"   [items]="myDatePickerOptions" required>
                      </my-date-picker-th> -->
                    <my-date-picker-th formControlName="start_date" [(ngModel)]="item.start_date"
                      [options]="myDatePickerOptions" required>
                    </my-date-picker-th>
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group" align="center">
                    ถึง
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <!-- <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
                      </my-date-picker-th> -->
                    <my-date-picker-th formControlName="end_date" [(ngModel)]="item.end_date"
                      [options]="myDatePickerOptions" required>
                    </my-date-picker-th>
                  </div>
                </div>
                <div class="col-1" *ngIf="i == 0; else elseBlock">
                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appenddate()"></i>
                </div>
                <ng-template #elseBlock>
                  <div class="col-1">
                    <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="remove(i)"></i>
                  </div>
                </ng-template>
              </form>
            </div>
          </div>

          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>พื้นที่การตรวจติดตาม</label>
              <!-- <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="true"
                [items]="selectdataprovince" name="ProvinceId" formControlName="ProvinceId">
              </ng-select> -->
              <ng-select [items]="province" [multiple]="true" bindLabel="label" groupBy="region"
                [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value"
                [(ngModel)]="selectedProvince" formControlName="ProvinceId">
                <!-- <ng-template >


                
                -->
                <ng-template ng-header-tmp>
                  <div>
                    <button class="btn btn-link" (click)="onSelectAll()">เลือกทุกจังหวัด</button>
                    <button class="btn btn-link" (click)="onClearAll()">ล้าง</button>
                  </div>

                </ng-template>
                <!-- <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input type="checkbox" /> เลือกทั้งหมด
                </ng-template> -->
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                    [ngModel]="item$.selected" /> {{item.region }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                    [ngModel]="item$.selected" /> {{item.name}}
                </ng-template>
              </ng-select>
              <!-- <app-select-component></app-select-component> -->
              <div>
                <button type="button" class="btn btn-default" (click)="onSelectAll()">เลือกทุกจังหวัด</button>
                <button type="button" class="btn btn-default" (click)="onClearAll()">ล้าง</button>
              </div>
            </div>
          </div>

          <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเด็น</label>
                <div class="row" *ngFor="let item of t.controls; let i = index">
                  <form class="form-group row col-12" [formGroup]="item">
                    <div class="col-1 text-center">
                      {{ i + 1 }}.
                    </div>
                    <div class="col-10">
                      <input type="text" class="form-control" placeholder="กรุณากรอกประเด็น">
                    </div>
                    <div class="col-1" *ngIf="i == 0; else elseBlock">
                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>
                    </div>
                    <ng-template #elseBlock>
                      <div class="col-1">
                        <i class="align-middle mr-2 far fa-fw fa-minus-square"></i>
                      </div>
                    </ng-template>

                    <div class="col-12 col-xl-12">
                      <label>กำหนดระยะเวลา</label>
                    </div>
                    <div class="col-12 col-xl-3">
                      <div class="form-group">
                        <my-date-picker-th formControlName="start_date"   [items]="myDatePickerOptions" required>
                        </my-date-picker-th>
                      </div>
                    </div>
                    <div class="col-12 col-xl-1">
                      <div class="form-group" align="center">
                        ถึง
                      </div>
                    </div>
                    <div class="col-12 col-xl-3">
                      <div class="form-group">
                        <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
                        </my-date-picker-th>
                      </div>
                    </div>
                    <div class="col-5"></div>

                    <div class="form-group col-12">
                      <label>คำถามย่อยของประเด็นที่ {{ i + 1 }}</label>
                      <div class="row">
                        <div class="col-1 text-center">
                          1.
                        </div>
                        <div class="col-10">
                          <input type="text" class="form-control" placeholder="กรุณคำถามย่อย">
                        </div>
                        <div class="col-1">
                          <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appendquestion()"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div> -->

          <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple="multiple" formControlName="files">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div> -->
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label class="form-label w-100">แนบไฟล์</label>
              <input type="file" multiple (change)="uploadFile($event)">
              <!-- formControlName="files" -->
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div>
          <!-- <hr> -->
          <div class="form-group row">
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-primary">บันทึก</button>
            </div>
            <div class="col-sm-5 ml-sm-auto">
              <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>