<div class="header">

  <h1 class="header-title">
      ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
    </ol>
  </nav>
</div>
<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
      <h4 class="card-title">ระบบตรวจราชการอิเล็กทรอนิกส์</h4>
      </div>
      <div class="card-body">
        <br>
        <p>ระบบตรวจราชการอิเล็กทรอนิกส์สำหรับสนับสนุนการกำกับและติดตามการปฏิบัติราชการในภูมิภาค เป็นเครื่องของผู้ตรวจรชการสำนักนายกรัฐมนตรี รวมทั้งผู้ตรวจราชการกระทรวง </p>
          <p>และผู้ตรวจราชการกรม ที่ยังไม่มีระบบตรวจราชการอิเล็กทรอนิกส์ ในการติดตามและประเมินผลการปฏิบัติราชการของหน่วยงานของรัฐในพื้นที่</p>
          <!-- <a href="https://localhost:5001/answersubject/outsider/108" target="_blank">https://localhost:5001/answersubject/outsider/108</a>
          <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i>
          </button> -->
          <!-- <a href="https://localhost:5001/answersubject/outsider/108" target="_blank">https://localhost:5001/answersubject/outsider/108</a> -->
      </div>
    </div>
  </div>
</div>
