<div class="header">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">ข้อมูลการผู้ติดต่อบุคลากร</li>
            <li class="breadcrumb-item active">ที่ปรึกษาผู้ตรวจราชการภาคประชาชน</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
            <div class="card-header" style="margin-bottom: -40px;">
                <h5 class="card-title">ที่ปรึกษาผู้ตรวจราชการภาคประชาชน </h5>
                <div class="row">
                    <div class="col-4">
                      <div style="margin-bottom: 20px;">
                        <div class="form-group">
                          <select (change)="Changeregion($event)" [(ngModel)]="region" name="region" class="form-control select2" data-toggle="select2"> 
                              <option  [value]="0">เขตตรวจราชการทั้งหมด</option>
                              <option *ngFor="let item of selectdataregion" [value]="item.value">{{item.label}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div style="margin-bottom: 20px;">
                        <div class="form-group">
                          <select (change)="Changeprovince($event)" [(ngModel)]="province" name="province" class="form-control select2" data-toggle="select2"> 
                              <option  [value]="0">จังหวัดทั้งหมด</option>
                              <option *ngFor="let item of selectdataprovince" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div> 
                    </div>
                  </div>
                <div class="float-right">
                    <!-- content -->
                </div>
            </div><br>

            <!-- ผู้ตรวจภาคประชาชน -->
            <div class="card-body">
                <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>รูป</th>
                            <th>ชื่อ-นามสกุล</th>                           
                            <th>ด้าน</th>
                            <th>เขต</th>
                            <th>จังหวัด</th> 
                            <th>ตำแหน่ง</th>                       
                            <th>เบอร์โทร</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resultuser; let i = index">
                            <td>{{i + 1}}</td>
                            <td>
                                <div *ngIf="item.img != null">
                                    <img *ngIf="item.img != 'null'" src="{{imgprofileUrl}}/{{item.img}}"
                                        class="img-fluid  mb-2" width="90px" alt="รูป">
                                </div>
                                <img *ngIf="item.img == null || item.img == 'null'" src="{{imgprofileUrl}}/user.png" class="img-fluid  mb-2"
                                    width="90px" alt="รูป">
                            </td>
                            <td>{{item.prefix +item.name}}</td>                           
                            <td>{{item.sides.name}}</td>
                            <td>
                                <div *ngFor="let item2 of item.userRegion">
                                  <label  class="badge badge-warning mr-1">
                                      {{item2.region.name}}
                                  </label>  <br>
                                </div>        
                            </td>
                            <td>{{item.userProvince[0].province.name}}</td>
                            <td>{{item.position}}</td>
                            <td>{{item.phoneNumber}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div> 
             <!--END ผู้ตรวจภาคประชาชน -->

             
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>