<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">บัตรผู้ร่วมอบรม</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header">
        <h5 class="card-title">
          บัตรผู้ร่วมอบรม
          <button class="btn btn-light btn-sm" (click)="gotoBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
          
        </h5>
        <div class="float-right">
          <button id="btn-export" class="btn btn-primary" (click)="print()" style="margin-top: -60px;">
            <i class="fas fa-print mr-2"></i>พิมพ์ป้ายชื่อ
          </button>
        </div>
      </div>

      <div class="card-body mt-3">
        <div class="book" id="print-section">
          <div *ngFor="let item of printData; let i = index">
            <div class="page" style="page-break-after: always;">
              <!-- <table cellpadding="0" cellspacing="0" align="center" style="width: 100%; height: 1000px; ">
                <tr>
                  <td style="text-align: center; background-color: white; max-width: 300px; text-overflow: ellipsis;">

                    <img src="img/sky.jpg" style="width: 5.78cm;height: 8.48cm;" />
                    <h2 style="font-size: 30px; white-space: nowrap; position: absolute;

                    text-overflow: ellipsis;
                    white-space: nowrap;">

                      <div style="margin-left: 220px;margin-top: -370px;">

                        <br>
                        <br>
                        <img src="img/logo.png" style="width: 1cm;height:1cm;">
                        <img src="img/bg.png" style="width: 4cm;height:1cm;margin-left: 0.3cm;">
                        <br>

                        6301001
                        <br>
                        {{item.name}}
                        <br>
                        <span style="font-size: 30px;">
                          ({{item.nickname}})</span>
                        <br>
                        <br>]
                        <span style="font-size: 30px;">
                          {{item.department}}</span>\
                        <br>
                        <span style="font-size: 13.5px; max-width: 4cm;">
                          หลักสูตรผู้ตรวจราชการระดับกระทรวง
                        </span>
                        <br>
                        <span style="font-size: 14px;">
                          ประจำปีงบประมาณ พ.ศ. {{item.training.year}}
                        </span>
                      </div>
                    </h2>

                  </td>
                </tr>
              </table> -->

              <div class="container">
                <img src="img/sky.jpg" alt="Snow" style="width: 5.78cm;height: 8.48cm;">
                <img src="img/logo.png" class="centered img-1" style="width: 1cm;height:1cm;top: 15%;left: 39%;">
                <img src="img/bg.png" class="centered img-2" style="width: 3.4cm;height:1cm;;top: 15%;left: 53.5%;">
                <div class="centered" style="top:30%; color: black; font-size: 20px;">6301001</div>
                <div class="centered" style="top:40%; color: black; font-size: 22px;">{{item.name}}</div>
                <div class="centered" style="color: black; font-size: 20px;">({{item.nickname}})</div>
                <div class="centered" style="top:60%;color: black; font-size: 18px;">{{item.department}}</div>
                <div class="centered" style="top:74%;color: black; font-size: 13px;">หลักสูตรผู้ตรวจราชการระดับกระทรวง</div>
                <div class="centered" style="top:80%;color: black; font-size: 13px;">ประจำปีงบประมาณ พ.ศ. {{item.training.year}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
