<div class="header">
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
        <li class="breadcrumb-item active">ข้อมูลการผู้ติดต่อบุคลากร</li>
        <li class="breadcrumb-item active">ผู้ตรวจราชการ</li>
        <!-- <li class="breadcrumb-item active" aria-current="page">DataTables</li> -->
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-eiei">
        <div class="card-header" style="margin-bottom: -30px;">
          <h5 class="card-title">ผู้ตรวจราชการ</h5>
          <div class="row">
            <div class="col-4">
              <div style="margin-bottom: 20px;">
                <div class="form-group">
                  <select (change)="Changeregion($event)" [(ngModel)]="region" name="region" class="form-control select2" data-toggle="select2"> 
                      <option  [value]="0">เขตตรวจราชการทั้งหมด</option>
                      <option *ngFor="let item of selectdataregion" [value]="item.value">{{item.label}}</option>
                  </select>
                </div>
              </div> 
            </div>
            <div class="col-4">
              <div style="margin-bottom: 20px;">
                <div class="form-group">
                  <select (change)="Changeprovince($event)" [(ngModel)]="province" name="province" class="form-control select2" data-toggle="select2"> 
                      <option  [value]="0">จังหวัดทั้งหมด</option>
                      <option *ngFor="let item of selectdataprovince" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div> 
            </div>
          </div>
          
          <div class="float-right"> 
            <!-- <button class="btn btn-success" (click)="excel()"
                style="margin-top: -60px;">Excel
            </button>  -->
          </div>        
        </div>
        <div class="card-body">
          <table *ngIf="loading" id="datatables-basic" class="table table-striped" style="width:100%" datatable
          [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>#</th>
                <th>รูป</th>
                <th>ชื่อ-นามสกุล</th>
                <th>กระทรวง-กรม</th>
                <th>เขต</th>
                <th>จังหวัด</th>             
                <th>ตำแหน่ง</th>
                <th>เบอร์โทร</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resultInspector; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <div *ngIf="item.img != null">
                      <img *ngIf="item.img != 'null'" src="{{imgprofileUrl}}/{{item.img}}"
                          class="img-fluid  mb-2" width="90px" alt="รูป">
                  </div>
                  <img *ngIf="item.img == null || item.img == 'null'" src="{{imgprofileUrl}}/user.png" class="img-fluid  mb-2"
                      width="90px" alt="รูป">
              </td>
              <td>{{item.prefix}}{{ item.name }}</td>
              <td>
                <div>
                  <label class="badge badge-secondary mr-1">{{item.ministries.name}}</label>
                </div>
                <div *ngIf="item.role_id == 10">
                    <label class="badge badge-secondary mr-1">{{item.departments.name}}</label>
                </div>
              </td>
              <td>
                <div *ngFor="let item2 of item.userRegion">
                  <label  class="badge badge-warning mr-1">
                      {{item2.region.name}}
                  </label>  <br>
                </div>        
              </td>
              <td>
                <div *ngFor="let item3 of item.userProvince">
                  <label  class="badge badge-warning mr-1">
                      {{item3.province.name}}
                  </label>  <br>
                </div>    
              </td>
              <td>{{item.position}}</td>
              <td>{{item.phoneNumber}}</td>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

    <!-- BEGIN primary modal -->
    <ng-template #modalInspector class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
      <form [formGroup]="Form" (ngSubmit)="storeInspector(Form.value)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">เพิ่มข้อมูลการติดต่อผู้ตรวจราชการ</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-3">
            <div class="form-group">
              <label for="test" class="form-label">ผู้ตรวจราชการ</label>
              <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
              <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อผู้ตรวจราชการ"><br>
              <label for="test" class="form-label">เบอร์โทร</label>
              <input type="text" formControlName="phonenumber" class="form-control" placeholder="กรุณากรอกเบอร์โทร"><br>
              <label for="test" class="form-label">เขต</label>
              <input type="text" formControlName="regionId" class="form-control" placeholder="กรุณากรอกเขต"><br>
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">บันทึก</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </form>
      <!-- </div> -->
    </ng-template>
    <!-- END primary modal -->


    <!-- BEGIN primary modal -->
    <!-- <ng-template #modaldeleteInspector class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
        <i class="fa fa-info-circle delete-icon"></i>
        <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
          ลบข้อมูล
        </p>
        <p style="font-size: medium; color: #545454;">
          คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
        </p>
        <button type="button" class="btn btn-primary btnMargin" (click)="deleteInspector(delid)">
          ใช่
        </button>
        <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
          ไม่ใช่
        </button>
      </div>
    </ng-template> -->
    <!-- END primary modal -->

    <!-- BEGIN primary modal -->
    <ng-template #modaleditInspector class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
      <form [formGroup]="Form" (ngSubmit)="editInspector(Form.value,delid)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">จัดการข้อมูลการติดต่อผู้ตรวจราชการ</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <div class="form-group">
            
            <label for="test" class="form-label">ผู้ตรวจราชการ</label>
            <!-- <input type="text" formControlName="test" class="form-control" placeholder="test"> -->
            <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อผู้ตรวจราชการ"><br>
            <label for="test" class="form-label">เบอร์โทร</label>
            <input type="text" formControlName="phonenumber" class="form-control" placeholder="กรุณากรอกเบอร์โทร"><br>
            <label for="test" class="form-label">เขต</label>
            <input type="text" formControlName="regionId" class="form-control" placeholder="กรุณากรอกเขต"><br>
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
  <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->
