.btnMargin {
    margin: 10px;
    width: 90px;
    height: 45px;
}
.delete-icon {
    font-size: 80px;
    color: #f8bb86;
    border-color: #facea8;
}
.pointer {
    cursor:pointer;
}
.ellipsis {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .line-clamp {
    text-overflow: ellipsis;
    max-width: 200px;
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
  }