<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">รายชื่อผู้เข้าร่วมอบรม</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">
          รายชื่อผู้เข้าร่วมอบรม

          <button class="btn btn-light btn-sm" (click)="gotoBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>

        </h5>
      </div>

      <div class="card-body mt-3">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="45%">วันที่อบรม</th>
              <th width="25%">เช้า</th>
              <th width="25%">บ่าย</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of trainingProgramData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{item.programDate | thaidate: 'short'}}</td>
              <td><i class="align-middle mr-2 fas fa-search pointer" (click)="gotoList(item.id, 1)"
                title="รายชื่อผู้เข้าร่วมอบรมช่วงเช้า"></i></td>
              <td><i class="align-middle mr-2 fas fa-search pointer" (click)="gotoList(item.id, 2)"
                title="รายชื่อผู้เข้าร่วมอบรมช่วงบ่าย"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
