<div class="card-header" style="margin-bottom: -10px;">
    <h5 class="card-title">คณะรัฐมนตรี</h5>
    <div class="row">
        <div class="col-8 row">


            <select style="margin-bottom: 20px;" (change)="ChangeYear($event.target.value)"
                class="form-control select2 forselect" data-toggle="select2">
                <option *ngFor="let item of fiscalyear" [value]="item.year">{{item.name}}</option>
            </select>



            <select style="margin-bottom: 20px;" (change)="Changecabinet(year,$event.target.value)"
                class="form-control select2 forselect" data-toggle="select2">
                <option *ngFor="let item of cabinetDrop" [value]="item">{{item}}</option>
            </select>


            <!-- <select style="margin-bottom: 20px;"  (change)="ChangeYear($event)" class="form-control select2 forselect" data-toggle="select2">
            <option *ngFor="let item of fiscalyear" [value]="item.year">{{item.name}}</option>
        </select> -->
        </div>
        <div class="col-4">
            <div class="float-right">
                <button class="btn btn-primary" style="margin-bottom: 20px;" (click)="reportword(year)">
                    รายงาน
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <table *ngIf="loading" class="table table-striped table-bordered table-sm row-border hover " datatable
        [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th>#</th>
                <th>รูป</th>
                <th>ชื่อ</th>
                <th>ตำแหน่ง</th>
                <th>คำสั่งที่</th>
                <th>เขตตรวจ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataindata; let i = index">
                <td>{{i+1}}</td>
                <td><img onmouseover="" [src]="item.photo" alt=""></td>
                <td> <a (click)="openModal(item)" href="javascript:void(0)"> {{item.name}}</a></td>
                <td>{{item.position}}</td>
                <td>{{item.cabinet.name}}</td>
                <td style="cursor: pointer;">
                    <a href="javascript:void(0)" *ngFor="let region of item.fiscalYears[0].regions"
                        (click)="openModalRegion(region)">
                        <span class="badge badge-primary">
                            {{region.name}}
                        </span>
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
</div>