<div class="header">
    <h1 class="header-title">
        ผู้สมัครเข้าร่วมอบรม
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard-default.html">จัดการหลักสูตรการอบรม</a></li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-header" style="margin-bottom: -40px;">
              <h5 class="card-title">จัดการหลักสูตรการอบรม</h5>
              <div class="float-right">
                  <!-- <button class="btn btn-primary" (click)="openModal(modalProgram)"
                      style="margin-top: -60px;">ภาพรวมแผนกำหนดการ</button> -->
              </div>
          </div>
          <div class="card-body">
              <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
                  [dtOptions]="dtOptions">
                  <thead>
                      <tr>
                          <th width="5%">#</th>
                          <th width="15%">วันที่</th>
                          <th width="15%">เวลา</th>
                          <th width="40%">รายละเอียดกิจกรรม</th>
                          <th width="15%">ประเภทกิจกรรม</th>
                          <th width="10%"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of resulttraining; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td class="ellipsis">{{ item.programDate | thaidate:'year'}}</td>
                          <td class="ellipsis">{{ item.minuteStartDate }} - {{ item.minuteEndDate }}</td>
                          <td class="ellipsis">
                              <b>หัวข้อ : </b>{{ item.programTopic }}
                              <br>
                              <b>รายละเอียด : </b>{{ item.programDetail }}
                              <br>
                              <b>ผู้ดำเนินรายการ : </b>{{ item.lecturerId }}
                          </td>

                          <td>
                            <ng-container *ngIf="item.programType == 1;else second">
                                ทั่วไป
                            </ng-container>
                              <ng-template #second>
                                  <ng-container *ngIf="item.programType == 2;else third">
                                      คณะฝึกปฏิบัติ
                                  </ng-container>
                              </ng-template>
                              <ng-template #third>
                                    <ng-container *ngIf="item.programType == 3;else third">
                                        คณะศึกษาดูงาน
                                    </ng-container>
                              </ng-template>
                            </td>
                          
                          <td>
                            <ng-container *ngIf="item.programType == 1;else msecond">
                                
                            </ng-container>
                              <ng-template #msecond>
                                  <ng-container *ngIf="item.programType == 2;else mthird">
                                    <i class="align-middle mr-2 fas fa-fw fa-users pointer"
                                    (click)="GotoRegisterTrainingGroup(item.id)"></i>
                                  </ng-container>
                              </ng-template>
                              <ng-template #mthird>
                                    <ng-container *ngIf="item.programType == 3;else third">
                                        <i class="align-middle mr-2 fas fa-fw fa-users pointer"
                                        (click)="GotoRegisterTrainingGroup(item.id)"></i>
                                    </ng-container>
                              </ng-template>
                            
                          </td>
                      </tr>
                  </tbody>
              </table>

          </div>
      </div>
  </div>


    <!-- BEGIN primary modal -->
    <ng-template #modalProgram class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="storeTraining(Form.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">กำหนดการ</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <div class="form-group">
                    <label for="test" class="form-label">วันที่</label>
                    <my-date-picker-th formControlName="programdate"     [options]="dateOption" required>
                    </my-date-picker-th>
                    <!-- <input type="text" formControlName="programdate" class="form-control" placeholder="กรุณากรอกวันที่กำหนดการ"> -->
                    <br>
                    <div class="input-group">
                        <label for="test" class="form-label">เวลาเริ่ม &nbsp;</label>
                        <input type="text" formControlName="mStart" class="form-control" placeholder="Ex 00.00" maxlength="5">
                    
                    <br>
                        <label for="test" class="form-label">&nbsp; ถึง &nbsp;</label>
                        <input type="text" formControlName="mEnd" class="form-control" placeholder="Ex 00.00" maxlength="5">
                    </div>
                    <br>
                    <label for="test" class="form-label">หัวข้อเรื่อง</label>
                    <input type="text" formControlName="programtopic" class="form-control" placeholder="กรุณากรอกหัวข้อเรื่อง">
                    <br>
                    <label for="test" class="form-label">รายละเอียดกิจกรรม</label>
                    <input type="text" formControlName="programdetail" class="form-control" placeholder="กรุณากรอกรายละเอียดกิจกรรม">
                    <br>
                    <label for="test" class="form-label">ผู้ดำเนินรายการ</label>
                    <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกวิทยากร"   [items]="selectdatalecturer"
                    name="lecturername" formControlName="lecturername"  >
                    </ng-select>

                    <!-- <label for="test" class="form-label">ผู้ดำเนินรายการ</label>
                    <input type="text" formControlName="lecturername" class="form-control" placeholder="กรุณากรอกผู้ดำเนินรายการ"> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()"
                    data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </form>
    <!-- </div> -->
    </ng-template>
    <!-- END primary modal -->

    <!-- BEGIN primary modal -->
    <ng-template #modalDetailProgram class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="width: 1000px;">
        <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
            
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title">กำหนดการ</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body m-3">
                    <table *ngIf="loading" class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th width="20%">วันที่</th>
                                <th width="20%">เวลา</th>
                                <th width="55%">รายละเอียดกิจกรรม</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of resulttraining; let i = index">
                                <td class="ellipsis">{{ item.programDate | thaidate:'year'}}</td>
                                <td class="ellipsis">{{ item.minuteStartDate }} - {{ item.minuteEndDate }}</td>
                                <td class="ellipsis">
                                    <b>หัวข้อ : </b>{{ item.programTopic }}
                                    <br>
                                    <b>รายละเอียด : </b>{{ item.programDetail }}
                                    <br>
                                    <b>ผู้ดำเนินรายการ : </b>{{ item.lecturerId }}
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-danger" (click)="modalRef.hide()"
                        data-dismiss="modal">ปิด</button>
                </div>
            </div>
        
        <!-- </div> -->
        </ng-template>
        <!-- END primary modal -->


    <!-- BEGIN primary modal -->
    <ng-template #modaldelete class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
            <i class="fa fa-info-circle delete-icon"></i>
            <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
                ลบข้อมูล
            </p>
            <p style="font-size: medium; color: #545454;">
                คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
            </p>
            <button type="button" class="btn btn-primary btnMargin" (click)="deleteTraining(delid)">
                ใช่
            </button>
            <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
                ไม่ใช่
            </button>
        </div>
    </ng-template>
    <!-- END primary modal -->

  </div>

