<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="#">Event</a></li>
      <li class="breadcrumb-item"><a href="#">แผนการตรวจ</a></li>
      <li class="breadcrumb-item active" aria-current="page">เพิ่มแผนการตรวจ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มแผนการตรวจ</h5>
        <!-- <div class="float-right">
                      <button class="btn btn-primary" style="margin-top: -60px;">เพิ่มนโยบายกลาง</button>
                  </div> -->
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-xl-12">
            <br>

            <div class="form-group">
              <label>เรื่อง*</label>
              <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง">
              <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>จังหวัด*</label>
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2">
                    <option>กรุณาเลือกจังหวัด</option>
                    <option value="1">กรุงเทพ ฯลฯ</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-xl-12">
                      <label>กระทรวง/กรม*</label>
                      <div class="form-row">
                          <label class="form-group col-md-1 text-sm-center">
                              1.
                          </label>
                          <div class="form-group col-md-3">
                              <div class="mb-3">
                                  <select class="form-control select2" data-toggle="select2">
                                      <option >กรุณาเลือกกระทรวง</option>
                                      <option value="1">สาธารณะสุข</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group col-md-3">
                              <div class="mb-3">
                                  <select class="form-control select2" data-toggle="select2">
                                      <option >กรุณาเลือกกรม</option>
                                      <option value="1">อย.</option>
                                  </select>
                              </div>

                          </div>
                      </div>
                  </div> -->

          <div class="col-12 col-xl-12">
            <label>กำหนดระยะเวลา*</label>
          </div>
          <div class="col-12 col-xl-3">
            <div class="form-group">
              <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-minimum" />
                <div class="input-group-append" data-target="#datetimepicker-minimum" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-xl-1">
            <div class="form-group" align="center">
              ถึง
            </div>
          </div>

          <div class="col-12 col-xl-3">
            <div class="form-group">
              <div class="input-group date" id="datetimepicker-view-mode" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-view-mode" />
                <div class="input-group-append" data-target="#datetimepicker-view-mode" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let item of input; let i = index" class="col-12 col-xl-12">
            <label>เชิญ กระทรวง/กรม*</label>
            <div class="form-row">
              <label class="form-group col-md-1 text-sm-center">
                1.
              </label>
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2">
                    <option>กรุณาเลือกกระทรวง</option>
                    <option value="1">สาธารณะสุข</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2">
                    <option>กรุณาเลือกกรม</option>
                    <option value="1">อย.</option>
                  </select>
                </div>

              </div>
              <div class="form-group col-md-3">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2">
                    <option>กรุณาเลือกชื่อ-นามสกุล</option>
                    <option value="1">ศรัณญ์ สาพรหม</option>
                    <option value="2">พิทยา นวลชื่น</option>
                    <option value="3">ธนพล ศรีม่วง</option>
                  </select>
                </div>

              </div>

              <div class="form-group col-md-1 text-center">
                <div class="mb-3">
                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 col-xl-12" *ngFor="let item of input2; let i = index">
            <label>เชิญ ภาคประชาชน*</label>
            <div class="form-row">
              <label class="form-group col-md-1 text-sm-center">
                1.
              </label>

              <div class="form-group col-md-4">
                <div class="mb-3">
                  <select class="form-control select2" data-toggle="select2">
                    <option>กรุณาเลือกชื่อ-นามสกุล</option>
                    <option value="1">ศรัณญ์ สาพรหม</option>
                    <option value="2">พิทยา นวลชื่น</option>
                    <option value="3">ธนพล ศรีม่วง</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-1 text-center">
                <div class="mb-3">
                  <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append2()"></i>
                </div>
              </div>

            </div>
          </div>


          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>ประเด็น*</label>
              <textarea class="form-control" rows="4" placeholder="กรุณากรอกประเด็น"></textarea>

            </div>
          </div>

          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label class="form-label w-100">แนบไฟล์</label>
              <input type="file" multiple="multiple">
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-primary">บันทึก</button>
              <!-- <button type="submit" class="btn btn-danger">ยกเลิก</button> -->
            </div>
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-danger">ยกเลิก</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
