<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="test02.html">หน้าหลัก</a></li>
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">เพิ่มแผนตรวจราชการ</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มแผนตรวจราชการ</h5>
      </div>
      <br>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeInspectionPlan(Form.value)">
          <div class="row">

            <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา</label>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <!-- <input type="text" value="{{ resultinspectionplan[0].startDate | thaidate: 'year' }}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                formControlName="start_date"> -->
                <my-date-picker-th [selDate]="startDate" (dateChanged)="onStartDateChanged($event)"
                [options]="myDatePickerOptions" required>
              </my-date-picker-th>
              </div>
            </div>
            <div class="col-12 col-xl-1">
              <div class="form-group" align="center">
                ถึง
              </div>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <!-- <input type="text" value="{{ resultinspectionplan[0].endDate | thaidate: 'year' }}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                readonly> -->
                <my-date-picker-th [selDate]="endDate" (dateChanged)="onEndDateChanged($event)"
                [options]="myDatePickerOptions" required>
              </my-date-picker-th>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <input type="text" value="{{resultinspectionplan[0].province.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                readonly>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>เรื่อง</label>
                <input type="text" formControlName="title" class="form-control" placeholder="กรุณากรอกเรื่อง">
                <!-- <span class="font-13 text-muted">e.g "DD/MM/YYYY"</span> -->
              </div>
            </div>


            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <input type="radio" name="status" value="ร่างกำหนดการ" checked formControlName="status">
                    <label style="margin-left: 10px;">ร่างกำหนดการ</label>
                    <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง" formControlName="status">
                    <label style="margin-left: 10px;">ใช้งานจริง</label>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ปีงบประมาณ*</label>
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <select class="form-control select2" data-toggle="select2" formControlName="year">
                      <option value=null>กรุณาเลือกปีงบประมาณ</option>
                      <option *ngFor="let item of resultfiscalyear; let i = index" value="{{item.id}}">{{item.year}}
                      </option>
                    </select>
                    <!-- <input class="form-control" type="text" value="{{resultfiscalyear.year}}" disabled> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเภท*</label>
                <div class="form-group col-md-3">
                  <div class="mb-3">
                    <select class="form-control select2" data-toggle="select2" formControlName="type" disabled>
                      <!-- <option value=null>กรุณาเลือกประเภท</option>
                      <option value="ตรวจราชการแบบบูรณาการ">ตรวจราชการแบบบูรณาการ</option>
                      <option value="มาตรา 34">มาตรา 34</option> -->
                      <option selected value="อื่นๆ">อื่นๆ</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา</label>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <my-date-picker-th formControlName="start_date"   [items]="myDatePickerOptions" required>
                </my-date-picker-th>
              </div>
            </div>
            <div class="col-12 col-xl-1">
              <div class="form-group" align="center">
                ถึง
              </div>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
                </my-date-picker-th>
              </div>
            </div> -->

            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>จังหวัด</label>
                <ng-select bindLabel="label" bindValue="value" placeholder="กรุณาเลือกจังหวัด" [multiple]="false"   [items]="selectdataprovince" name="ProvinceId" formControlName="ProvinceId"
                   >
                </ng-select>
              </div>
            </div> -->

            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเด็น</label>
                <div class="row" *ngFor="let item of t.controls; let i = index">
                  <form class="form-group row col-12" [formGroup]="item">
                    <div class="col-1 text-center">
                      {{ i + 1 }}.
                    </div>
                    <div class="col-10">
                      <input type="text" class="form-control" placeholder="กรุณากรอกประเด็น">
                    </div>
                    <div class="col-1" *ngIf="i == 0; else elseBlock">
                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="append()"></i>
                    </div>
                    <ng-template #elseBlock>
                      <div class="col-1">
                        <i class="align-middle mr-2 far fa-fw fa-minus-square"></i>
                      </div>
                    </ng-template>

                    <div class="col-12 col-xl-12">
                      <label>กำหนดระยะเวลา</label>
                    </div>
                    <div class="col-12 col-xl-3">
                      <div class="form-group">
                        <my-date-picker-th formControlName="start_date"   [items]="myDatePickerOptions" required>
                        </my-date-picker-th>
                      </div>
                    </div>
                    <div class="col-12 col-xl-1">
                      <div class="form-group" align="center">
                        ถึง
                      </div>
                    </div>
                    <div class="col-12 col-xl-3">
                      <div class="form-group">
                        <my-date-picker-th formControlName="end_date"   [items]="myDatePickerOptions" required>
                        </my-date-picker-th>
                      </div>
                    </div>
                    <div class="col-5"></div>

                    <div class="form-group col-12">
                      <label>คำถามย่อยของประเด็นที่ {{ i + 1 }}</label>
                      <div class="row">
                        <div class="col-1 text-center">
                          1.
                        </div>
                        <div class="col-10">
                          <input type="text" class="form-control" placeholder="กรุณคำถามย่อย">
                        </div>
                        <div class="col-1">
                          <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="appendquestion()"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple="multiple" formControlName="files">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div> -->
            <!-- <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file" multiple="multiple" formControlName="files">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div> -->
            <!-- <hr> -->
            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="button" class="btn btn-danger" (click)="goBack()">ยกเลิก</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
