<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active" >ข้อมูลพื้นฐาน</li>
      <li class="breadcrumb-item active">กลุ่มจังหวัด</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">กลุ่มจังหวัด</h5>
        <div class="float-right">
          <button class="btn btn-primary" (click)="openModal(modal)"
            style="margin-top: -60px;">เพิ่มข้อมูล
          </button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>#</th>
              <th>ชื่อกลุ่มจังหวัด</th>
              <th>วันที่สร้าง</th>
              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td >{{item.name}}</td> 
              <td *ngIf="item.createdAt != null; else elseBlock">{{ item.createdAt | thaidate:'short'}}</td>
              <ng-template #elseBlock>
                <td></td>
              </ng-template>
              <td>
                <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้ออมูล" 
                    (click)="openModal(modaledit, item.id, item.name)">
                  <i class="align-middle fas fa-fw fa-pen "></i>
                </button>

                <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล" (click)="openModal(modaldelete, item.id, item.name)">
                  <i class="align-middle fas fa-fw fa-trash-alt"></i>
                </button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="store(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">กลุ่มจังหวัด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="Name" class="form-label">ชื่อกลุ่มจังหวัด</label>
          <input type="text" formControlName="Name" class="form-control" placeholder="กรุณากรอกชื่อกลุ่มจังหวัด"
          [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" >
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">กรุณากรอกชื่อกลุ่มจังหวัด</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modaldelete class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="delete(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modaledit class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="Form" (ngSubmit)="edit(Form.value,delid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการกลุ่มจังหวัด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="Name" class="form-label">ชื่อกลุ่มจังหวัด</label>
          <input type="text" formControlName="Name" class="form-control" placeholder="กรุณากรอกชื่อกลุ่มจังหวัด"
          [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">กรุณากรอกชื่อกลุ่มจังหวัด</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->
