<div class="header">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">หน้าหลัก</a></li>
      <li class="breadcrumb-item active">คำสั่งรับผิดชอบเขตตรวจราชการ</li>
    </ol>
  </nav>
</div>
<form class="row">
  <div class="col-12">
    <div class="card card-eiei">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">คำสั่งรับผิดชอบเขตตรวจราชการ</h5>
        <div class="float-right" *ngIf="role_id == 1">
          <button class="btn btn-pill btn-warning btn-lg" title="เพิ่มข้อมูล" (click)="openModal(modalInstructionorder)"
            style="margin-top: -60px;"><i class="align-middle fas fa-fw fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
          <thead>
            <tr>
             <th>#</th>
              <th>ปี</th>
              <th>คำสั่ง</th>
              <th>เรื่อง</th>
              <th>คำสั่งโดย</th>
              <th>รายละเอียด</th>
              <th>ไฟล์แนบ</th>
              <!-- <th>วันที่สร้าง</th> -->
              <th *ngIf="role_id == 1"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultInstructionorder; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>{{ item.year }}</td>
              <td>{{ item.order }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.createBy }}</td>
              <td>{{ item.detail }}</td>
              <td ><a *ngIf="item.file != 'NULL' " href="assets/InstructionorderFile/{{item.file}}" download>{{ item.file }}</a></td>
              <!-- <td>{{item.createdAt  ? (item.createdAt | thaidate:'short'):"-"}}</td> -->
              <td *ngIf="role_id == 1">
                <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล" 
                  (click)="openModal(modaleditInstructionorder, item.id, item.year, item.order, item.name, item.createBy, item.detail , item.file)">
                  <i class="align-middle  fas fa-fw fa-pen "></i>
                </button>
                <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล" 
                (click)="openModal(modaldeleteInstructionorder, item.id, item.year, item.order, item.name, item.createBy, item.detail , item.file)">
                  <i class="align-middle  fas fa-fw fa-trash-alt "></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- BEGIN primary modal -->
  <ng-template #modalInstructionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="storeInstructionorder(Form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">เพิ่มคำสั่งรับผิดชอบเขตตรวจราชการ</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">

          <div class="form-group">
            <label class="form-label">ปี </label>
            <input type="text" formControlName="year" class="form-control" placeholder="กรุณากรอกปี"
            [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
            <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
              <div *ngIf="f.year.errors.required">กรุณากรอกปี</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">คำสั่ง</label>
            <input type="text" formControlName="order" class="form-control" placeholder="กรุณากรอกคำสั่ง"
            [ngClass]="{ 'is-invalid': submitted && f.order.errors }">
            <div *ngIf="submitted && f.order.errors" class="invalid-feedback">
              <div *ngIf="f.order.errors.required">กรุณากรอกคำสั่ง</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">เรื่อง </label>
            <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อเรื่อง"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">กรุณากรอกชื่อเรื่อง</div>
            </div> 
          </div>
          <div class="form-group">
            <label class="form-label">คำสั่งโดย </label>
            <input type="text" formControlName="createBy" class="form-control" placeholder="กรุณากรอก"
            [ngClass]="{ 'is-invalid': submitted && f.createBy.errors }">
            <div *ngIf="submitted && f.createBy.errors" class="invalid-feedback">
              <div *ngIf="f.createBy.errors.required">กรุณากรอก</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">รายละเอียด </label>
            <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกรายละเอียด"
            [ngClass]="{ 'is-invalid': submitted && f.detail.errors }">
            <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
              <div *ngIf="f.detail.errors.required">กรุณากรอกรายละเอียด</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">ไฟล์แนบ </label><br>
            <input type="file" (change)="uploadFile($event)">
          </div>
        </div> 
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->


  <!-- BEGIN primary modal -->
  <ng-template #modaldeleteInstructionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
      <i class="fa fa-info-circle delete-icon"></i>
      <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
        ลบข้อมูล
      </p>
      <p style="font-size: medium; color: #545454;">
        คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
      </p>
      <button type="button" class="btn btn-primary btnMargin" (click)="deleteInstructionorder(delid)">
        ใช่
      </button> &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
        ไม่ใช่
      </button>
    </div>
  </ng-template>
  <!-- END primary modal -->

  <!-- BEGIN primary modal -->
  <ng-template #modaleditInstructionorder class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <form [formGroup]="Form" (ngSubmit)="editInstructionorder(Form.value,delid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แก้ไข</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">

          <div class="form-group">
            <label class="form-label">ปี</label>
            <input type="text" formControlName="year" class="form-control" placeholder="กรุณากรอกปี"
              [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
            <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
              <div *ngIf="f.year.errors.required">กรุณากรอกปี</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">คำสั่ง </label>
            <input type="text" formControlName="order" class="form-control" placeholder="กรุณากรอกคำสั่ง"
              [ngClass]="{ 'is-invalid': submitted && f.order.errors }">
            <div *ngIf="submitted && f.order.errors" class="invalid-feedback">
              <div *ngIf="f.order.errors.required">กรุณากรอกคำสั่ง</div>
            </div> 
          </div>

          <div class="form-group">
            <label class="form-label">เรื่อง </label>
            <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อเรื่อง"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">กรุณากรอกชื่อเรื่อง</div>
            </div> 
          </div>

          <div class="form-group">
              <label class="form-label">คำสั่งโดย</label>
              <input type="text" formControlName="createBy" class="form-control" placeholder="กรุณากรอก"
              [ngClass]="{ 'is-invalid': submitted && f.createBy.errors }">
              <div *ngIf="submitted && f.createBy.errors" class="invalid-feedback">
                <div *ngIf="f.createBy.errors.required">กรุณากรอก</div>
              </div> 
          </div>

          <div class="form-group">
            <label class="form-label">รายละเอียด </label>
            <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกรายละเอียด"
              [ngClass]="{ 'is-invalid': submitted && f.detail.errors }" >
            <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
              <div *ngIf="f.detail.errors.required">กรุณากรอกรายละเอียด</div>
            </div> 
          </div>

          <div class="form-group">
              <label class="form-label">ไฟล์แนบ </label>
              <p><a *ngIf="filename != 'NULL' " href="assets/InstructionorderFile/{{filename}}" download>{{ filename }}</a></p>
              <input type="file" (change)="uploadFile($event)">
          </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
<!-- </div> -->
</ng-template>
<!-- END primary modal -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
