<div class="header">
  <h1 class="header-title">
    ระบบตรวจราชการอิเล็กทรอนิกส์
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">แผนการตรวจ</a></li>
      <li class="breadcrumb-item active" aria-current="page">รายละเอียดแผนการตรวจ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">รายละเอียด</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="storeFiles(form.value)">
          <div class="row">
            <div class="col-md-6">
              ผู้มอบหมาย : {{resultuser.name}}
            </div>
            <div class="col-md-6">
              ตำแหน่ง : {{resultuser.position}}
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              เรื่อง : {{resultdetailcentralpolicy.title}}
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <!-- จังหวัด : ขอนแก่น -->
              <u>จังหวัด</u><br>
              <span>{{provincename}}</span>
              <!-- <span
                *ngFor="let item3 of resultdetailcentralpolicy.centralPolicyProvinces; let i = index">ช่วงที่ {{i+1}})
                {{ item3.province.name }}<br></span> -->
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>กำหนดลงพื่นที่</u><br>
              <!-- {{resultdate.id}} -->
              <span> {{ resultdate.startDate | thaidate: 'year' }} - {{ resultdate.endDate | thaidate: 'year' }}</span>
              <!-- <span
                *ngFor="let item2 of ; let i = index">ช่วงที่ {{i+1}})
                {{ item2.startDate | thaidate: 'year' }} - {{ item2.endDate | thaidate: 'year' }}<br></span> -->
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>กระทรวง/กรม</u> &nbsp;&nbsp;
              <button *ngIf="role_id == 3" type="button" (click)="openModal(modalInviteMinistryPeople)"
                class="btn btn-info">เชิญกระทรวง/กรม</button>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-12">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let i = index">
                <div class="col-3" *ngIf="items.user.role_id == 6">
                  {{items.user.prefix}} {{items.user.name}}
                </div>
                <div class="col-2" *ngIf="items.user.role_id == 6">
                  <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                    disabled>{{items.status}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <u>ภาคประชาชน</u> &nbsp;&nbsp;
              <button *ngIf="role_id == 3" type="button" class="btn btn-info"
                (click)="openModal(modalInvitePeople)">เชิญภาคประชาชน</button>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-12">
              <div class="row" *ngFor="let items of resultcentralpolicyuser;let ii = index">
                <div class="col-3" *ngIf="items.user.role_id == 7">
                  {{items.user.prefix}} {{items.user.name}}
                </div>
                <div class="col-2" *ngIf="items.user.role_id == 7">
                  <button *ngIf="items.status == 'รอการตอบรับ'" class="btn btn-sm btn-warning"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ตอบรับ'" class="btn btn-sm btn-success"
                    disabled>{{items.status}}</button>
                  <button *ngIf="items.status == 'ปฏิเสธ'" class="btn btn-sm btn-danger"
                    disabled>{{items.status}}</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">

            </div>
          </div>

          <div class="row" style="margin-top: 10px; ">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
          </div> -->

          <div class="row" style="margin-top: 10px;">
            <div class="col-12">
              <table class="table table-default table-responsive-sm tableborder">
                <tbody *ngFor="let items of resultdetailcentralpolicyprovince;let i = index">

                  <!-- <div class="row">
                    <div class="col-6">
                      <div style="margin-top:30px; margin-bottom: 15px;">
                        หน่วยงานที่เกี่ยวข้อง &nbsp;&nbsp;
                        <button type="button" (click)="openModal2(modalInviteDepartment, items.id)"
                          class="btn btn-primary">เชิญหน่วยงานเพิ่มเติม</button>
                      </div>
                      <div class="row"
                        *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceGroups;let ii = index">
                        <span class="col-11">{{ii + 1}}. {{itemss.provincialDepartment.name}}</span>
                        <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer col-1"
                          (click)="DelModal(modaldeleteProvincial, itemss.id)"></i>
                      </div>
                    </div>
                    <div class="col-6" style="margin-top:30px; margin-bottom: 15px;">
                      ที่ปรึกษาผู้ตรวจราชการภาคประชาชน
                    </div>
                  </div> -->

                  <tr>
                    <td style="border-top: none;">
                      <div class="row">
                        <h4 style="margin-top: 20px;">หน่วยงานที่เกี่ยวข้อง &nbsp;&nbsp;
                          <button *ngIf="role_id == 3" type="button"
                            (click)="openModal2(modalInviteDepartment, items.id)"
                            class="btn btn-primary">เชิญหน่วยงานเพิ่มเติม</button>
                          <button *ngIf="role_id == 5 && centralpolicyprovincedata.step == 'มอบหมายจังหวัด'"
                            type="button" (click)="openModal2(modalInviteDepartment, items.id)"
                            class="btn btn-primary">เชิญหน่วยงานเพิ่มเติม</button>
                        </h4>
                        <div class="col-12"
                          *ngFor="let itemss of items.subquestionCentralPolicyProvinces[0].subjectCentralPolicyProvinceGroups;let ii = index">
                          <span class="col-11">{{ii + 1}}. {{itemss.provincialDepartment.name}}</span>
                          <i *ngIf="role_id == 3" class="align-middle mr-2 fas fa-fw fa-trash-alt pointer col-1"
                            (click)="DelModal(modaldeleteProvincial, itemss.id)"></i>
                        </div>
                      </div>
                    </td>

                  </tr>
                  <div class="row" style="margin-top: 10px; margin-left: 3px;">
                    <div class="col-md-9">
                      ลิ้งค์บุคคลภายนอก : {{urllink}}{{items.id}}
                    </div>
                  </div>
                  <tr>
                    <div class="card">
                      <td style="border-top: none; width: 85%;">
                        <u style="margin-left: 15px;">เรื่องประเด็น</u>
                        <div class="row">
                          <div class="col-10">
                            <input type="text" value="{{items.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                              readonly>
                          </div>
                          <div class="col-1" *ngIf="role_id == 3">
                            <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                              (click)="editModal3(modaleditsubject, items.id, items.name)"></i>
                          </div>
                          <div class="col-1" *ngIf="role_id == 3 && i != 0">
                            <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                              (click)="delsubjectModal(modaldelsubject, items.id)"></i>
                          </div>
                        </div>
                      </td>
                      <td style="border-top: none;" width="85%">
                        <u>คำถามปลายเปิด</u>
                        <button class="btn btn-success" id="collapseAsk{{i}}" data-toggle="collapse"
                          [attr.data-target]="'#collapseExample' + i" aria-expanded="false"
                          aria-controls="collapseExample" style="margin-left: 20px; font-size: small;">คำตอบปลายเปิด
                          <i class="far fa-fw fa-plus-square" style="margin-left: 0px;"></i>
                        </button>

                        <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index">
                          <div class="row" *ngIf="item.type == 'คำถามปลายเปิด'">
                            <div class="col-10">
                              <input type="text" value="{{item.name}}" class="form-control"
                                placeholder="กรุณากรอกเรื่อง" readonly>
                            </div>
                            <div class="col-1" *ngIf="role_id == 3">
                              <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                (click)="editModal4(modaleditsubjectquestionopen, item.id, item.name)"></i>
                            </div>
                            <!-- <div class="col-1" *ngIf="role_id == 3  && i != 0">
                            <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                            (click)="delquestionModal(modaldelquestion, item.id)"></i>
                          </div> -->

                            <div *ngIf="item.type == 'คำถามปลายเปิด'" class="col-12">
                              <div *ngFor="let items2 of item.answerSubquestions; let index = index" class="row">
                                <div class="collapse col-9" id="collapseExample{{i}}"
                                  style="margin-left: 10px; margin-top: 5px;">
                                  <label type="text" class="form-control">{{items2.answer}}</label>
                                </div>
                                <div class="collapse col-1" id="collapseExample{{i}}" *ngIf="role_id == 3">
                                  <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                    (click)="editModal5(modalEditAnswer, items2.id, items2.answer)"
                                    style="padding-top: 10px;"></i>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </td>
                    </div>
                  </tr>


                  <tr *ngFor="let item of items.subquestionCentralPolicyProvinces;let iii = index">
                    <div class="card" *ngIf="item.type == 'คำถามปลายปิด'">
                      <td style="border-top: none; width: 85%;">
                        <u>คำถามปลายปิด</u>
                        <!-- <button class="btn btn-success" id="test2{{i}}" data-toggle="collapse"
                          [attr.data-target]="'#test' + i" aria-expanded="false" aria-controls="test"
                          style="margin-left: 20px; font-size: small;">กราฟคำตอบปลายปิด
                          <i class="far fa-fw fa-plus-square" style="margin-left: 0px;"></i>
                        </button> -->
                        <button (click)="showGraph(item)">
                          กราฟคำตอบปลายปิด
                        </button>
                        <!-- <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index"> -->
                        <div class="row">
                          <div class="col-10" *ngIf="item.type == 'คำถามปลายปิด'">
                            <input type="text" value="{{item.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                              readonly>
                          </div>
                          <div class="col-1" *ngIf="item.type == 'คำถามปลายปิด' && role_id == 3">
                            <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                              (click)="editModal(modaleditsubquestionclose, item.id, item.name)"></i>
                          </div>
                          <!-- <div class="col-1" *ngIf="item.type == 'คำถามปลายปิด' && role_id == 3  && i != 0">
                          <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                            (click)="delquestionModal(modaldelquestion, item.id)"></i>
                        </div> -->
                        </div>
                        <!-- </div> -->
                      </td>

                      <td style="border-top: none; width: 85%;" *ngIf="item.type == 'คำถามปลายปิด'">
                        <u>ตัวเลือกคำถามปลายปิด</u>
                        <div *ngFor="let item2 of items.subquestionCentralPolicyProvinces;let ii = index">
                          <div *ngFor="let item3 of item2.subquestionChoiceCentralPolicyProvinces;let iii = index">
                            <div class="row">
                              <div class="col-10"
                                *ngIf="item2.type == 'คำถามปลายปิด' && item.id == item3.subquestionCentralPolicyProvinceId">
                                <div class="row" style="border: 1px solid #ced4da;
                                margin: 0px;
                                border-radius: 4px;
                                background-color: #e9ecef;
                                padding-top: 4px;
                                height: 32px;
                                margin-top: 5px;">
                                  <div class="col-8">{{item3.name}}</div>
                                  <!-- <div class="col-4" style="text-align: right;">
                                    <label style="margin-left: 10px; color: #27A844; ">
                                      คนตอบทั้งหมด {{item2.answerSubquestions.length}}
                                    </label>
                                  </div> -->
                                </div>
                              </div>
                              <!-- <div class="col-1"
                              *ngIf="item2.type == 'คำถามปลายปิด'  && item.id == item3.subquestionCentralPolicyProvinceId">
                              <i class="align-middle mr-2 fas fa-fw fa-pen pointer"
                                (click)="editModal2(modaleditsubquestionclosechoice, item3.id, item3.name)"></i>
                            </div> -->
                            </div>
                          </div>
                        </div>
                      </td>
                      <div class="col-12">
                        <div class="row">
                          <div class="collapse col-9" id="test{{i}}" style="margin-left: 10px; margin-top: 5px;">
                            <div class="chartjs-container">
                              <canvas baseChart [datasets]="barchartAllset.barChartData" [labels]="barchartAllset.label"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                              </canvas>
                            </div>
                          </div>
                          <!-- <div class="collapse col-1" id="test{{i}}">
                            <i class="align-middle mr-2 fas fa-fw fa-pen pointer" style="padding-top: 10px;"></i>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </tr>

                  <!-- <div style="margin-top:20px;"></div> -->

                  <!-- <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index" class="row col-12">
                    <tr style="margin-top: -20px;">
                      <td style="border-top: none;">
                        <div class="row" *ngIf="item.type == 'คำถามปลายปิด'">
                          <u style="margin-left: 15px;">คำถามปลายปิด</u>
                          <div class="col-11">
                            <input type="text" value="{{item.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                              readonly>
                          </div>
                          <div class="col-1">
                            <i class="align-middle mr-2 fas fa-fw fa-pen pointer"></i>
                          </div>
                        </div>
                      </td>

                      <td style="border-top: none;" >
                        <div *ngFor="let item2 of item.subquestionChoiceCentralPolicyProvinces;let ii = index">
                          <div class="row" *ngIf="item.type == 'คำถามปลายปิด'">
                            <u style="margin-left: 15px;">ตัวเลือกคำถามปลายปิด</u>
                            <div class="col-11">
                              <input type="text" value="{{item2.name}}" class="form-control"
                                placeholder="กรุณากรอกเรื่อง" readonly>
                            </div>
                            <div class="col-1">
                              <i class="align-middle mr-2 fas fa-fw fa-pen pointer"></i>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </div> -->

                  <div *ngIf="items.electronicBookSuggestGroups.length > 0" class="col-12 col-xl-12"
                    style="margin-top: 10px; margin-bottom: 20px;">
                    <div class="form-group">

                      <div class="col-12">
                        <div class="row">
                          <div *ngIf="items.electronicBookSuggestGroups[0].detail != 'null'" class="col-12"
                            style="padding-left: 0;">
                            <div class="form-group">
                              <label>ผลการตรวจ</label>
                              <textarea cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].detail}}"
                                class="form-control" placeholder="กรุณากรอกผลการตรวจ" readonly>
                              </textarea>
                            </div>
                          </div>
                          <!-- <div class="col-1">
                            <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                              (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                          </div> -->
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="row">
                          <div *ngIf="items.electronicBookSuggestGroups[0].problem != 'null'" class="col-12"
                            style="padding-left: 0;">
                            <div class="form-group">
                              <label>ปัญหาและอุปสรรค</label>
                              <textarea cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].problem}}"
                                class="form-control" placeholder="กรุณากรอกปัญหาและอุปสรรค" readonly>
                              </textarea>
                            </div>
                          </div>
                          <!-- <div class="col-1">
                            <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                              (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                          </div> -->
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="row">
                          <div *ngIf="items.electronicBookSuggestGroups[0].suggestion != 'null'" class="col-12"
                            style="padding-left: 0;">
                            <div class="form-group">
                              <label>ข้อเสนอแนะ</label>
                              <textarea cols="30" rows="5" value="{{items.electronicBookSuggestGroups[0].suggestion}}"
                                class="form-control" placeholder="กรุณากรอกข้อเสนอแนะ" readonly>
                              </textarea>
                            </div>
                          </div>
                          <!-- <div class="col-1">
                            <i class="align-middle mr-1 fas fa-fw fa-pen pointer" style="margin-top: 35px;"
                              (click)="openEditSuggestionModal(modalEditSuggestion, items.id)"></i>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>

                </tbody>

              </table>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-6">
              <u>เรื่องประเด็น</u>
            </div>
            <div class="col-6">
              <u>คำถามปลายเปิด</u>
            </div>
          </div>

          <div *ngFor="let items of resultdetailcentralpolicyprovince;let i = index">
            <div class="row">
              <div class="col-5">
                <input type="text" value="{{i +1}}. {{items.name}}" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  readonly>
              </div>
              <div class="col-1">
                <i class="align-middle mr-2 fas fa-fw fa-pen pointer"></i>
              </div>

              <div *ngFor="let item of items.subquestionCentralPolicyProvinces;let ii = index">

                <div class="col-5" *ngIf="item.type == 'คำถามปลายเปิด'">
                  <input type="text" value="{{i +1}}.{{ii +1}} {{item.name}}" class="form-control"
                    placeholder="กรุณากรอกเรื่อง" readonly>
                </div>
                <div class="col-1" *ngIf="item.type == 'คำถามปลายเปิด'">
                  <i class="align-middle mr-2 fas fa-fw fa-pen pointer"></i>
                </div>

              </div>
            </div>
          </div> -->


          <!-- <div class="row">
            <div class="col-md-6">
              <u>ไฟล์แนบ</u><br>
              <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6"></a>
              <span
                *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index">ไฟล์ที่ {{i+1}})
                {{ item2.name }}<br></span>
              </a>
            </div>
          </div> -->

          <div class="row" style="margin-top: -30px;">
            <div class="col-md-6">
              <button *ngIf="role_id == 3" type="button" class="btn btn-info"
                (click)="openModal(modalcreatesuject)">เพิ่มประเด็น</button>
            </div>
          </div>
          <br>

          <div class="form-group col-12" *ngIf="role_id == 3">
            <div class="mb-3">
              <input type="radio" name="step" value="มอบหมายจังหวัด" checked
                [checked]="centralpolicyprovincedata.step == 'มอบหมายจังหวัด'" formControlName="step">
              <label style="margin-left: 10px;">มอบหมายให้จังหวัด</label>
              <input style="margin-left: 10px;" type="radio" name="step" value="มอบหมายหน่วยงาน"
                [checked]="centralpolicyprovincedata.step == 'มอบหมายหน่วยงาน'" formControlName="step">
              <label style="margin-left: 10px;">ไม่มอบหมายให้จังหวัด</label>
            </div>
          </div>

          <div class="form-group col-12" *ngIf="role_id == 3">
            <div class="mb-3">
              <input type="radio" name="status" value="ร่างกำหนดการ" checked
                [checked]="centralpolicyprovincedata.status == 'ร่างกำหนดการ'" formControlName="status">
              <label style="margin-left: 10px;">ร่างกำหนดการ</label>
              <input style="margin-left: 10px;" type="radio" name="status" value="ใช้งานจริง"
                [checked]="centralpolicyprovincedata.status == 'ใช้งานจริง'" formControlName="status">
              <label style="margin-left: 10px;">ใช้งานจริง</label>
            </div>
          </div>

          <br>

          <div class="row">
            <h4 style="margin-left: 10px;">คำถามภาคประชาชน</h4>
            <button class="btn btn-success" style="margin-top: -5px; margin-left: 10px; margin-bottom: 10px;"
              (click)="openAnswerModal(answerPeopleModal)">ดูคำตอบ</button>
          </div>
          <textarea cols="30" rows="5" class="form-control" *ngIf="role_id == 3" placeholder="คำถามภาคประชาชน"
            formControlName="questionPeople" name="questionPeople"></textarea>

          <textarea cols="30" rows="5" class="form-control" *ngIf="role_id == 5" disabled placeholder="คำถามภาคประชาชน"
            formControlName="questionPeople" name="questionPeople"></textarea>

          <br>
          <div class="row">
            <div class="col-md-12">
              <u>ไฟล์แนบแผนการตรวจราชการ</u><br>
              <div class="row" *ngFor="let item2 of resultdetailcentralpolicy.centralPolicyFiles; let i = index"
                style="margin-top: 10px;">
                <a download href="{{downloadUrl}}/{{item2.name}}" class="col-6">
                  <span>ไฟล์ที่
                    {{i+1}})
                    {{ item2.name }}<br>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label *ngIf="role_id == 3" class="form-label w-100" style="margin-top: 30px;">แนบไฟล์กำหนดการตรวจ</label>
            <input *ngIf="role_id == 3" type="file" multiple (change)="uploadFile($event)" style="margin-bottom: 10px;">
            <div class="col-4">
              <select class="selectpicker form-control" data-live-search="true"
                (change)="checkType($event.target.value)" formControlName="fileType">
                <option value="เลือกประเภทเอกสารแนบ" selected>เลือกประเภทเอกสารแนบ</option>
                <option value="Calendar Image File">รูปภาพ</option>
                <option value="Calendar File">ไฟล์เอกสาร</option>
              </select>
            </div>
            <div class="col-8">
              <textarea *ngIf="fileType == 'Calendar Image File'" cols="30" rows="5" class="form-control"
                placeholder="กรุณาใส่คำอธิบายรูปภาพ" style="margin-top: 10px;" formControlName="description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
              <u>ไฟล์แนบกำหนดการตรวจ</u><br>
              <div class="row" *ngFor="let item of carlendarFile; let i = index" style="margin-top: 10px;">
                <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                  <span>ไฟล์ที่
                    {{i+1}})
                    {{ item.name }}<br>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <label *ngIf="role_id == 3 && signatureFile.length <= 0" class="form-label w-100"
            style="margin-top: 30px;">แนบไฟล์ลายมือชื่อ</label>
          <input *ngIf="role_id == 3 && signatureFile.length <= 0" type="file" multiple (change)="uploadFile2($event)"
            style="margin-bottom: 10px;">

          <div class="row">
            <div class="col-md-12" style="margin-top: 10px;">
              <u>ไฟล์แนบลายมือชื่อ</u><br>
              <div class="row" *ngFor="let item of signatureFile; let i = index" style="margin-top: 10px;">
                <a download href="{{downloadUrl}}/{{item.name}}" class="col-6">
                  <span>ไฟล์ที่
                    {{i+1}})
                    {{ item.name }}<br>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="form-group col col-lg-12" style="margin-top: 20px; text-align: center;">
            <button *ngIf="role_id == 3" style="align-self: center;" type="submit" class="btn btn-primary"
              style="margin-right: 45px;">บันทึก</button>

            <button *ngIf="role_id == 5" style="align-self: center;" type="button" class="btn btn-primary"
              (click)="back()" style="margin-right: 45px;">บันทึก</button>
            <!-- <button style="align-self: center;" type="submit" class="btn btn-danger">ยกเลิก</button> -->
            <button type="button" class="btn btn-danger" (click)="back()">ยกเลิก</button>
          </div>
          <!-- <div class="col-12 col-xl-12">
            <div class="form-group">
              <label class="form-label w-100">แนบไฟล์เพิ่มเติม</label>
              <input type="file">
              <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
            </div>
          </div> -->

          <!-- <div class="form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">บันทึก</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-danger">ยกเลิก</button>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<ng-template #modaldelsubject class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deletesubject(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldelquestion class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deletequestion(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modaldeloption class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteoption(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modalInvitePeopleAnswer class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form3" (ngSubmit)="storepeopleanswer(Form3.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เชิญที่ปรึกษาผู้ตรวจราชการภาคประชาชน</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลิกที่ปรึกษาผู้ตรวจราชการภาคประชาชน" [multiple]="true" [options]="peopleanswer"
          name="peopleanswer" formControlName="peopleanswer" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalInviteDepartment class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form2" (ngSubmit)="storeDepartment(Form2.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เชิญหน่วยงานเพิ่มเติม</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="department" name="DepartmentId"
          formControlName="DepartmentId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->


<!-- BEGIN primary modal -->
<ng-template #modalInvitePeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storePeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectdatapeople"
          name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modalInviteMinistryPeople class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <form [formGroup]="Form" (ngSubmit)="storeMinistryPeople(Form.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการผู้ตรวจการ</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectdataministrypeople"
          name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>
<!-- END primary modal -->

<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="margin-bottom: -40px;">
        <h5 class="card-title">เพิ่มผู้ตรวจ</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form" (ngSubmit)="storeUser(Form.value)">
          <div class="row">
            <div class="col-12 col-xl-12">
              <br>

              <div class="form-group">
                <label>เรื่อง* </label>
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.title}}" readonly>
              </div>
            </div>
            <div class="col-12 col-xl-12">
              <label>กำหนดระยะเวลา*</label>
            </div>
            <div class="col-12 col-xl-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.startDate | date: 'dd/MM/yyyy' }}" readonly>
              </div>
            </div>

            <div class="col-12 col-xl-1">
              <div class="form-group" align="center">
                ถึง
              </div>
            </div>

            <div class="col-12 col-xl-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง"
                  value="{{resultdetailcentralpolicy.endDate | date: 'dd/MM/yyyy'}}" readonly>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <label>เชิญ กระทรวง/กรม*</label>
              <div class="form-row">
                <label class="form-group col-md-1 text-sm-center">
                  1.
                </label>
                <div class="form-group col-md-4">
                  <div class="mb-3">

                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 col-xl-12">
              <label>เชิญ ภาคประชาชน*</label>
              <div class="form-row">
                <label class="form-group col-md-1 text-sm-center">
                  1.
                </label>

                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <ng-select placeholder="กรุณาเลือกชื่อ-นามสกุล" [multiple]="true" [options]="selectpeople"
                      name="UserPeopleId" formControlName="UserPeopleId" [allowClear]="true">
                    </ng-select>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label>ประเด็น*</label>
                <div *ngFor="let item of resultdetailcentralpolicy.subjects; let i = index" class="row">
                  <div class="col-1 text-center">
                    {{ i + 1 }}.
                  </div>
                  <div class="col-11">
                    <input type="text" class="form-control" placeholder="กรุณากรอกเรื่อง" value="{{item.name}}"
                      readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-12">
              <div class="form-group">
                <label class="form-label w-100">แนบไฟล์</label>
                <input type="file">
                <small class="form-text text-muted">สำหรับแนบไฟล์ ฯลฯ.</small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>
              <div class="col-sm-5 ml-sm-auto">
                <button type="submit" class="btn btn-danger">ยกเลิก</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- BEGIN primary modal -->
<ng-template #modaleditsubquestionclose class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="EditForm" (ngSubmit)="editsubquestionclose(EditForm.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำถามปลายปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถามปลายปิด</label>
          <input type="text" value="{{subquestionclosename}}" formControlName="subquestionclose" class="form-control"
            placeholder="กรุณากรอกคำถามปลายปิด">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #modaleditsubquestionclosechoice class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="EditForm2" (ngSubmit)="editsubquestionclosechoice(EditForm2.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำถามปลายปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถามปลายปิด</label>
          <input type="text" value="{{subquestionclosechoicename}}" formControlName="subquestionclosechoice"
            class="form-control" placeholder="กรุณากรอกคำถามปลายปิด">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #modaleditsubject class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="EditForm3" (ngSubmit)="editsubject(EditForm3.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการเรื่องประเด็น</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">เรื่องประเด็น</label>
          <input type="text" value="{{subject}}" formControlName="subject" class="form-control"
            placeholder="กรุณากรอกเรื่องประเด็น">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #modaleditsubjectquestionopen class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="EditForm4" (ngSubmit)="editsubjectquestionopen(EditForm4.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำถามปลายเปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำถามปลายเปิด</label>
          <input type="text" value="{{subjectquestionopen}}" formControlName="subjectquestionopen" class="form-control"
            placeholder="กรุณากรอกคำถามปลายเปิด">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- BEGIN primary modal -->
<ng-template #modaldeleteProvincial class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deleteProvinceial(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->

<!-- BEGIN primary modal -->
<ng-template #modaldeletepeopleanswer class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
    <i class="fa fa-info-circle delete-icon"></i>
    <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
      ลบข้อมูล
    </p>
    <p style="font-size: medium; color: #545454;">
      คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
    </p>
    <button type="button" class="btn btn-primary btnMargin" (click)="deletepeopleanswer(delid)">
      ใช่
    </button>
    <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
      ไม่ใช่
    </button>
  </div>
</ng-template>
<!-- END primary modal -->
<!-- BEGIN primary modal -->
<ng-template #modalcreatesuject class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- <div class="modal-body" style="background-color: white; border-radius: 5px;"> -->
  <form [formGroup]="AddForm" (ngSubmit)="storeSubject(AddForm.value)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการประเด็น</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="form-group">
              <label>ชื่อประเด็นนโยบาย</label>
              <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อประเด็นนโยบาย">
            </div>

            <div class="form-group">
              <label>พื้นที่ดำเนินการ</label>
              <div formArrayName="inputsubjectdepartment">
                <div *ngFor="let V of AddForm['controls'].inputsubjectdepartment['controls']; let iv=index">
                  <div formGroupName="{{iv}}">
                    <div class="row">
                      <div class="col-2">
                        <label>หน่วยงานที่เกี่ยวข้อง</label>
                      </div>
                      <div class="col-1" *ngIf="iv == 0; else elseBlock">
                        <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addV()" value="Add V"></i>
                      </div>
                      <ng-template #elseBlock>
                        <div class="col-1">
                          <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeV(iv)"
                            value="Add V"></i>
                        </div>
                      </ng-template>
                    </div>
                    <ng-select placeholder="กรุณาหน่วยงาน" [multiple]="true" [options]="temp"
                      formControlName="departmentId" (selected)="addsubjectdepartment2($event,'add')"
                      (deselected)="addsubjectdepartment2($event,'remove')" [allowClear]="true">
                    </ng-select>
                    <br>
                    <br>
                    <label>คำถามย่อย</label>
                    <br>
                    <label>คำถามปลายเปิด</label>
                    <div formArrayName="inputquestionopen">
                      <!-- <div *ngFor="let W of Form['controls'].inputquestionopen['controls']; let iw=index"> -->
                      <div *ngFor="let W of V['controls'].inputquestionopen['controls']; let iw=index">
                        <div formGroupName="{{iw}}">
                          <div class="row">
                            <div class="col-11 col-xl-11">
                              <input type="text" formControlName="questionopen" class="form-control"
                                placeholder="กรุณากรอกคำถาม">
                            </div>
                            <div class="col-1">
                              <div class="col-1 margin-plus-icon" *ngIf="iw == 0; else elseBlock">
                                <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addW(iv)"
                                  value="Add W"></i>
                              </div>
                              <ng-template #elseBlock>
                                <div class="col-1 margin-plus-icon">
                                  <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeW(iv,iw)"
                                    value="Add X"></i>
                                </div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label>คำถามปลายปิด</label>
                    <div formArrayName="inputquestionclose">
                      <div *ngFor="let X of V['controls'].inputquestionclose['controls']; let ix=index">
                        <div formGroupName="{{ix}}">
                          <div class="row">
                            <div class="col-11 col-xl-11">
                              <input type="text" formControlName="questionclose" class="form-control"
                                placeholder="กรุณากรอกคำถาม">
                            </div>
                            <div class="col-1">
                              <div class="col-1 margin-plus-icon" *ngIf="ix == 0; else elseBlock">
                                <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addX(iv)"
                                  value="Add X"></i>
                              </div>
                              <ng-template #elseBlock>
                                <div class="col-1 margin-plus-icon">
                                  <i class="align-middle mr-2 far fa-fw fa-minus-square" (click)="removeX(iv,ix)"
                                    value="Add X"></i>
                                </div>
                              </ng-template>
                            </div>
                          </div>
                          <div formArrayName="inputanswerclose">
                            <div *ngFor="let Y of X['controls'].inputanswerclose['controls']; let iy=index">
                              <div formGroupName="{{iy}}">
                                <div class="row">
                                  <div class="col-9 col-xl-9">
                                    <input type="text" formControlName="answerclose" class="form-control"
                                      placeholder="กรุณากรอกคำตอบให้เลือก">
                                  </div>
                                  <div class="col-1">
                                    <div class="col-1 margin-plus-icon" *ngIf="iy == 0; else elseBlock">
                                      <i class="align-middle mr-2 far fa-fw fa-plus-square" (click)="addY(iv,ix)"
                                        value="Add Y"></i>
                                    </div>
                                    <ng-template #elseBlock>
                                      <div class="col-1 margin-plus-icon">
                                        <i class="align-middle mr-2 far fa-fw fa-minus-square"
                                          (click)="removeY(iv,ix,iy)" value="Add Y"></i>
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-5 ml-sm-auto">
              <button type="submit" class="btn btn-primary">บันทึก</button>
            </div>
            <div class="col-sm-5 ml-sm-auto">
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- </div> -->
</ng-template>

<ng-template #modalEditAnswer class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form [formGroup]="editAnswerForm" (ngSubmit)="editAnswer(editAnswerForm.value,editid)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">จัดการคำตอบปลายเปิด</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="form-group">
          <label for="test" class="form-label">คำตอบปลายเปิด</label>
          <input type="text" value="{{answer}}" formControlName="answer" class="form-control"
            placeholder="กรุณากรอกคำถามปลายเปิด">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #answerPeopleModal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">คำตอบภาคประชาชน</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body xl-12">
      <div class="col-12 col-xl-12">
        <div class="form-group">
          <div class="row" *ngFor="let items of answerData; let i = index" style="margin-bottom: 15px; width: 100%;">
            <!-- <div class="col-1">
              <i class="fa fa-user-circle" style="font-size: 45px;padding: 0px 10px;"></i>
            </div> -->
            <div class="col-12" style="padding: 10px 20px 20px 20px;
                  background-color: #f4f4f4;
                  border-radius: 15px;">
              <u>คำตอบ</u>
              <label style="margin-left: 5px;">#{{i+1}}</label>
              <br>
              <label style="word-break: break-all;">{{items.answer}}</label><br>
              <small style="color:gray; position: relative;
                  bottom: -9px;">ชื่อ : {{items.user.name}} ตำแหน่ง : {{items.user.position}} เบอร์ติดต่อ :
                {{items.user.phoneNumber}}</small><br>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
    </div>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>