<div class="header">
    <h1 class="header-title">
        ระบบตรวจราชการอิเล็กทรอนิกส์
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">ทะเบียนรายชื่อคณะกรรมการธรรมาภิบาลจังหวัด</a></li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -20px;">
                <h5 class="card-title">ทะเบียนรายชื่อคณะกรรมการธรรมาภิบาลจังหวัด</h5>
                <!-- <div class="float-right">
              <button class="btn btn-primary" (click)="CreateCentralPolicy()"
              style="margin-top: -60px;">เพิ่มแผนตรวจราชการประจำปี</button>
            </div> -->
            </div>
            <div class="card-body">
                <!-- <app-cabinet-table></app-cabinet-table> -->
             <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>