<div class="header">
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="['/main']">หน้าหลัก</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/supportgovernment']">ข้อมูลสนับสนุน</a></li>
        <li class="breadcrumb-item active">ข้อมูลสำหรับการปฏิบัติงานของเจ้าหน้าที่ประจำเขตตรวจราชการ</li>
      </ol>
    </nav>
  </div>
  <form class="row">
    <div class="col-12">
      <div class="card card-eiei">
        <div class="card-header" style="margin-bottom: -40px;">
          <h5 class="card-title">ข้อมูลสำหรับการปฏิบัติงานของเจ้าหน้าที่ประจำเขตตรวจราชการ</h5>
          <div class="float-right" *ngIf="role_id == 1">
            <button class="btn btn-primary" (click)="openModal(modalInformationoperation)"
              style="margin-top: -60px;">เพิ่มข้อมูล</button>
          </div>
        </div>
        <div class="card-body">
          <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>#</th>
                <th>ประเภทสถานที่</th>
                <th>ชื่อ</th>
                <th>รายละเอียด</th>
                <th>เบอร์</th>
                <th>จังหวัด</th>
                <th>อำเภอ</th>
                <th>ไฟล์แนบ</th>
                <th *ngIf="role_id == 1"><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resultinformationoperation; let i = index">
                <td>{{ i + 1 }}.</td>
                <td>{{ item.location }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.detail }}</td>
                <td>{{ item.tel }}</td>
                <td>{{ item.province }}</td>
                <td>{{ item.district }}</td>
                <td >
                  <a href="assets/InformationoperationFile/{{item.file}}" download>
                    {{item.file}}
                  </a>
                </td>
                <td *ngIf="role_id == 1">                
                    <button class="btn btn-primary btn-pill btn-sm" title="แก้ไขข้อมูล">
                      <i class="align-middle fas fa-fw fa-pen"
                        (click)="openModal(modaleditInformationoperation, item.id, item.location, item.name, item.detail, item.tel, item.province, item.district, item.file)">
                      </i>
                    </button>
                    
                    <button class="btn btn-danger btn-pill btn-sm" title="ลบข้อมูล">
                      <i class="align-middle fas fa-fw fa-trash-alt"
                        (click)="openModal(modaldeleteInformationoperation, item.id, item.location, item.name, item.detail, item.tel, item.province, item.district, item.file)">
                      </i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <!-- BEGIN primary modal -->
    <ng-template #modalInformationoperation class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <form [formGroup]="Form" (ngSubmit)="storeInformationoperation(Form.value)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">เพิ่มข้อมูล</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-3">

            <div class="form-group">
              <label class="form-label">ประเภทสถานที่</label><br>
                <select class="select form-control" formControlName="location"
                [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                  <option value=null>--กรุณาเลือกประเภท--</option>
                  <option value="ที่พัก">ที่พัก</option>
                  <option value="ร้านอาหาร">ร้านอาหาร</option>
                </select>
                <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                  <div *ngIf="f.location.errors.required">กรุณาเลือกประเภท</div>
                </div> 
            </div>

            <div class="form-group">
              <label class="form-label">ชื่อสถานที่ </label>
              <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อสถานที่"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">กรุณากรอกชื่อสถานที่</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">รายละเอียด </label>
              <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกรายละเอียด"
              [ngClass]="{ 'is-invalid': submitted && f.detail.errors }">
              <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
                <div *ngIf="f.detail.errors.required">กรุณากรอกรายละเอียด</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">เบอร์ติดต่อ</label>
              <input type="text" formControlName="tel" class="form-control" placeholder="กรุณากรอกเบอร์ติดต่อ"
              [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" numbersOnly maxlength="10">
              <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                <div *ngIf="f.tel.errors.required">กรุณากรอกเบอร์ติดต่อ</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">จังหวัด </label>
              <input type="text" formControlName="province" class="form-control" placeholder="กรุณากรอกจังหวัด"
              [ngClass]="{ 'is-invalid': submitted && f.province.errors }">
              <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                <div *ngIf="f.province.errors.required">กรุณากรอกจังหวัด</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">อำเภอ </label>
              <input type="text" formControlName="district" class="form-control" placeholder="กรุณากรอกอำเภอ"
              [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
              <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                <div *ngIf="f.district.errors.required">กรุณากรอกอำเภอ</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">ไฟล์แนบ </label><br>
              <input type="file"multiple (change)="uploadFile($event)">
            </div>
           
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">บันทึก</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </form>
      <!-- </div> -->
    </ng-template>
    <!-- END primary modal -->
  
  
    <!-- BEGIN primary modal -->
    <ng-template #modaldeleteInformationoperation class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-body text-center" style="background-color: white; border-radius: 5px;">
        <i class="fa fa-info-circle delete-icon"></i>
        <p style="font-size: xx-large; color: #565656; margin-top: 20px;">
          ลบข้อมูล
        </p>
        <p style="font-size: medium; color: #545454;">
          คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?
        </p>
        <button type="button" class="btn btn-primary btnMargin" (click)="deleteInformationoperation(delid)">
          ใช่
        </button> &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btnMargin" (click)="modalRef.hide()">
          ไม่ใช่
        </button>
      </div>
    </ng-template>
    <!-- END primary modal -->
  
    <!-- BEGIN primary modal -->
    <ng-template #modaleditInformationoperation class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
      <form [formGroup]="Form" (ngSubmit)="editInformationoperation(Form.value,delid)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">แก้ไขข้อมูล</h5><br>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">

          <div class="form-group">
            <label for="test" class="form-label"> ประเภทสถานที่ </label><br>
              <select class="select form-control" value="{{location}}" formControlName="location"
              [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                <option value=null>--กรุณาเลือกประเภท--</option>
                <option value="ที่พัก">ที่พัก</option>
                <option value="ร้านอาหาร">ร้านอาหาร</option>
              </select>
              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">กรุณาเลือกประเภท</div>
              </div> 
          </div>

            <div class="form-group">
              <label class="form-label">ชื่อสถานที่ </label>
              <input type="text" formControlName="name" class="form-control" placeholder="กรุณากรอกชื่อสถานที่"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">กรุณากรอกชื่อสถานที่</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">รายละเอียด </label>
              <input type="text" formControlName="detail" class="form-control" placeholder="กรุณากรอกรายละเอียด"
              [ngClass]="{ 'is-invalid': submitted && f.detail.errors }">
              <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
                <div *ngIf="f.detail.errors.required">กรุณากรอกรายละเอียด</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">เบอร์ติดต่อ</label>
              <input type="text" formControlName="tel" class="form-control" placeholder="กรุณากรอกเบอร์ติดต่อ"
              [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" numbersOnly maxlength="10">
              <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                <div *ngIf="f.tel.errors.required">กรุณากรอกเบอร์ติดต่อ</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">จังหวัด </label>
              <input type="text" formControlName="province" class="form-control" placeholder="กรุณากรอกจังหวัด"
              [ngClass]="{ 'is-invalid': submitted && f.province.errors }">
              <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                <div *ngIf="f.province.errors.required">กรุณากรอกจังหวัด</div>
              </div>  
            </div>

            <div class="form-group">
              <label class="form-label">อำเภอ </label>
              <input type="text" formControlName="district" class="form-control" placeholder="กรุณากรอกอำเภอ"
              [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
              <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                <div *ngIf="f.district.errors.required">กรุณากรอกอำเภอ</div>
              </div>  
            </div>
            <div class="form-group">
              <label  class="form-label">ไฟล์แนบ </label><br>
              <a href="assets/InformationoperationFile/{{file}}" style="cursor: pointer;" download>
                <label>{{file}}</label>
              </a><br>
              <input type="file" >
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </form>
  <!-- </div> -->
  </ng-template>
  <!-- END primary modal -->

  