<div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">

        <div class="text-center">
          <img src="{{downloadUrl}}/logo01.png" class="img-fluid rounded-circle mb-2" width="132" height="132" />
          <p style="font-size:16px;">ระบบตรวจราชการอิเล็กทรอนิกส์</p>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <i class="fas fa-check-circle mb-3" style="font-size: 70px; color: green;"></i>
                <br>
                <label style="font-size:large; font-weight: 600;">คุณ ได้ลงทะเบียน</label><br>
                <label style="font-size:large; font-weight: 600;">โครงการ {{trainingName}}</label><br>
                <label style="font-size:large; font-weight: 600; color: green;">เข้าร่วมอบรมเรียบร้อย</label>
              </div>
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="btn btn-lg btn-primary" style="color: white;" (click)="accept()">ตกลง</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
