<div class="header">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/main">หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">ประเด็นการตรวจติดตาม</a></li>
      <li class="breadcrumb-item active" aria-current="page">เรื่องที่ตรวจ</li>
    </ol>
  </nav>
</div>

<div class="col-12">
  <div class="card card-eiei">
    <div class="card-header" style="margin-bottom: -40px;">
      <!-- <h5 class="card-title">ประเด็นนโยบาย : {{resultcentralpolicy.title}}</h5> -->
      <br>
      <div class="float-right">
        <!-- <button class="btn btn-primary" (click)="Subquestion()" style="margin-top: -60px;">เพิ่มประเด็นนโยบาย</button> -->
      </div>
    </div>
    <div class="card-body">
      <table *ngIf="loading" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th width="10%">ที่</th>
            <th width="60%">หัวข้อการตรวจ</th>
            <!-- <th>ระยะเวลา</th> -->
            <th width="20%">สถานะ</th>
            <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultsubjectlist; let i = index">
            <td>{{ i + 1 }}</td>
            <!-- <td class="pointer" (click)="Subjectdetail(item.id)">{{ item.name }}</td>  -->
            <!-- (click)="Subquestion()" -->
            <td>
              <span style="font-weight: 1000;">{{ item.name }}</span>
              <br>
              <!-- <label class="form-text">ลิ้งค์บุคคลภายนอก</label> -->
              <!-- <a class="form-control">{{urllink}}{{item.id}}</a> -->
              <!-- <div class="input-group">
                <input class="col-10" type="text" value="{{urllink}}{{item.id}}/{{userid}}" #userinput>
                &nbsp;
                &nbsp;
                <i class="align-middle mr-2 fas fa-copy" style="font-size: large; cursor: pointer;"
                  (click)="copyInputMessage(userinput)" title="คัดลอก"></i>

              </div> -->
            </td>
            <!-- <td>
              <div *ngFor="let item2 of item.subjectDateCentralPolicyProvinces;">
                {{ item2.centralPolicyDateProvince.startDate | thaidate: 'year' }} -
                {{ item2.centralPolicyDateProvince.endDate | thaidate: 'year' }}</div>
            </td> -->
            <!-- <td>{{item.status}}</td> -->
            <td *ngIf="item.answerSubquestionStatuses.length == 0; else elseBlock">รอการตอบคำถาม</td>
            <ng-template #elseBlock>
              <td *ngIf="item.answerSubquestionStatuses[0].status == 'ร่างกำหนดการ'">ร่างคำตอบแล้ว</td>
              <td *ngIf="item.answerSubquestionStatuses[0].status == 'ใช้งานจริง'">ใช้คำตอบแล้ว</td>
            </ng-template>
            <td>
              <i title="ตอบประเด็นการตรวจ" class=" align-middle mr-2 fas fa-fw fa-clipboard-list pointer"
                (click)="Subjectdetail(item.id)"></i>
              <!-- <i class="align-middle mr-2 fas fa-fw fa-search pointer" (click)="Subjectdetail(item.id)"></i> -->
              <!-- <i class="align-middle mr-2 fas fa-fw fa-pen pointer" (click)="EditSubject(item.id)"></i>
                <i class="align-middle mr-2 fas fa-fw fa-trash-alt pointer"
                  (click)="openModal(modaldeleteSubject, item.id)"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>