<div class="header">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">คณะรัฐมนตรี</a></li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-eiei">
           
                <!-- <app-cabinet-table></app-cabinet-table> -->
                <app-minister-table  >
                </app-minister-table>
            
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>